<div class="panel-body" ng-controller="BarChartCtrl">
	<ul class="input-controls">
		
		<div>
			<p><b> BarChartTool Title</b></p>
			<input  style = "width : 100%" type="text"
					placeholder="Default" 
					ng-model="service.queryObject.BarChartTool.title" 
					ng-change="setTitle(service.queryObject.BarChartTool.title)"/>
		</div>
		
		<div>
		<ul class="input-controls">
<!-- 			<li class="tool-list-control-element"> -->
<!-- 			<span class="tool-label">Height Column(s)</span> -->

			Height Columns
			<div >
			<select style = "width : 100%" 
					class="widget-ui-control" 
					ui-select2  
					ng-model="service.queryObject.BarChartTool.heights" 
					multiple  
					data-placeholder="Choose Height Column(s)"
					ng-change="setHeights()">
				<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
			</select>
			</div>
			<br>
			
<!-- 			</li> -->
			
<!-- 			<li class="tool-list-control-element"> -->
<!-- 			<span>Sort Column</span> -->

			Sort Column
			<div>
				<select  style = "width : 100%" 
						 class="widget-ui-control" 
						 ui-select2
						 ng-model="service.queryObject.BarChartTool.sort" 
						 ng-change="setSort(service.queryObject.BarChartTool.sort)"
						 data-placeholder="Choose Sort Column">
					<option></option>
				<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
				</select>
			</div>
			
			<br>
			
			Label Column
			<div>
				<select  style = "width : 100%" 
						 class="widget-ui-control" 
						 ui-select2 
						 ng-model="service.queryObject.BarChartTool.label" 
						 data-placeholder="Choose Label Column"
						 ng-change="setLabel(service.queryObject.BarChartTool.sort)">
				<option></option>
				<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
			</select>
			</div>
			
		</ul>
			
		</div>
		
</div>

