<!-- Data Dialog Template
		Shows the data tables from the Weave hierarchies 
 -->

<div class="modal-header">
  <h4>Data Hierarchies</h4>
</div>
<div id="dataDialog" title="Data" class="modal-body"> 
          <div id="dbhierarchy"> 
            Data Tables: <br> <select id="dataTables" ng-model="data.dataTables"></select><br> 
            Columns: <br><select id="columns" ng-model="data.dataColumns">
            	<option value="{{opt}}" ng-repeat="opt in a">{{opt}}</option>
            </select>  
          </div> 
</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn btn-primary" >Close</button>
</div>