
<div class="panel-body" ng-controller="DataTableCtrl">
	<ul class="input-controls">
		
		<tr>	
			<td>
				<input   type="checkbox"
						 ng-model="toolProperties.enabled"/>
			</td>
			
			<td style="padding-left: 5px;">
				Enable
			</td>
		</tr>
		<div class="portlet-content">
			<!--<select style="width: 100%" id="duallistboxid" dual-list-box multiple ng-model="selected" data-placeholder="Choose Columns"
			ng-options="opt for opt in options"></select>-->

<!-- 			<select -->
<!-- 			multiple -->
<!-- 			dual-list-box> -->
<!-- 			<option></option> -->
<!-- 			<option ng-repeat="dt in options" value="{{dt}}">{{dt.title}}</option> -->
<!-- 			</select> -->
			
			<select style = "width : 100%" 
								ui-select2="{allowClear : true}" 
								ng-model="toolProperties.columns" 
							multiple  
							data-placeholder="Choose Column(s)">
					<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
   						 <option ng-repeat="column in columns" value="{{column}}">{{column.name}}</option>
  					</optgroup>
			</select>

			<!--<span>Data Table</span>
			<select ui-select2-"{allowClear : true}" ng-model="dataTable" style=width:200px;>
			<option></option>
			<option ng-repeat="dt in dataTableList" value="{{dt}}">{{dt.title}}</option>
			</select>-->

			<!--
			<select
			ng-model="dataTable"
			multiple
			ng-options="dt.title for dt in dataTableList"
			bs-duallistbox>
			</select>
			-->

		</div>
	</ul>
</div>