
<div class="panel-body" ng-controller="DataTableCtrl">
	<ul class="input-controls">
		
		<tr>	
			<td>
				<input   type="checkbox"
						 ng-model="tool.enabled"/>
			</td>
			
			<td style="padding-left: 5px;">
				Enable
			</td>
		</tr>
		<div class="portlet-content">
			<ui-select  ng-model="tool.columns" multiple theme="select2" style="width: 100%;">
		    	<ui-select-match allow-clear="true" placeholder="Choose Column(s)...">{{$item.title}}</ui-select-match>
				<ui-select-choices group-by="'dataSourceName'" repeat="column in queryService.queryObject.resultSet | filter : { title : $select.search }">
		       		 <div ng-bind-html="column.title| highlight: $select.search"></div>
		        </ui-select-choices>
			</ui-select>
		</div>
	</ul>
</div>