<div style="height: 100%" ng-controller="CrossTabCtrl">
		
	<div style="padding:20px">
		<br>
		
		<ui-select ng-model="queryService.queryObject.dataTable" theme="select2" style="width: 20%;">
		    <ui-select-match allow-clear="true" placeholder="Select a data table...">{{$select.selected.title}}</ui-select-match>
			<ui-select-choices repeat="dataTable in queryService.cache.dataTableList | filter : { title : $select.search }">
			       		 <div ng-bind-html="dataTable.title | highlight: $select.search"></div>
			        </ui-select-choices>
		</ui-select>

		<ui-select ng-model="queryService.crossTabQuery.filters[0].column" theme="select2" style="width: 10%;">
	    	<ui-select-match allow-clear="true" placeholder="Filter By...">{{$select.selected.title}}</ui-select-match>
			<ui-select-choices repeat="column in queryService.cache.columns | filter : { title : $select.search }">
	       		 <div ng-bind-html="column.title | highlight: $select.search"></div>
	        </ui-select-choices>
		</ui-select>
		
		<ui-select ng-model="queryService.crossTabQuery.filters[0].option" theme="select2" style="width: 10%;">
	    	<ui-select-match allow-clear="true" placeholder="Value">{{$select.selected.label}}</ui-select-match>
			<ui-select-choices repeat="filterOption in firstFilterMetadata | filter : { label : $select.search }">
	       		 <div ng-bind-html="filterOption.label | highlight: $select.search"></div>
	        </ui-select-choices>
		</ui-select>
		
		<ui-select ng-model="queryService.crossTabQuery.filters[1].column" theme="select2" style="width: 10%;">
	    	<ui-select-match allow-clear="true" placeholder="Filter By...">{{$select.selected.title}}</ui-select-match>
			<ui-select-choices repeat="column in queryService.cache.columns | filter : { title : $select.search }">
	       		 <div ng-bind-html="column.title | highlight: $select.search"></div>
	        </ui-select-choices>
		</ui-select>
		
		<ui-select ng-model="queryService.crossTabQuery.filters[1].option" theme="select2" style="width: 10%;">
	    	<ui-select-match allow-clear="true" placeholder="Value">{{$select.selected.label}}</ui-select-match>
			<ui-select-choices repeat="filterOption in secondFilterMetadata | filter : { label : $select.search }">
	       		 <div ng-bind-html="filterOption.label | highlight: $select.search"></div>
	        </ui-select-choices>
		</ui-select>
		
		<div class="row" style="clear: both">
			<div class="databox" style="width: 100%; padding:20px; height:50%">
				<!-- <div class="databox" style="width: 200px;"> -->
				<div class=" header panel-heading">
					<h2>Select Row:</h2>
				</div>
				<div class="body" style="width: 100%">
					<h5 class="widget-description "><i style="font-size: 12px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i>{{rowInfo}}</h5>
					<div class="">
						<ui-select ng-model="queryService.crossTabQuery.row" theme="select2"  style="width : 100%">
					    	<ui-select-match allow-clear="true" placeholder="Choose Indicator...">{{$select.selected.description || $select.selected.title}}</ui-select-match>
							<ui-select-choices repeat="column in queryService.cache.columns | filter : { columnType : 'indicator', title : $select.search }">
					       		 <b ng-bind-html="column.title | highlight: $select.search"></b>
					       		 <small>
					       		 	{{column.description}}
					       		 </small>
					        </ui-select-choices>
						</ui-select>
					
						<table border="border: 1px solid #0000FF"  ng-show="rVarValues" style="width:100%; padding-top:10px">
							<tr> 
								<td  align="center">
									<b>Value</b>
								</td>
								<td  align="center">
									<b>Description</b>
								</td>
							 </tr>
							<tr ng-repeat="varValue in rVarValues">
								<td width= "10%" style="padding-left: 5px; align="center"> {{varValue.value}} </td> 
								<td width= "40%" style="padding-left: 5px" padding="20%"> {{varValue.label}} </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row" style="clear: both">
			<div class="databox" style="width: 100%; padding:20px; height:50%">
				<!-- <div class="databox" style="width: 200px;"> -->
				<div class=" header panel-heading">
					<h2>Select Column (Optional)</h2>
				</div>
				<div class="body" style="width: 100%">
					<h5 class="widget-description "><i style="font-size: 12px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i>{{columnInfo}}</h5>
					<div class="">
						<ui-select ng-model="queryService.crossTabQuery.column" theme="select2" style="width : 100%">
					    	<ui-select-match allow-clear="true" placeholder="Choose Indicator...">{{$select.selected.description || $select.selected.title}}</ui-select-match>
							<ui-select-choices repeat="column in queryService.cache.columns | filter : { columnType : 'indicator', title : $select.search }">
					       		 <b ng-bind-html="column.title | highlight: $select.search"></b>
					       		 <small>
					       		 	{{column.description}}
					       		 </small>
					        </ui-select-choices>
						</ui-select>
						<table border="border: 1px solid #0000FF"  ng-show="cVarValues" style="width:100%; padding-top:10px">
							<tr> 
								<td  align="center">
									<b>Value</b>
								</td>
								<td  align="center">
									<b>Description</b>
								</td>
							 </tr>
							<tr ng-repeat="varValue in cVarValues">
								<td width= "10%" style="padding-left: 5px; align="center"> {{varValue.value}} </td> 
								<td width= "40%" style="padding-left: 5px" padding="20%"> {{varValue.label}} </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row" style="clear: both">
			<div class="databox" style="width: 100%; padding:20px; height:50%">
				<!-- <div class="databox" style="width: 200px;"> -->
				<div class=" header panel-heading">
					<h2>Select Controls (Optional)</h2>
				</div>
				<div class="body" style="width: 100%">
					<h5 class="widget-description "><i style="font-size: 12px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i>{{controlInfo}}</h5>
					<div class="">
						<table style="width:100%; height:100%">
							<tr>
								<td width="20%" height="10%">
									<b>Control 1: </b>
								</td>
								<td align="left">
									<ui-select ng-model="queryService.crossTabQuery.control1" theme="select2"  style="width : 100%">
								    	<ui-select-match allow-clear="true" placeholder="Select Control...">{{$select.selected.description || $select.selected.title}}</ui-select-match>
										<ui-select-choices repeat="column in queryService.cache.columns | filter : { columnType : 'indicator', title : $select.search }">
								       		 <b ng-bind-html="column.title | highlight: $select.search"></b>
								       		 <small>
								       		 	{{column.description}}
								       		 </small>
								        </ui-select-choices>
									</ui-select>
								</td>
							</tr>
							<tr>
								<td width="20%">
									<b>Control 2: </b>
								</td>
								<td align="left">
									<ui-select ng-model="queryService.crossTabQuery.control2" theme="select2"  style="width : 100%">
								    	<ui-select-match allow-clear="true" placeholder="Select Control...">{{$select.selected.description || $select.selected.title}}</ui-select-match>
										<ui-select-choices repeat="column in queryService.cache.columns | filter : { columnType : 'indicator', title : $select.search }">
								       		 <b ng-bind-html="column.title | highlight: $select.search"></b>
								       		 <small>
								       		 	{{column.description}}
								       		 </small>
								        </ui-select-choices>
									</ui-select>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="clear: both">
			<div class="databox" style="width: 100%; padding:20px; height:50%">
				<div class=" header panel-heading">
					<h2>Select Statistics: </h2>
				</div>
				<div class="body" style="width: 100%">
					<h5 class="widget-description"><i style="font-size: 12px; padding-right: 5px" class="glyphicon glyphicon-info-sign"
					></i>Mouse over for more info</h5>
					<div>
						<table style="width:100%; height:100%; padding:5%">
							<tr>
								<td>
									<span popover="{{sampleSizeInfo}}" popover-trigger="mouseenter" popover-placement="right">
										<input ng-model="queryService.crossTabQuery.sampleSize" ng-init="queryService.crossTabQuery.sampleSize = true" type="checkbox"/> Sample Size 
									</span>
								</td>
								<td>
									<span popover="{{chiSquareInfo}}" popover-trigger="mouseenter" popover-placement="right">
										<input ng-model="queryService.crossTabQuery.chiSquare" type="checkbox"/> Chi Square 
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<span popover="{{rowPercentageInfo}}" popover-trigger="mouseenter" popover-placement="right">
										<input ng-model="queryService.crossTabQuery.rowPercentage" type="checkbox"/> Row Percentage 
									</span>
								</td>
								<td>
									<span popover="{{totalPercentageInfo}}" popover-trigger="mouseenter" popover-placement="right">
										<input ng-model="queryService.crossTabQuery.totalPercentage" type="checkbox"/> Total Percentage 
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<span popover="{{columnPercentageInfo}}" popover-trigger="mouseenter" popover-placement="right">
										<input ng-model="queryService.crossTabQuery.columnPercentage" type="checkbox"/> Column Percentage 
									</span>
								</td>
								<td>
									<span popover="{{weightedSizeInfo}}" popover-trigger="mouseenter" popover-placement="right">
										<input ng-model="queryService.crossTabQuery.weightedSize" type="checkbox"/> Weighted Size 
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		

		<div class="row" style="clear: both">
			<div class="databox" style="width: 100%; padding:20px; height:50%">
				<div class=" header panel-heading">
					<h2>Crosstabulation Options:</h2>
				</div>
				<div class="body" style="width: 100%;">
					<input type="checkbox"/> Include nonresponse categories in the crosstabulation tables.
				</div>
			</div>
		</div>
	</div>	
	<div style="width: 100%; padding:20px; height:10%">
	  	 <button class= 'btn btn-primary btn-sm' ng-click="runReport()">Run Report</button><!-- button controls for editing metadata of a single column -->
	     <button class = 'btn btn-primary btn-sm' ng-click="reset()">Reset</button>
	     <button class = 'btn btn-primary btn-sm' ng-click="showInWeave()" style="float:right">Visualize in Weave</button>
	     {{crossTabStatus}}
	</div>
	<div class="row" style="height: 50%; clear:both; padding-left: 10%; padding-right:10%">
				<table cellspacing="1" cellpadding="7" style="border-style: double; background-color:white">  <!-- border="border: 1px solid #0000FF"> -->
						<tr ng-repeat="row in queryService.crossTabQuery.result" style = "border-style: double">
							<td width= "10%" style="padding-left: 5px; padding-right: 5px; border-style: double" ng-repeat="col in row track by $index">
								{{col}}
							</td>
						</tr>
				</table>
				<br>
	</div>
	
	
	
	
</div>