a
{
    color: #B5D4E7;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a:hover
{
    text-decoration: underline;
    color: #FFFFFF;
}

a.outer
{
    color: #3D5167;
    font-size: 9px;
}

a.outer:hover
{
    color: #3D5167;
}

body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    background-color: white;
}

table
{
    background-color: #6180A3;
    border-style: none;
}

td
{
    padding: 0px;
    font-size: 9px;
    color: #3D5167;
}

table.inner
{
    background-color: #7190B3;
    border: 1px solid #517093;
    border-top: 0px;
    border-left: 0px;
}

table.inner td, table.inner th
{
    border: 1px solid #517093;
    border-bottom: 0px;
    border-right: 0px;
    padding: 0px 5px;
    font-size: 9px;
    color: #FFFFFF;
}

table.inner th
{
    font-size: 10px;
}

b
{
    font-weight: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

code, pre
{
    font-size: 11px;
}

div.logo
{
    background-image: url(images/logo.gif);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    height: 70px;
}

img.linksLogo
{
    width: 88px;
    height: 31px;
}

img.logo
{
    margin: 3px 3px 1px;
}

img.logoBg
{
    width: 690px;
    height: 61px;
}

img.otherLogo
{
}

p.links
{
    text-align: right;
}

p.question
{
    font-weight: bold;
}

p.title
{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    font-weight: bold;
    text-decoration: underline;
}

h1
{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 11px;
}

span.selected
{
    text-decoration: underline;
}

table.logo
{
    background-color: white;
    width: 798px;
    height: 61px;
}

table.mainTable
{
    width: 800px;
    border-style: none;
    background-color: #FFF;
}

table.outer
{
    background-color: #FFF;
}

td.content
{
    font-size: 10px;
    width: 782px;
    height: 400px;
    background-color: #6180A3;
    vertical-align: top;
    color: #FFF;
}

td.copyright
{
    font-size: 9px;
    color: #3D5167;
    text-align: center;
    padding: 9px 9px 9px 9px;
}

td.linksLogo
{
    padding: 0px 15px 6px 3px;
}

td.linksDescription
{
    color: #FFF;
    padding: 0px 2px 6px 2px;
}

td.logo
{
    vertical-align: top;
    text-align: right;
}

td.logoWrapper
{
    border-top: 1px solid #000;
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    border-left: 1px solid #000;
}

li
{
    margin-bottom: 2px;
}

li a:hover
{
    text-decoration: none;
}