<div class="panel-body" ng-controller = "AttributeMenuCtrl">
		
		<ul class="input-controls">
		<table>
			<tr>	
				<td>
					<input   type="checkbox"
							 ng-model="tool.enabled"/>
				</td>
				
				<td style="padding-left: 5px;">
					Enable
				</td>
			</tr>
			<tr>
				<td>
					 Title:
				</td>
				<td style="padding-left: 5px;">
					<input  style = "width : 100%" type="text"
							placeholder="Default" 
							ng-model="tool.title"/>
				</td>
			</tr>
			
			<tr>
				<td>Visualization tool</td>
				<td>
					<ui-select ng-model="tool.selectedTool" multiple theme="select2" style="width: 100%;">
				    	<ui-select-match allow-clear="true" placeholder="Choose Column...">{{$item.title}}</ui-select-match>
						<ui-select-choices group-by="'dataSourceName'" repeat="column in queryService.queryObject.resultSet | filter : { title : $select.search }">
				       		 <div ng-bind-html="column.title | highlight: $select.search"></div>
				        </ui-select-choices>
					</ui-select>
				</td>
			</tr>
			
			
			
			<tr>
			
				<td>
					Attributes
				</td>
			
				<td style="padding-left: 5px;">
					<ui-select ng-if= "analyst.mode == 'computation'" ng-model="tool.attributes" multiple theme="select2" style="width: 100%;">
				    	<ui-select-match allow-clear="true" placeholder="Choose Column...">{{$item.title}}</ui-select-match>
						<ui-select-choices group-by="'dataSourceName'" repeat="column in queryService.queryObject.resultSet | filter : { title : $select.search }">
				       		 <div ng-bind-html="column.title | highlight: $select.search"></div>
				        </ui-select-choices>
					</ui-select>
					
					<ui-select ng-if= "analyst.mode == 'visualize'" ng-model="tool.attributes" multiple theme="select2" style="width: 100%;">
				    	<ui-select-match allow-clear="true" placeholder="Choose Column...">{{$item.title}}</ui-select-match>
						<ui-select-choices group-by="'dataSourceName'" repeat="column in queryService.cache.columns | filter : { title : $select.search }">
				       		 <div ng-bind-html="column.title | highlight: $select.search"></div>
				        </ui-select-choices>
					</ui-select>
				</td>
			</tr>
			
			<tr>
				<td>List Control</td>
				<td>
					
				</td>
			</tr>
		
		
		</table>
	</ul>
</div>

