<div ng-controller="OutputViewManagementController">
	<br>
	<div style="padding-left : 50px"> <br/>
		<div class="panel-heading">
			<h2>View Project Visualization List</h2>
		</div>
		<div class="widget-selectors">
				<input type="radio" ng-model = "projectListMode" value="multiple">View all project visualizations <br/>
				<input type="radio" ng-model = "projectListMode" value="single"> View specific project <br/>
				<tt>mode = {{projectListMode | json}}</tt><br/>
				<select ui-select2 ng-model = "existingProjects" style="width:200px;" data-placeholder="Select a project">
							<option></option>
							<option ng-repeat = "pjt in listOfProjectsforOuput" value = "{{pjt}}">{{pjt}}</option>
				</select>
				<br>

			
		</div>
		<div width="500px" id="viznestable" style="overflow:scroll; height:400px;">
				<ol ui-sortable class="dd-list" ng-model="listItems">
						<li class="dd-item dd3-item" data-id = "15"  ng-repeat="item in listofVisualizations">
							<img width="250px" height="200px" ng-src = {{item}} style="border:1px solid #000000;"></img>
						</li>
				</ol>
			</div>
	</div>
</div>