tags
.DS_Store
WeaveServices/.externalToolBuilders/
.idea/
/WeaveServletUtils/nbproject/private/
/WeaveServices/nbproject/private/
/AWS/nbproject/
/WeaveServices/nbproject/
/WeaveServletUtils/nbproject/
.tern-project
.metadata/
.index
.snap
.data
