[project]
	description = Weave (Web-based Analysis and Visualization Environment)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zachary Maybury (zmaybury)
[access "refs/for/refs/*"]
	read = group user/Zachary Maybury (zmaybury)
	push = group user/Zachary Maybury (zmaybury)
	label-Code-Review = -2..+2 group user/Zachary Maybury (zmaybury)
	label-Verified = -1..+1 group user/Zachary Maybury (zmaybury)
	rebase = group user/Zachary Maybury (zmaybury)
	removeReviewer = group user/Zachary Maybury (zmaybury)
	submit = group user/Zachary Maybury (zmaybury)
[access "refs/heads/*"]
	read = group user/Zachary Maybury (zmaybury)
	create = group user/Zachary Maybury (zmaybury)
	push = +force group user/Zachary Maybury (zmaybury)
	pushMerge = group user/Zachary Maybury (zmaybury)
[access "refs/tags/*"]
	push = +force group user/Zachary Maybury (zmaybury)
	pushTag = group user/Zachary Maybury (zmaybury)
	pushSignedTag = group user/Zachary Maybury (zmaybury)
