[project]
	description = Weave (Web-based Analysis and Visualization Environment)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zmaybury
[access "refs/for/refs/*"]
	read = group user/zmaybury
	push = group user/zmaybury
	label-Code-Review = -2..+2 group user/zmaybury
	label-Verified = -1..+1 group user/zmaybury
	rebase = group user/zmaybury
	removeReviewer = group user/zmaybury
	submit = group user/zmaybury
[access "refs/heads/*"]
	read = group user/zmaybury
	create = group user/zmaybury
	push = +force group user/zmaybury
	pushMerge = group user/zmaybury
[access "refs/tags/*"]
	push = +force group user/zmaybury
	pushTag = group user/zmaybury
	pushSignedTag = group user/zmaybury
