<div ng-if="!authenticationService.authenticated" style="padding-top: 20px; 
	 position:absolute;
     width:300px;
     height:200px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px;"
     ng-enter="authenticationService.authenticate(user, password)">	
	
	<div style = "width : 300px; height : 150px;  border-radius: 10px; background-color: #4C4F53 ;">
		<div style = "width: 15%; height: 75%; float:left">
			<div style = "padding: 30px 20px 20px 20px"><font color= "white"> <i class = "fa fa-user"></i> </font></div>
			<div style = "padding: 0px 20px 20px 20px"><font color= "white"><i class="fa fa-key"></i> </font></div>
		</div>
		
		<div style = "width: 85%; height: 75% ;float:left">
			<div style = "padding: 25px 15px 20px 20px"><input ng-model="user" placeholder = "Username" type="text"/></div>
			<div style = "padding: 0px 20px 20px 20px"><input ng-model="password"  placeholder = "Password" type="password"/></div>
		</div>
		
		<div style = "float:right; margin-right : 25px"> 
					 <button class= "btn btn-primary btn-sm"  ng-click="authenticationService.authenticate(user, password)">Login</button>
 		</div>
	</div>
	
</div> 