<div ng-controller="BarChartToolPanelCtrl">
<div class="portlet-header">
	<span><input type="checkbox" ng-model="enabled"/> {{panelTitle}}</span>
</div>
<div class="portlet-content">
		
	<input type="checkbox" ng-model="enableTitle"/> Title:
	<input type="text" placeholder="Default" ng-model='title'>
	
	Height Column(s)<br>
	<select ui-select2 multiple ng-model="heights" data-placeholder="Choose Height Column(s)">
		<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
	</select>
	<br>Sort Column<br>
	<select ui-select2 ng-model="sort" data-placeholder="Choose Sort Column">
		<option></option>
		<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
	</select>
	<br>Label Column<br>
	<select ui-select2 ng-model="label" data-placeholder="Choose Label Column">
		<option></option>
		<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
	</select>
</div>
</div>