<!-- Data Dialog Template
		Shows the data tables from the Weave hierarchies 
 -->

<div class="modal-header">
	<h4>Data Hierarchies</h4>
</div>
<div id="dataDialog" title="Data" class="modal-body">

	Select a database table: <select ui-select2 ng-model="dataTableSelect.selection" >
		<option value=""></option>
		<option value="{{ opt }}" ng-repeat="opt in options">
		{{ opt.title }}</option>
	</select>
</div>

<div class="modal-footer">
	<button ng-click="close()" class="btn btn-primary">Close</button>
</div>