<div ng-controller="RDBPanelCtrl">
	<div class="portlet-header">
		<span>{{panelTitle}}</span>
	</div>
	<div class="portlet-content">
		<div id="scriptlocation">
			Script Folder Location: <input type="text"
				ng-model="conn.scriptLocation"><br>
		</div><br>
		<div id="dbconnection">
			<b>R DB Connection</b><br>
			SQL Server Type: <select
				id="dataCombobox" ng-model="conn.serverType">
				<option value="MySQL">MySQL</option>
				<option disabled value="PostGreSQL">PostGreSQL</option>
				<option disabled value="MicrosoftSQL">Microsoft SQL Server</option>
				<option disabled value="Oracle">Oracle</option>
			</select> <br> SQL User: <input type="text" ng-model="conn.sqluser"><br>
			SQL Password: <input type="password" ng-model="conn.sqlpass"><br>
			SQL Server IP: <input type="text" ng-model="conn.sqlip"><br>
			SQL Server Port: <input type="text" ng-model="conn.sqlport"><br>
			SQL Schema Name: <input type="text" ng-model="conn.sqldbname"><br>

			<br>
		</div>
	</div>
</div>