<div ng-controller="ScriptOptionsPanelCtrl">
	<div class="portlet-header">
		<span>{{panelTitle}}</span>
	</div>
	<div class="portlet-content">
		<div ng-repeat="input in inputs">
			Select column for {{input.param}}:<select ui-select2
				ng-model="$parent.selection[$index]">
				<option></option>
				<option ng-repeat="opt in options" value="{{opt}}">{{opt.title}}</option>
			</select>
			<div ng-show='$parent.show[$index]'
				ui-slider="$parent.sliderOptions[$index]" ng-model="$parent.selection[$index].range"></div>
		</div>
	</div>