<div ng-controller="ScriptCtrl">
	<div class="portlet-header">
		<span>{{panelTitle}}</span>
	</div>
	<div class="portlet-content">
		Select a script:
		<select ui-select2 ng-model="scriptSelected" data-placeholder="Choose a Script">
			<option value=""></option>
			<option value="{{script}}" ng-repeat="script in scriptList">{{script}}</option>
		</select>
		<br><br>
		<div ng-if="scriptType == 'columns'">
			<div ng-repeat="input in inputs"> <b>{{input.param}} column:</b>
				<select ui-select2 ng-model="$parent.selection[$index]">
						<option></option>
						<option value="{{col.id}}" ng-repeat="col in $parent.columns[input.columnType]" >{{col.publicMetadata.title}}</option>
				</select>
				<div ng-show='$parent.show[$index]'>
	                 <input type="checkbox" ng-model="$parent.enabled[$index]"/> filter
	                 <div ui-slider="$parent.sliderOptions[$index]" ng-if="($parent.filterType[$index] == 'continuous') && $parent.show[$index] && $parent.enabled[$index]" ng-model="$parent.filterValues[$index]"/>
	                 <select ui-select2 multiple ng-if="($parent.filterType[$index] == 'categorical') && $parent.show[$index] && $parent.enabled[$index]" ng-model="$parent.filterValues[$index]" data-placeholder="Choose Filter(s)">
						<option value="{{cat}}" ng-repeat="cat in $parent.categoricalOptions[$index]"> {{cat.label}}</option>
	                 </select>
	            </div>
			</div>
		</div>
		<div ng-if="scriptType == 'inputs'">
			<div ng-repeat="input in inputs"> {{input.param}} value:
				<input type="number"/>
			</div>
		</div>
</div>