<div ng-controller="SelectColumnPanelCtrl">
<div class="portlet-header">
	<span>{{panelTitle}}</span>
</div>
<div class="portlet-content">

	<select ui-select2 multiple ng-model="selection" data-placeholder="Select Columns">
		<option value="{{opt.publicMetadata.title}}" ng-repeat="opt in options">{{opt.publicMetadata.title}}</option>
	</select>
	<br>
	<span class="box" ng-click="toggleShowGrid()">Click to show multi-select grid.</span>
	<div class="gridStyle" ng-grid="gridOptions" ng-show="showGrid" ng-animate="{show:'animate-enter', leave:'animate-enter'}" 
		
	></div>
	

</div>
</div>