<div ng-controller="WeaveVisSelectorPanelCtrl">
<div class="portlet-header">
	<span>{{panelTitle}}</span>
</div>
<div class="portlet-content">

	<input type="checkbox" value="newMap" ng-model="vis.maptool"/> Map Tool <br>
	<input type="checkbox" value="newBarChart" ng-model="vis.barchart"/> Bar Chart Tool <br>
	<input type="checkbox" value="dataTable" ng-model="vis.datatable"/> Data Table <br>
	<input type="checkbox" value="scatterPlot" ng-model="vis.scatterplot"/> Scatter Plot <br>
	

</div>
</div>