<div class="panel-body" ng-controller="BarChartCtrl">
		
		<table>
			<tr>	
				<td>
					<input   type="checkbox"
							 ng-model="service.queryObject.BarChartTool.enabled"/>
				</td>
				
				<td style="padding-left: 5px;">
					Enable
				</td>
			</tr>
			<tr>
				<td>
					 Title:
				</td>
				<td style="padding-left: 5px;">
					<input  style = "width : 100%" type="text"
							placeholder="Default" 
							ng-model="service.queryObject.BarChartTool.title"/>
				</td>
			</tr>
			
			<tr>
			
				<td>
					Heights
				</td>
			
				<td style="padding-left: 5px;">
					<select style = "width : 100%" 
							class="widget-ui-control" 
							ui-select2="{allowClear : true}"  
							ng-model="service.queryObject.BarChartTool.heights" 
							multiple  
							data-placeholder="Choose Column(s)">
							<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
					</select>
				</td>
			</tr>
		
		<tr>
			<td>
				Positive Errors
			</td>
			
			<td style="padding-left: 5px;">
				<select style = "width : 100%" 
							class="widget-ui-control" 
							ui-select2="{allowClear : true}"  
							ng-model="service.queryObject.BarChartTool.posErr" 
							multiple  
							data-placeholder="Choose Column(s)">
							<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
				</select>
			</td>
		</tr>
			
		<tr>
			<td>
				Negative Errors
			</td>
			
			<td style="padding-left: 5px;">
				<select style = "width : 100%" 
							class="widget-ui-control" 
							ui-select2="{allowClear : true}"  
							ng-model="service.queryObject.BarChartTool.negErr" 
							multiple  
							data-placeholder="Choose Column(s)">
							<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
				</select>
			</td>
		</tr>	
			
		<tr>
			<td>
				Sort
			</td>
			
			<td style="padding-left: 5px;">
				<select  style = "width : 100%" 
						 class="widget-ui-control" 
						 ui-select2="{allowClear : true}"
						 ng-model="service.queryObject.BarChartTool.sort" 
						 data-placeholder="Choose Column">
					<option></option>
					<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Label
			</td>
			
			<td style="padding-left: 5px;">
				<select  style = "width : 100%" 
						 class="widget-ui-control" 
						 ui-select2="{allowClear : true}" 
						 ng-model="service.queryObject.BarChartTool.label" 
						 data-placeholder="Choose Column"
						 >
				<option></option>
				<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
			</td>
		</tr>
		<tr>	
			<td>
				<input   type="checkbox"
						 ng-model="service.queryObject.BarChartTool.showAllLabels" 
						 ng-init="service.queryObject.BarChartTool.showAllLabels = true"/>
			</td>
			
			<td style="padding-left: 5px;">
				Show All Axis Labels
			</td>
		</tr>
	</table>
</div>

