<div class="panel-body" ng-controller="BarChartCtrl">
		
		<ul class="input-controls">
		<table>
			<tr>	
				<td>
					<input   type="checkbox"
							 ng-model="toolProperties.enabled"/>
				</td>
				
				<td style="padding-left: 5px;">
					Enable
				</td>
			</tr>
			<tr>
				<td>
					 Title:
				</td>
				<td style="padding-left: 5px;">
					<input  style = "width : 100%" type="text"
							placeholder="Default" 
							ng-model="toolProperties.title"/>
				</td>
			</tr>
			
			<tr>
			
				<td>
					Heights
				</td>
			
				<td style="padding-left: 5px;">
					<select style = "width : 100%" 
								ui-select2="{allowClear : true}" 
							ng-model="toolProperties.heights" 
							multiple  
							data-placeholder="Choose Column(s)">
						<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
   						 <option ng-repeat="column in columns" value="{{column}}">{{column.name}}</option>
	  					</optgroup>
					</select>
				</td>
			</tr>
		
		<tr>
			<td>
				Positive Errors
			</td>
			
			<td style="padding-left: 5px;">
				<select style = "width : 100%" 
								ui-select2="{allowClear : true}" 
								ng-model="toolProperties.posErr" 
							multiple  
							data-placeholder="Choose Column(s)">
					<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
   						 <option ng-repeat="column in columns" value="{{column}}">{{column.name}}</option>
  					</optgroup>
				</select>
			</td>
		</tr>
			
		<tr>
			<td>
				Negative Errors
			</td>
			
			<td style="padding-left: 5px;">
				<select style = "width : 100%" 
								ui-select2="{allowClear : true}" 
								ng-model="toolProperties.negErr" 
							multiple  
							data-placeholder="Choose Column(s)">
					<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
   						 <option ng-repeat="column in columns" value="{{column}}">{{column.name}}</option>
  					</optgroup>
				</select>
			</td>
		</tr>	
			
		<tr>
			<td>
				Sort
			</td>
			
			<td style="padding-left: 5px;">
				<select style = "width : 100%" 
								ui-select2="{allowClear : true}" 
								ng-model="toolProperties.sort" 
							data-placeholder="Choose Column">
					<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
   						 <option ng-repeat="column in columns" value="{{column}}">{{column.name}}</option>
  					</optgroup>
				</select>
			</td>
		</tr>
		
		<tr>
			<td>
				Label
			</td>
			
			<td style="padding-left: 5px;">
				<select style = "width : 100%" 
								ui-select2="{allowClear : true}" 
								ng-model="toolProperties.label" 
							data-placeholder="Choose Column">
					<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
   						 <option ng-repeat="column in columns" value="{{column}}">{{column.name}}</option>
  					</optgroup>
				</select>
			</td>
		</tr>
		<tr>	
			<td>
				<input   type="checkbox"
						 ng-model="toolProperties.showAllLabels" 
						 ng-init="toolProperties.showAllLabels = true"/>
			</td>
			
			<td style="padding-left: 5px;">
				Show All Axis Labels
			</td>
		</tr>
		</table>
	</ul>
</div>

