<div style="padding-left: 25px">

<!-- The pre-login interface -->
<div ng-include src="'src/configure/auth/login.html'"></div>

<table ng-if="authenticationService.authenticated">
  <colgroup width="100%">
    <col width="50%" valign="top">
    <col width="50%">
  </colgroup>
  
  <tr>
    <td valign="top" class="col-md-4">
      <br>
		<b> Data Tables </b>
	  <br>
      <div id="tree" dynatree style="width: 100%; height: 600px; overflow: hidden"></div><!-- The actual hierarchy of tables and their columns -->
      
      <div  ng-controller = 'MetadataFileController'> <!-- button controls -->
	
			<div><!-- buttons -->
				<button  class = "btn btn-primary" style="float:left; width:45%; height:30px"  ng-click = "refresh()">Refresh</button>
		      	<label class='btn btn-primary' style="float:left; width:45%; height: 30px; margin-left:10px">Upload<input fileread="metadataUploaded.file" class='file-upload' type='file'/></label>
			</div>
			
			<br><br/>
			
			<div><!-- progress bar -->
				Progress while uploading metadata for a given table
	      		<progressbar  ng-show = "inProgress" value="progressValue" dynamic-max = "{{maxTasks}}" animate="true">
	     		 <span style="color:white; white-space:nowrap;"/>{{progressValue}}/ {{maxTasks}}</progressbar><!-- progress bar -->
			</div>
      </div>
    </td>
    
    
    <td valign="top">
    	<div style="padding-top: 20px" align="right">
	    	<button class= "btn btn-sm btn-primary" ng-click="authenticationService.logout()">Logout</button><!-- logout button -->
    	</div>
    	
		<b> Id : {{selectedDataTableId}} </b>
		<div>Column Metadata</div>
  		<div class="gridStyle" ng-grid="gridOptions" style="height: 300px"></div><!-- metadata of a single column -->
        <div class="selectedItems">{{mySelections}}</div>
       <br>
       
       <button class= 'btn btn-primary btn-sm' ng-click="addNewRow()">Add Row</button><!-- button controls for editing metadata of a single column -->
       <button class = 'btn btn-primary btn-sm' ng-click="removeRow()">Delete Row</button>
    </td>
  </tr>
  
</table>	
</div> 