<div style="padding-left: 25px">

<!-- The pre-login interface -->
<div ng-include src="'src/configure/auth/login.html'"></div>

<table ng-if="authenticationService.authenticated">
  <colgroup width="100%">
    <col width="50%" valign="top">
    <col width="50%">
  </colgroup>
  
  <tr>
    <td valign="top">
      <br>
		<b> Data Tables </b>
	  <br>
      <div id="tree" dynatree style="width: 100%; height: 600px; overflow: scroll"></div><!-- The actual hierarchy of tables and their columns -->
      
      <div style = "display: table" ng-controller = 'MetadataFileController'> <!-- button controls -->
	      <button  class = "file-nput-btn" style="float:left; width:49%" ng-click = "refresh()">Refresh</button>
	      <label class='file-nput-btn' style="float:left; width:49%">Upload<input fileread="metadataUploaded.file" class='file-upload' type='file'/></label>
<!-- 	      <file-upload label="Upload"></file-upload> -->
 		
	 	 <div ng-show = "inProgress" >
		  Progress
		      <progressbar value="progressValue" dynamic-max = "{{maxTasks}}" animate="true">
		      <span style="color:white; white-space:nowrap;"/>{{progressValue}}/ {{maxTasks}}</progressbar><!-- progress bar -->
		      
		      
		  </div>
      </div>
	  <br><br>
    </td>
    
    
    <td valign="top">
    	<div style="padding-top: 20px" align="right">
	    	<button class= "btn btn-sm btn-primary" ng-click="authenticationService.logout()">Logout</button><!-- logout button -->
    	</div>
    	
		<b> Id : {{selectedDataTableId}} </b>
		<div>Column Metadata</div>
  		<div class="gridStyle" ng-grid="gridOptions" style="height: 300px"></div><!-- metadata of a single column -->
        <div class="selectedItems">{{mySelections}}</div>
       <br>
       
       <button class= 'btn btn-primary btn-sm' ng-click="addNewRow()">Add Row</button><!-- button controls for editing metadata of a single column -->
       <button class = 'btn btn-primary btn-sm' ng-click="removeRow()">Delete Row</button>
    </td>
  </tr>
  
</table>	
</div>