.portlet {
  width: auto;
  height: auto;
  top:0;
  bottom:0;
  right:0;
  left: 0;
  position:absolute;
}

.portlet-header {
  margin: 0.3em;
  padding-bottom: 4px;
  padding-left: 0.2em;
}

.portlet-header .ui-icon {
  float: right;
}

.portlet-content {
  padding: 0.4em;
}