<div class="container" contenteditable="false">
	<div class="row">

	</div>
 	<div class="row" contenteditable="false"> 
		<div class="col-md-3" contenteditable="false">
<!-- 			<div class="gridStyle" ng-grid="gridOptions"></div> -->
<!-- 			<div> -->
<!-- 				<button class="file-input-btn" ng-click="deleteSelectedScript()">
<!-- 				Delete Selected -->
<!-- 				</button> -->
<!-- 				<file-upload label="UploadData"></file-upload> -->
<!-- 				<a class="btn" ng-hide="!savingMetadata"><i class="glyphicon glyphicon-refresh"></i>Saving</a> -->
<!-- 			</div> -->

 		</div> 
	</div>
</div>

<!--Algorithm Objects -->
<div ng-controller = "AlgoObjectListController">
	<div>
				<div class="header panel-heading">
					<h2>Algorithms</h2>
				</div>
				<div class="tool-bar">
							<ul>
								<li>
									<h6 class='tool-category'>Select from the list of Algorithms</h6>
								</li>
								<li ng-repeat= "algo in runScriptService.data.listOfAlgoObjects">
									{{algo}}
									<button class="btn btn-sm new-project-button" ng-click ="runScriptService.add_algorithmObject(algo)">Add</button>
<!-- 									<span > -->
<!-- 									<a href='javascript: void()'> {{algo}}</a> -->
<!-- 									</span> -->
								</li>
							</ul>
				</div>
			</div>
			<br/>
			<br/>
		<!-- Algorithm Cart -->
		<div class="header panel-heading">
					<h2>Algorithm Cart</h2>
		</div>	
		
		<div class="tool-bar">
							<ul ng-model = "runScriptService.data.chosenAlgorithms">
								<li>
									<h6 class='tool-category'>Algorithms to be Executed</h6>
								</li>
								<li ng-repeat= "algo in runScriptService.data.chosenAlgorithms">
								{{algo}}
									<button class="btn btn-sm new-project-button" ng-click ="runScriptService.remove_algorithmObject(algo)">Remove</button>
									<button class= "btn btn-primary" ng-click = "runScriptService.getAlgorithmMetadata(algo)"> Set Parameters</button>
								</li>
							</ul>
		</div>
</div>
			