<div class="container" contenteditable="false">
	<div class="row">

	</div>
	<div class="row" contenteditable="false">
		<div class="col-md-3" contenteditable="false">
			<div class="gridStyle" ng-grid="gridOptions"></div>
			<div>
				<!-- <button class="file-nput-btn" ng-click="deleteSelectedScript()">
				Delete Selected
				</button> -->
				<file-upload label="UploadData"></file-upload>
				<a class="btn" ng-hide="!savingMetadata"><i class="glyphicon glyphicon-refresh"></i>Saving</a>
			</div>

		</div>
	</div>
	
		<!--Algorithm Objects -->
			<div class="databox" style="width: 20%">
				<div class="header panel-heading">
					<h2>Algorithms</h2>
				</div>
				<div ng-controller="ScriptsBarController">
					<div style="margin-bottom: 3px;">
						<select style="width: 100%;" ui-select2 ng-model="scriptSelected" ng-change="script_selected_set()" data-placeholder="Select Script">
							<option></option>
							<option value="{{scr}}" ng-repeat="scr in scriptList">{{scr}}</option>
						</select>
					</div>

					<!--<div id="loading" ng-show="show_load" class="ng-hide">
					<img id="loading-image" src="css/img/ajax-loader.gif" alt="Loading..." />
					</div>-->
					<a href="javascript:"  title="Settings" data-content="" data-template="aws/analysis/script_settings.tpl.html" placement="bottom" bs-popover>Settings</a>
				</div>

				<!--<div class="body" ng-model="content-tools">
				<div style="height:100%" ng-include="content_tools[4].template_url"></div>
				</div>-->

			</div>
</div>

