<!--Configure Visuals-->
<!-- <div class="databox" style="width: 20%;"> -->
	
<!-- 	<div class="body"> -->
<!-- 		<accordion close-others="true" class="tool-list">  -->
		
			<!-- Widget Bricks -->
<!-- 			<accordion-group ng-repeat="tool in AnalysisService.weaveT" heading="{{tool.title}}" style="font-family: 'Open Sans', Arial, sans-serif; font-size: 14px;"> -->
<!-- 				<div ng-include="tool.template_url"></div> -->
<!-- 			</accordion-group> -->
			
			<!-- Key Column -->
<!-- 			<accordion-group heading="Key Column">  -->
<!-- 					<div style="width: 100%" class="master-select2-container"> -->
<!-- 						<select style="width: 100%" ui-select2="{allowClear : true}" -->
<!-- 								ng-controller="ColorCtrl" -->
<!-- 								ng-model="service.queryObject.keyColumn.name" -->
<!-- 								data-placeholder="Choose Key Column"> -->
<!-- 								<option></option> -->
<!-- 								<option value="{{output}}" -->
<!-- 										ng-repeat="output in WeaveService.columnNames">{{output}}</option> -->
<!-- 						</select> -->
<!-- 					</div> -->
<!-- 			</accordion-group> -->
			
			
			<!-- Color Column -->
<!-- 			<accordion-group heading="Color Column">  -->
<!-- 					<div style="width: 100%" class="master-select2-container" ng-controller="ColorCtrl"> -->
<!-- 						<select style="width: 100%" ui-select2="{allowClear : true}" -->
								
<!-- 								ng-model="service.queryObject.ColorColumn.column" -->
<!-- 								data-placeholder="Choose Color Column"> -->
<!-- 								<option></option> -->
<!-- 								<option value="{{output}}" -->
<!-- 								ng-repeat="output in WeaveService.columnNames">{{output}}</option> -->
<!-- 						</select> -->
<!-- 						<input type="checkbox" ng-model="service.queryObject.ColorColumn.showColorLegend"/> Show Color Legend -->
<!-- 					</div> -->
<!-- 			</accordion-group> -->
			
<!-- 		</accordion> -->
<!-- 	</div> -->
<!-- </div> -->