<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WeaveServices</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <context-param>
	<!--
		configPath
		This is the location where the AdminService looks for sqlconfig.xml.
		Relative paths will be resolved from the folder above WEB-INF, where the web application was extracted to.
	-->
    <param-name>configPath</param-name>
    <param-value>../weave-config/</param-value>
  </context-param>
  <context-param>
	<!--
		This is the base URL where you want the Admin Console to look for Weave client configuration XMLs.

		A value of "../ROOT" is suitable for a typical Tomcat installation.

		A value of "../../../docroot" is suitable for a typical Glassfish installation, where the webapp was
		extracted to a folder such as "C:\Sun\SDK\domains\domain1\applications\j2ee-modules\MyWebApp" and the
		docroot folder is like "C:\Sun\SDK\domains\domain1\docroot".
	-->
    <param-name>docrootPath</param-name>
    <param-value>../ROOT|../../docroot|../../../docroot</param-value>
  </context-param>

  <servlet>
    <servlet-name>DataService</servlet-name>
    <servlet-class>weave.servlets.DataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataService</servlet-name>
    <url-pattern>/DataService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminService</servlet-name>
    <servlet-class>weave.servlets.AdminService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminService</servlet-name>
    <url-pattern>/AdminService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RService</servlet-name>
    <servlet-class>weave.servlets.RService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RService</servlet-name>
    <url-pattern>/RService</url-pattern>
  </servlet-mapping>
</web-app>