<div class="panel-body" ng-controller="ScatterPlotCtrl">
	<ul class="input-controls">
	
	
			<table>
			<tr>
				<tr>	
					<td>
						<input   type="checkbox"
								 ng-model="tool.enabled"/>
					</td>
					
					<td style="padding-left: 5px;">
						Enable
					</td>
				</tr>
				<td>
					 Title:
				</td>
				<td style="padding-left: 5px;">
					<input  style = "width : 100%" type="text" placeholder="Default" 
							ng-model='tool.title'>

				</td>
			</tr>
			
			<tr>
			
				<td>
						X Column:

				</td>
			
				<td style="padding-left: 5px;">
					<select ng-if = "analyst.mode == 'computation'"
							style = "width : 100%" 
							ui-select2="{allowClear : true}" 
							ng-model="tool.X" 
							data-placeholder="Choose Column">
						<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
   						 <option ng-repeat="column in columns" value="{{column}}">{{column.id}}</option>
	  					</optgroup>
					</select>

					<input ng-if= "analyst.mode == 'visualize'" 
								type="hidden" popover="Select X column" ui-select2-sortable popover-trigger="mouseenter"
								style="width: 100%;"
								ng-model="tool.X"
								simple-query="getAllColumns"
								data-placeholder="Choose Column"
								allow-clear="true"
								to-id="getItemId" to-text="getItemText">
					</input>	
				</td>
			</tr>
		
		<tr>
			<td>
						Y Column:

			</td>
			
			<td style="padding-left: 5px;">
				<select ng-if = "analyst.mode == 'computation'"
						style = "width : 100%" 
						ui-select2="{allowClear : true}" 
						ng-model="tool.Y" 
						data-placeholder="Choose Column">
						<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
   						 <option ng-repeat="column in columns" value="{{column}}">{{column.id}}</option>
	  					</optgroup>
				</select>
				
				<input ng-if= "analyst.mode == 'visualize'" 
								type="hidden" popover="Select Y column" ui-select2-sortable popover-trigger="mouseenter"
								style="width: 100%;"
								ng-model="tool.Y"
								simple-query="getAllColumns"
								data-placeholder="Choose Column"
								to-id="getItemId" to-text="getItemText">
				</input>
			</td>
		</tr>
	</table>

	</ul>
</div>
