<div class="panel-body" ng-controller="ScatterPlotCtrl">
	<ul class="input-controls">
	
	
			<table>
			<tr>
				<tr>	
					<td>
						<input   type="checkbox"
								 ng-model="tool.enabled"/>
					</td>
					
					<td style="padding-left: 5px;">
						Enable
					</td>
				</tr>
				<td>
					 Title:
				</td>
				<td style="padding-left: 5px;">
					<input  style = "width : 100%" type="text" placeholder="Default" 
							ng-model='tool.title'>

				</td>
			</tr>
			
			<tr>
			
				<td>
						X Column:

				</td>
			
				<td style="padding-left: 5px;">
					<ui-select  ng-model="tool.X" theme="select2" style="width: 100%;">
				    	<ui-select-match allow-clear="true" placeholder="Choose Column...">{{$select.selected.title}}</ui-select-match>
						<ui-select-choices group-by="'dataSourceName'" repeat="column in queryService.queryObject.resultSet | filter : { title : $select.search }">
				       		 <div ng-bind-html="column.title| highlight: $select.search"></div>
				        </ui-select-choices>
					</ui-select>
				</td>
			</tr>
		
		<tr>
			<td>
						Y Column:

			</td>
			
			<td style="padding-left: 5px;">

				<ui-select  ng-model="tool.Y" theme="select2" style="width: 100%;">
			    	<ui-select-match allow-clear="true" placeholder="Choose Column...">{{$select.selected.title}}</ui-select-match>
					<ui-select-choices group-by="'dataSourceName'" repeat="column in queryService.queryObject.resultSet | filter : { title : $select.search }">
			       		 <div ng-bind-html="column.title| highlight: $select.search"></div>
			        </ui-select-choices>
				</ui-select>
			</td>
		</tr>
	</table>

	</ul>
</div>
