<div class="panel-body" ng-controller="byVariableCtrl">
	<ul class="input-controls">
		<div ng-repeat="item in items" class="byvariable-contents">
			<select ui-select2 ng-model="byVariableSelection[$index]" data-placeholder="Choose By Variable Filter">
				<option></option>
				<option value="{{col}}" ng-repeat="col in $parent.byVariableColumns"> {{col.title}}</option>
			</select>
			<a style="display: inline-block; margin-left: 50px;" ng-click='removeByVariable($index)'>Remove</a>
			<br>
			<div  ng-if="$parent.filterType[$index] == 'continuous'" style="padding-top: 5px">
	 			<div ui-slider="$parent.filterOptions[$index]" ng-model="$parent.filterValues[$index]"></div>
			</div>
			<div ng-if="$parent.filterType[$index] == 'categorical'" >
	 			<select ui-select2 multiple ng-model="$parent.filterValues[$index]" data-placeholder="Choose Filter(s)">
	 				<option value="{{cat}}" ng-repeat="cat in $parent.filterOptions[$index]">{{cat.label}}</option>
	 			</select>
			</div>
			<br>
		</div>
		<br>
		<a class="btn" ng-click="addByVariable()"><i class="glyphicon glyphicon-plus"></i>Add</a>
	</ul>
</div>
