<div class="panel-body" ng-controller="byVariableCtrl">
	
	<ul class="input-controls">
		<a class="btn btn-primary" style="padding: 1px 2px; margin-bottom: 7px;" ng-click="addByVariable()">Add Filter</a>
		
		<div ng-repeat="item in items" class="byvariable-contents">
			
			<select style="width: 100%" ui-select2 ng-model="service.queryObject.ByVariableFilterColumns[$index]" data-placeholder="Choose By Variable Filter">
				<option></option>
				<option value="{{col}}" ng-repeat="col in service.dataObject.columns | filter : { columnType : 'by-variable' }"> {{col.title}}</option>
			</select>
			
			<a style="display: inline-block;" ng-click='removeByVariable($index)'>Remove</a>
			
			<div  ng-if="service.dataObject.filterType[$index] == 'continuous'" style="padding-top: 5px">
	 			<div ui-slider="service.dataObject.filterOptions[$index]" ng-model="service.queryObject.ByVariableFilterFilters[$index]"></div>
			</div>
		
			<div ng-if="service.dataObject.filterType[$index] == 'categorical'" >
	 			<select ui-select2 multiple ng-model="service.queryObject.ByVariableFilterFilters[$index]" data-placeholder="Choose Filter(s)">
	 				<option value="{{cat}}" ng-repeat="cat in service.dataObject.filterOptions[$index]">{{cat.label}}</option>
	 			</select>
			</div>
			
		</div>
	</ul>
</div>
