<div class="panel-body" ng-controller="MapCtrl">
	<ul class="input-controls">
			<table>
			<tr>
				<tr>	
					<td>
						<input  type="checkbox"
							 	ng-model="tool.enabled"/>
					</td>
				
					<td style="padding-left: 5px;">
						Enable
					</td>
				</tr>
				<td>
					 Title:
				</td>
				<td style="padding-left: 5px;">
							<input style = "width : 100%" type="text" placeholder="Default" ng-model='tool.title'>

				</td>
			</tr>
			
			<tr>
			
			
				<td> State </td>
				<td style="padding-left: 5px;">
				
					<ui-select ng-model="tool.stateGeometryLayer" theme="select2" style="width: 100%;">
				    	<ui-select-match allow-clear="true" placeholder="Select Geometry layer...">{{$select.selected.title}}</ui-select-match>
						<ui-select-choices repeat="column in queryService.cache.geometryColumns | filter : { title : $select.search }">
				       		 <div ng-bind-html="column.title | highlight: $select.search"></div>
				        </ui-select-choices>
					</ui-select>
					
					<ui-select ng-model="tool.countyGeometryLayer" theme="select2" style="width: 100%;">
				    	<ui-select-match allow-clear="true" placeholder="Select Geometry layer...">{{$select.selected.title}}</ui-select-match>
						<ui-select-choices repeat="column in queryService.cache.geometryColumns | filter : { title : $select.search }">
				       		 <div ng-bind-html="column.title | highlight: $select.search"></div>
				        </ui-select-choices>
					</ui-select>
				</td>
			</tr>
		
		<tr>
			<td>
				<input   type="checkbox"
						 ng-model="tool.useKeyTypeForCSV" 
						 data-placeholder="Choose Label Column"
						 ng-init="tool.useKeyTypeForCSV = true"/>
			</td>
			
			<td style="padding-left: 5px;">
				Use KeyType for CSV Data Source
			</td>
		</tr>
			
		<tr>
			<td style="padding-left: 5px;">
			Zoom 
			</td>
			
			<td>
				<div  ui-slider="{range:false}" min= "2" step="1"  max = "18" ng-model="tool.zoomLevel"/>
				{{tool.zoomLevel}}
			</td>
		</tr>
			
			
		<tr>
			<td>
				Label Layer
			</td>
			
			<td style="padding-left: 5px;">
				<ui-select ng-model="tool.labelLayer" theme="select2" style="width: 100%;">
			    	<ui-select-match allow-clear="true" placeholder="Choose Layer...">{{$select.selected.title}}</ui-select-match>
					<ui-select-choices group-by="'dataSourceName'" repeat="column in queryService.queryObject.resultSet | filter : { title : $select.search }">
			       		 <div ng-bind-html="column.title| highlight: $select.search"></div>
			        </ui-select-choices>
				</ui-select>
			</td>
		</tr>	
	</table>
	</ul>
</div>