<div class="databox" style="width:150px">
	
	<div class="header panel-heading">
		<h2> Add Filter </h2>
	</div>
	
	<div class="body">
		<br><br>
		<button style="width : 100%; padding:10%"type="button" ng-click="queryService.queryObject.properties.showGeographyFilter = true" class="btn btn-sm new-project-button">
				Geography Filter
		</button>		<br><br>

		<button style="width : 100%; padding:10%" type="button" ng-click="addFilter()" class="btn btn-sm new-project-button">
				Column Filter
		</button>
		
		<br><br>
		<button style="width : 100%; padding:10%" type="button" ng-click="addTreeFilter()" class="btn btn-sm new-project-button">
				Two-Column Filter
		</button>
		<br>
	</div>
	
</div>