<div class="databox" style="width:150px" ng-controller="dataFilterCtrl">
	
	<div class="header panel-heading">
		<h2> Add Filter </h2>
	</div>
	
	<div class="body">
		<input type="checkbox" ng-model="AnalysisService.showGeographyFilter"> Geography Filter</input>
		<br>
		<input type="checkbox" ng-model="AnalysisService.showTimePeriodFilter"> Time Period Filter</input>
		<br>
		<button type="button" ng-click="addFilter()" class="btn btn-sm new-project-button">
				Add custom
		</button>
	</div>
	
</div>