<div class=" header panel-heading" style="display: inline-block">
	<h2>Filter</h2>

	<a href="javascript: void(0)" 
		class="close-button" data-trigger="hover" placement="right" title="Remove"
		ng-click="$parent.removeFilter($parent.$index)"	
	> 
		<i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> 
	</a>
</div>

<div class="body" style="width: 100%; height:100%;">
	
	<ui-select ng-model="ngModel.column" theme="select2" style="width: 100%;">
   		<ui-select-match allow-clear="true" placeholder="Select column to filter...">{{$select.selected.title}}</ui-select-match>
		<ui-select-choices repeat="column in columns | filter : { title : $select.search }">
      			 <div ng-bind-html="column.title | highlight: $select.search"></div>
       	</ui-select-choices>
	</ui-select>
	<br>
	
	{{ ngModel.column.description }}
	
	<br><br>
		<!-- multi select picker -->
 	<div ng-if="filterType == 'multiselect'">
		<ui-select ng-model="ngModel.multiselectModel" multiple theme="select2" style="width: 100%;">
   			<ui-select-match allow-clear="true" placeholder="Select column to filter...">{{$item.label}}</ui-select-match>
			<ui-select-choices repeat="filter.value as filter in filterOptions | filter : { label : $select.search }">
      			 <div ng-bind-html="filter.label | highlight: $select.search"></div>
       		</ui-select-choices>
	</ui-select>
		
 	</div>
		<!-- combo box picker -->
	<div ng-if="filterType == 'combobox'" style="display: inline-block; overflow: hidden; width: 100%; height: 100%">
		<div ng-repeat="option in filterOptions">
			<input type="checkbox" ng-init="ngModel.comboboxModel[$index] = false" ng-model=ngModel.comboboxModel[$index]> {{option.label}} </input>
		</div>
	</div>
		<!-- slider picker -->
	<div ng-if="filterType == 'slider'">
		<div style="text-align: center;">
				{{ngModel.sliderModel[0]}} - {{ngModel.sliderModel[1]}}
		</div>
		<div  class="ui-slider-range" style="z-index: 0" ui-slider="sliderOptions" step="1" ng-model="ngModel.sliderModel"/>
	</div>
	<br>
</div>
