<div class="panel-body">
	
	<ul class="input-controls" style="height:100%">
		<div>
			<input type="checkbox" ng-model="queryService.dataObject.filters[$parent.$index].addSecond"
								   ng-change="removeSecond($parent.$index)">Second Level</input>
		</div>
		<select style="width: 100%" ui-select2="{allowClear:true}"
				ng-model="queryService.queryObject.filters.or[$parent.$index].columns[0]"
				data-placeholder="Column"
				ng-change="updateFilterView($parent.$index)">
				<option></option>
				<option value="{{col}}" ng-repeat="col in queryService.dataObject.columns"> {{col.title}}</option>
		</select>
		<div ng-show="queryService.dataObject.filters[$parent.$index].filter1.type == 'continuous'">
			{{ }} - {{ }}
			<div ui-slider ng-model="service.queryObject.ByVariableFilters[$index]"></div>
		</div>
		
		<select ng-if="queryService.dataObject.filters[$parent.$index].addSecond" style="width: 100%" ui-select2="{allowClear : true, dropdownAutoWidth : true}"
				ng-model="queryService.queryObject.filters.or[$parent.$index].columns[1]"
				data-placeholder="Column"
				ng-change="updateFilterView($parent.$index)">
				<option></option>
				<option value="{{col}}" ng-repeat="col in queryService.dataObject.columns"> {{col.title}}</option>
		</select>
		<div ng-show="queryService.dataObject.filters[$parent.$index].filter2.type == 'continuous'">
			{{ }} - {{ }}
			<div ui-slider ng-model="service.queryObject.ByVariableFilters[$index]"></div>	
		</div>

   		<div ng-show="queryService.dataObject.filters[$parent.$index].filter1.type == 'categorical' ||
   					  queryService.dataObject.filters[$parent.$index].filter2.type == 'categorical'" 
   					  id="tree" dynatree style="width: 100%; height: 175px; overflow: hidden">
   		</div>
	</ul>
</div>
