<div class=" header panel-heading" style="margin-bottom: 0px">
	<h2>Generic Filter</h2>

	<a href="javascript: void(0)" 
		class="close-button" data-trigger="hover" placement="right" title="Remove"> 
		<i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> 
	</a>
</div>

<div class="body" style="width: 100%; height:100%; border: solid 2px; border-color: #4C4F53">
<!-- 			<select ng-model = "filterType" ng-options = "option as option for option in uiFilterOptions"></select> -->
	<input
			type="hidden" popover="Select parameter" ui-select2-sortable popover-trigger="mouseenter"
			style="width: 100%" 
			ng-model="model.column"
			ng-change="getMetadata()"
			simple-query="getFilterInputOptions"
			data-placeholder="Filter Column"
			allow-clear="true"
			to-id="getItemId" to-text="getItemText">
	</input> 

	<br><br>
		<!-- multi select picker -->
 	<div ng-if="filterType == 'multiselect'">
 		<select style = "width : 100%" 
							ui-select2="{allowClear : true}" 
							ng-model="model.multiSelectModel" 
							multiple  
							data-placeholder="Filter Values">
   						 <option ng-repeat="filter in filterOptions" value="{{filter.value}}">{{filter.label}}</option>
		</select>
 	</div>
		<!-- combo box picker -->
	<div ng-if="filterType == 'combobox'" ng-repeat="option in filterOptions">
		<input type="checkbox" ng-init="model.comboboxModel[$index] = false" ng-model=model.comboboxModel[$index]> {{option.label}} </input>
	</div>
		<!-- slider picker -->
	<div ng-if="filterType == 'slider'">
		<div style="text-align: center;">
				{{model.sliderModel[0]}} - {{model.sliderModel[1]}}
		</div>
		<div  ui-slider="sliderOptions" step="1" ng-model="model.sliderModel"/>
	</div>
	<br>
</div>
