<div class="panel-body" ng-controller="GeographyCtrl">
	<ul class="input-controls">
		
		<div>
			<div  style="float:left; width: 48%;>
				<select ui-select2  style="float:left; width: 48%; ng-model="service.queryObject.GeographyFilter.stateColumn" data-placeholder="State Column">
					<option></option>
					<option value="{{col}}" ng-repeat="col in service.cache.columns | filter : { columnType : 'geography'}">{{col.title}}</option>
				</select>
			</div>
		<div style="float:left; width: 48%;">
			<select ui-select2 style="float:left; width: 48%;" ng-model="service.queryObject.GeographyFilter.countyColumn" data-placeholder="County Column">
				<option></option>
				<option value="{{col}}" ng-repeat="col in service.cache.columns | filter : { columnType : 'geography' }">{{col.title}}</option>
			</select>
		</div>
				
<!-- 			<div style="display: list-item; padding-top: 5px;"> -->
<!-- 				<select style="width: 100%" ui-select2 ng-model="service.queryObject.GeographyFilter.metadataTable" data-placeholder="Metadata Table"> -->
<!-- 					<option></option> -->
<!-- 					<option value="{{dt}}" ng-repeat="dt in service.cache.dataTableList">{{dt.title}}</option> -->
<!-- 				</select> -->
<!-- 			</div> -->
		</div>
		
		<p style="margin-top: 5px;">
			<a ng-click='selectAll()'>Select all</a> -
			<a ng-click='deSelectAll()'>Deselect all</a>
					<!-- 			<a ng-click='toggleSelect()'>Toggle select</a> -->
		</p>
   		<div id="geoTree"style="width: 100%; height: 200px; overflow:hidden"></div>
   		<br>
      		
	</ul>

</div>
