<div class="databox" style="width: 45%;">
		
	<div class="header panel-heading">
		<h2>Geography filter</h2>
		<a href="javascript: void(0)" class="close-button" data-trigger="hover" placement="right" title="Remove"  ng-click="queryService.queryObject.properties.showGeographyFilter = false"> <i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> </a>
	</div>
	
	
	<div class="body">
		<div style = "width: 20%; float: left; height: 100%" >
				<input type="radio" ng-model = "queryService.queryObject.GeographyFilter.geometrySelected" value = "State" >US States</input>
				<br>
				<div title= "Select State Geography Column">
					<ui-select ng-if = "queryService.queryObject.GeographyFilter.geometrySelected == 'State'" 
							   ng-model="queryService.queryObject.GeographyFilter.stateColumn" theme="select2" style="width: 97%;"
							   ng-change = "renderLayer()">
					    		<ui-select-match  placeholder="Select geography">{{$select.selected.title}}</ui-select-match>
								<ui-select-choices repeat="column in queryService.cache.columns | filter : { title : $select.search, columnType : 'geography' }">
					       			 <div ng-bind-html="column.title | highlight: $select.search"></div>
					        	</ui-select-choices>
					</ui-select>
				</div>
				
				
				
				<input type="radio" ng-model = "queryService.queryObject.GeographyFilter.geometrySelected" value = "County" >US Counties</input>
				<br>
				<div title= "Select County Geography Column">
					<ui-select ng-if = "queryService.queryObject.GeographyFilter.geometrySelected == 'County'" 
							   ng-model="queryService.queryObject.GeographyFilter.nestedStateColumn" theme="select2" style="width: 97%;">
					    		<ui-select-match placeholder="Select geography">{{$select.selected.title}}</ui-select-match>
								<ui-select-choices repeat="column in queryService.cache.columns | filter : { title : $select.search, columnType : 'geography' }">
					       			 <div ng-bind-html="column.title | highlight: $select.search"></div>
					        	</ui-select-choices>
					</ui-select>
				</div>
				
				<br>
				<div title= "Select County Geography Column">
					<ui-select ng-if = "queryService.queryObject.GeographyFilter.geometrySelected == 'County'" 
							   ng-model="queryService.queryObject.GeographyFilter.countyColumn" theme="select2" style="width: 97%;" 
							   ng-change = "renderLayer()">
					    		<ui-select-match placeholder="Select geography">{{$select.selected.title}}</ui-select-match>
								<ui-select-choices repeat="column in queryService.cache.columns | filter : { title : $select.search, columnType : 'geography' }">
					       			 <div ng-bind-html="column.title | highlight: $select.search"></div>
					        	</ui-select-choices>
					</ui-select>
				</div>
				
<!-- 				<span style = "margin-left: 5px" class = "glyphicon glyphicon-plus-sign"></span> -->
<!-- 				<div style = "margin-bottom: 10px" ui-slider="{range:false, orientation: 'vertical'}" min= "2" step="1"  max = "18" ng-model="tool.zoomLevel"/> -->
<!-- 				<span style = "margin-left: 5px" class = "glyphicon glyphicon-minus-sign"></span> -->
		</div>
		
		<div id = "mapDisplay" style = "width: 80%; float: left; height: 100%"></div>
	</div>
</div>
