<div class="databox" style="width: 45%;">
		
	<div class="header panel-heading">
		<h2>Geography filter</h2>
		<a href="javascript: void(0)" class="close-button" data-trigger="hover" placement="right" title="Remove"  ng-click="AnalysisService.showGeographyFilter = false"> <i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> </a>
	</div>
	
	
	<div class="body">
		<div style = "width: 25%; float: left; height: 100%" >
			<input type="radio" ng-model = "geometry.selected" value = "State" >US States</input>
			<br>
			<div>
				<select ng-if = "geometry.selected == 'State'">
					<option>Hello</option>
					<option>Shweta</option>
				</select>
			</div>
			<br>
			
			<input type="radio" ng-model = "geometry.selected" value = "County" >US Counties</input>
			<br>
			<div>
				<select ng-if = "geometry.selected == 'County'">
					<option>Blah</option>
					<option>HI</option>
				</select>
			</div>
			<br>
			<span style = "margin-left: 5px" class = "glyphicon glyphicon-plus-sign"></span>
			
			<div style = "margin-bottom: 10px" ui-slider="{range:false, orientation: 'vertical'}" min= "2" step="1"  max = "18" ng-model="tool.zoomLevel"/>
			
			<span style = "margin-left: 5px" class = "glyphicon glyphicon-minus-sign"></span>
		</div>
		
		<div id = "mapDisplay" style = "width: 75%; float: left; height: 100%">
		</div>
	</div>
</div>
