<div class="panel-body" ng-controller="timePeriodCtrl">
	<ul class="input-controls">
	<div style="display: inline">
		<div style="display: inline-block; margin-bottom: 10px">
				<select style="width: 100%" ui-select2 ng-model="service.queryObject.TimePeriodFilter.yearColumn" data-placeholder="Year Column">
					<option></option>
					<option value="{{col}}" ng-repeat="col in service.cache.columns | filter : {columnType : 'time'}">{{col.title}}</option>
				</select>
		<div style="display: inline-block; padding-left: 0px; margin-top: 2px;">
			<select style="width: 100%;" ui-select2 ng-model="service.queryObject.TimePeriodFilter.monthColumn" data-placeholder="Month Column">
				<option></option>
				<option value="{{col}}" ng-repeat="col in service.cache.columns | filter : {columnType : 'time'}">{{col.title}}</option>
			</select>	
		</div>
	</div>
		<br>
		<p>
			<a ng-click='selectAll()'>Select all</a>
			<a ng-click='deSelectAll()'>Deselect all</a>
<!-- 			<a ng-click='toggleSelect()'>Toggle select</a> -->
		</p>
      	<div id="timeTree"style="width: 100%; height: 160px; overflow: hidden"></div>
      	<br>
	</ul>
</div>
