<div style="height: 100%" ng-controller="AnalysisMainCtrl">
	<div style="height: 100%" class=".container-fluid" style="padding: 5px;" ng-controller="ScriptsBarController">
		<div class=".row " style="height: 100%; margin-top: 10px;">
			<!--Indicator and datatable-->
			<div class="databox" style="width: 15%">
				<!-- <div class="databox" style="width: 200px;"> -->
				<div class=" header panel-heading">
					<h2>Indicator</h2>
				</div>
				<div  class="input-group-btn dtatable-dropdown">
					<button style="min-width: 100%; width: 100%; border-radius: 0px" type="button" class="btn btn-default" ng-focus="dt_focused = true" ng-blur="dt_focused = false"
					ng-model="service.queryObject.dataTable" 
					data-html="1"  
					ng-options="dt.title for dt in service.dataObject.dataTableList track by dt.id" 
					placeholder="Select Datatable" 
					bs-select
					ng-change="service.getDataColumnsEntitiesFromId(service.queryObject.dataTable.id, true)">
						<!--<span style="display: inline-block, float: right" class="caret"></span>-->
					</button>
				</div>
				
				<!-- <div style="width: 100%; margin-top: 10px;" ng-controller="ScriptsBarController">
					<select style="width: 100%;" ui-select2 ng-model="dataTable" data-placeholder="Choose Datatble" ng-change = 'populateScriptsBar()'>
						<option></option>
						<option value="{{dt.title}}" ng-repeat="dt in dataTableList">{{dt.title}}</option>
					</select>
				</div> -->
				
				
				
				<!--<div style="width: 100%; margin-bottom: 3px;" ng-controller="ScriptsBarController">
				<select style="width: 100%" ui-select2 ng-model="dataTable" data-placeholder="Choose Datatable"  ng-change = 'populateScriptsBar()'>
				<option></option>
				<option value="{{dt.title}}" ng-repeat="dt in dataTableList"  data-title="{{dt.title}}" data-placement="tip">{{dt.title}}</option>
				</select>
				</div>-->
				<div style="width: 100%; margin-top: 10px;" ng-controller="IndicatorCtrl">
					<select style="width: 100%;" ui-select2 ng-model="indicSelection" data-placeholder="Choose Indicator">
						<option></option>
						<option value="{{indic}}" ng-repeat="indic in indicOptions">{{indic.label}}</option>
					</select>
				</div>
				<!--<div class="body">

				</div>-->

			</div>

			<!--Geography filter -->
			<div class="databox" style="width: 15%;" ng-model="content_tools">
				<!-- <div class="databox" style="width: 160px;"> -->

				<div class="header panel-heading">
					<h2>Geography filter</h2>
				</div>

				<div class="body">

					<div style="height:100%" ng-include="content_tools[1].template_url"></div>

				</div>

			</div>

			<!--Timeperiod filter -->
			<div class="databox" style="width: 12%" ng-model= "content_tools">
				<!-- <div class="databox" style="width: 130px;"> -->

				<div class="header panel-heading">
					<h2>Time Period</h2>
				</div>

				<div class="body">
					<div style="height:100%" ng-include="content_tools[2].template_url"></div>
				</div>

			</div>

			<!--Byvariable filter -->
			<div class="databox" style="width: 15%" ng-model= "content_tools">
				<!-- <div class="databox" style="width: 160px;"> -->

				<div class="header panel-heading">
					<h2>By-variable</h2>
				</div>

				<div class="body">
					<div style="height:100%" ng-include="content_tools[3].template_url"></div>
				</div>

			</div>

			<!--Calculations -->
			<div class="databox" style="width: 20%">
				<!-- <div class="databox" style="width: 220px;"> -->

				<div class="header panel-heading">
					<h2>Calculations</h2>
				</div>
				<div ng-controller="ScriptsBarController">
					<div style="margin-bottom: 3px;">
						<select style="width: 100%;" ui-select2
							ng-model="service.queryObject.scriptSelected"
							class=" form-control search-script-div"
							data-placeholder="Select Script">
						<option></option>
						<option ng-repeat="scriptName in service.dataObject.scriptList">{{scriptName}}</option>
					</select>
					</div>

					<!--<div id="loading" ng-show="show_load" class="ng-hide">
					<img id="loading-image" src="css/img/ajax-loader.gif" alt="Loading..." />
					</div>-->
					<a href="javascript:"  title="Settings" data-content="" data-template="aws/analysis/script_settings.tpl.html" placement="bottom" bs-popover>Settings</a>
				</div>

				<!--<div class="body" ng-model="content-tools">
				<div style="height:100%" ng-include="content_tools[4].template_url"></div>
				</div>-->

			</div>

			<div ng-controller="WidgetsController">

				<!--Configure Visuals-->
				<div class="databox" style="width: 20%">
					<!-- <div class="databox" style="width: 220px;"> -->

					<div class="header panel-heading">
						<h2>Output Display</h2>
					</div>

					<div class="body">

						<div class="tool-bar">

							<ul class="tool-list">
								<li>
									<h6 class='tool-category'>Visualization Tools</h6>
								</li>
								<li id="tool.id" ng-repeat= "tool in tool_list">
									<span class="checkbox">
										<input type="checkbox"  ng-model = "box_enabled[tool.id]" ng-change = "enable_widget(tool.id)" ng-click="add_widget(tool.id)">
									</span>
									<a href='javascript: void()'> {{tool.title}}</a>
								</li>
							</ul>
						</div>
						<!-- <span style="display: inline-block; margin-left: 20px; margin-right: 10px; font-size: 13px;">Set Color Column</span> -->
						<div style="width: 100%" class="master-select2-container">
							<select style="width: 100%" ui-select2 ng-controller="ColorColumnCtrl" ng-model="selected" data-placeholder="Choose Color Column">
								<option></option>
								<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
							</select>
						</div>
						<div ng-controller="RunQueryCtrl">
							<a href="javascript:void(0);" class="btn btn-primary run-btn" style="font-size: 17px; padding: 2px 5px; width: 100%; margin-top: 10px;" ng-click="runQuery()"> <span style="vertical-align: middle">Run</span> <!--<i class="glyphicon glyphicon-play-circle play-button"></i>--> </a>
						</div>
						
						<div ng-controller="SaveVisualizationCtrl">
							<a href="javascript:void(0);" class="btn btn-primary run-btn" style="font-size: 17px; padding: 2px 5px; width: 100%; margin-top: 10px;" ng-click="saveVisualization()"> <span style="vertical-align: middle">Save output visuals</span> <!--<i class="glyphicon glyphicon-play-circle play-button"></i>--> </a>
						</div>
					</div>

				</div>

			</div>

			<div style="height:100%; margin-top: 10px; width: 100%;" class="col-md-8 widget-container">

				<div class='masonry-parent' style="width: 100%;" masonry="{ transitionDuration: '0.0s', gutter: 10 }">

					<div style="width: 220px;" class="masonry-brick panel panel-default" ng-repeat="widget_brick in widtget_bricks" ng-model="widtget_bricks">

						<div class="panel-heading">
							<h2>{{widget_brick.title}}</h2>
							<a href="javascript: void(0)" class="close-button" data-trogger="hover" placement="right" title="Close widget"  ng-click="remove_widget($index)" bs-tooltip> <i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> </a>

						</div>
						<h5 class="widget-description "><i style="font-size: 14px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i> {{widget_brick.description}}</h5>
						<h6 style = "font-size: 13px" class="widget-description" ng-show = "widget_brick.note"> {{widget_brick.note}} </h6>
						<div class="" ng-include="widget_brick.template_url"></div>

					</div>
				</div>
			</div>
		</div>

	</div>
