<div style="height: 100%" ng-controller="AnalysisCtrl">
	<div style="height: 100%" class=".container-fluid" style="padding: 5px;">
		<div class=".row " style="height: 100%; margin-top: 10px;">
			
			<!--Indicator and datatable-->
			<div class="databox" style="width: 15%">
				<!-- <div class="databox" style="width: 200px;"> -->
				<div class=" header panel-heading">
					<h2>Indicator</h2>
				</div>
				<div  class="input-group-btn dtatable-dropdown">
					<button style="min-width: 100%; width: 100%; border-radius: 0px" type="button" class="btn btn-default" ng-focus="dt_focused = true" ng-blur="dt_focused = false"
					ng-model="queryService.queryObject.dataTable" 
					data-html="1"  
					ng-options="dt.title for dt in queryService.dataObject.dataTableList track by dt.id" 
					placeholder="Select Datatable" 
					bs-select
					ng-change="queryService.getDataColumnsEntitiesFromId(queryService.queryObject.dataTable.id, true)">
						<!--<span style="display: inline-block, float: right" class="caret"></span>-->
					</button>
				</div>
				
				<div style="width: 100%; margin-top: 10px;">
					<select style="width: 100%;" ui-select2 ng-model="queryService.queryObject.Indicator" data-placeholder="Choose Indicator">
						<option></option>
						<option value="{{indicator}}" ng-repeat="indicator in queryService.dataObject.columns | filter : { columnType : 'indicator' }">{{indicator.title}}</option>
					</select>
				</div>
				
				{{IndicDescription}}
				
				
			</div>

			<!--Geography filter -->
			<div class="databox" style="width: 15%;">
				<!-- <div class="databox" style="width: 160px;"> -->

				<div class="header panel-heading">
					<h2>Geography filter</h2>
				</div>

				<div class="body">

					<div style="height:100%" ng-include="AnalysisService.content_tools[1].template_url"></div>

				</div>

			</div>

			<!--Timeperiod filter -->
			<div class="databox" style="width: 12%">
				<!-- <div class="databox" style="width: 130px;"> -->

				<div class="header panel-heading">
					<h2>Time Period</h2>
				</div>

				<div class="body">
					<div style="height:100%" ng-include="AnalysisService.content_tools[2].template_url"></div>
				</div>

			</div>

			<!--Byvariable filter -->
			<div class="databox" style="width: 15%">
				<!-- <div class="databox" style="width: 160px;"> -->

				<div class="header panel-heading">
					<h2>By-variable</h2>
				</div>

				<div class="body">
					<div style="height:100%" ng-include="AnalysisService.content_tools[3].template_url"></div>
				</div>

			</div>

			<!--Calculations -->
			<div class="databox" style="width: 20%">
				<!-- <div class="databox" style="width: 220px;"> -->

				<div class="header panel-heading">
					<h2>Calculations</h2>
				</div>
				<div ng-controller="ScriptsSettingsCtrl">
					<div style="margin-bottom: 3px;">
						<select style="width: 100%;" ui-select2
							ng-model="service.queryObject.scriptSelected"
							class=" form-control search-script-div"
							data-placeholder="Select Script"
							ng-change="service.getScriptMetadata(service.queryObject.scriptSelected, true)">
						<option></option>
						<option ng-repeat="scriptName in service.dataObject.scriptList">{{scriptName}}</option>
					</select>
					<a href="javascript:"  title="Settings" data-content="" data-template="aws/analysis/script_settings.tpl.html" placement="bottom" bs-popover>Settings</a>
		 			<br> <textarea id="resultTextArea" width="100%" cols="40" rows="5"></textarea></td>
					</div>
					
					<!--<div id="loading" ng-show="show_load" class="ng-hide">
					<img id="loading-image" src="css/img/ajax-loader.gif" alt="Loading..." />
					</div>-->
				</div>

				<!--<div class="body" ng-model="content-tools">
				<div style="height:100%" ng-include="content_tools[4].template_url"></div>
				</div>-->

			</div>

			<div>

				<!--Configure Visuals-->
				<div class="databox" style="width: 20% ; margin-bottom : 40px">
					<!-- <div class="databox" style="width: 220px;"> -->

					<div class="header panel-heading">
						<h2>Output Display</h2>
					</div>

					<div class="body">

						<div class="tool-bar">

							<ul class="tool-list">
								<li>
									<h6 class='tool-category'>Visualization Tools</h6>
								</li>
								<li ng-repeat= "tool in AnalysisService.tool_list">
									<span class="checkbox">
										<input type="checkbox"  ng-model="tool.enabled">
									</span>
									<a href='javascript: void()'> {{tool.title}}</a>
								</li>
							</ul>
						</div>
						<!-- <span style="display: inline-block; margin-left: 20px; margin-right: 10px; font-size: 13px;">Set Color Column</span> -->
						<div style="width: 100%" class="master-select2-container">
							<select style="width: 100%" ui-select2 ng-controller="ColorCtrl" ng-model="queryService.queryObject.ColorColumn.column" data-placeholder="Choose Color Column">
								<option></option>
								<option value="{{output.param}}" ng-repeat="output in service.dataObject.scriptMetadata.outputs">{{output.param}}</option>
							</select>
						</div>
						<!-- Contains the buttons pertaining to a query and its visualizations -->
						
						<div ng-controller = DialogController>
							<a href="javascript:void(0);" class="btn btn-primary run-btn" style="font-size: 17px; padding: 2px 5px; width: 100%; margin-top: 10px;" ng-click="saveVisualizations()"> <span style="vertical-align: middle">Save output visuals</span> </a>
						</div>
						<div style="display: table ; width : 100%; padding-top : 5px">
							<a href="javascript:void(0);" class="btn btn-default" style="display : table-cell;font-size: 17px; padding: 2px 5px; width : 33.3%; margin-top: 10px;"> <span style="vertical-align: middle" ng-click = "updateVisualizations()">Update</span></a>
							<a href="javascript:void(0);" class="btn btn-default" style="display : table-cell;font-size: 17px; padding: 2px 5px; width : 33.3%; margin-top: 10px;"> <span style="vertical-align: middle" ng-click = "clearSessionState()">Clear</span></a>
<!-- 							<a href="javascript:void(0);" class="btn btn-default" style="display : table-cell;font-size: 17px; padding: 2px 5px; width : 33.3%; margin-top: 10px;" ng-disabled> <span style="vertical-align: middle">Save</span></a> -->
						</div>
						
						</div>
				</div>

			</div>
			<br><br>		
			<div style="height:100%; margin-top: 100px; width: 100%;" class="col-md-8 widget-container">
					<div style="width: 270px; float : left; margin-right : 20px" ng-repeat="tool in AnalysisService.tool_list | filter : { enabled : 'true' }" class="panel panel-default">
							<div class="panel-heading">
								<h2>{{tool.title}}</h2>
								<a href="javascript: void(0)" class="close-button" data-trogger="hover" placement="right" title="Close widget"  ng-click="disable_widget(tool)" bs-tooltip> <i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> </a>
	
							</div>
							<h5 class="widget-description "><i style="font-size: 14px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i> {{widget_brick.description}}</h5>
							<h6 style = "font-size: 13px" class="widget-description" ng-show = "tool.note"> {{widget_brick.note}} </h6>
							<div class="" ng-include="tool.template_url"></div>
					</div>
			</div>
		</div>

	</div>
