<div class= "modal-dialog">
	<div class="modal-content">
			<div class="modal-header">
            	<h4>Saving the visualizations to the Query Object</h4>
			</div>
			
			<div class="modal-body">
	           <p>
				    Enter the project name to store the <code>query object</code>
				    <input ng-model="projectEntered">
				    <br> <br>
				    Enter the title of the <code>query object</code>
				    <input ng-model="queryTitleEntered">
				  </p>
			</div>
			
			<div class="modal-footer">
  				<button ng-click="close(projectEntered, queryTitleEntered)" class="btn btn-primary" >Save</button>
			</div>
	</div>
</div>



