<div class="popover" style="width: 20%; padding: 10px; top: 70px !important">
	<div class="arrow"></div>

	<div style="width: 100%" class="portlet-content" ng-repeat="input in inputs">
		<div class="label-p">{{input.param}}:</div>
		<select style="width: 100%" class="select-2-drop" ng-if="input.type == 'column'" ui-select2 ng-model="$parent.selection[$index]">
			<option></option>
			<option value="{{col}}" ng-repeat="col in $parent.columns[input.columnType]"> {{col.title}}</option>
		</select>

<!-- 		<div ng-show='$parent.show[$index]'> -->
<!-- 			<input type="checkbox" ng-model="$parent.enabled[$index]"/> -->
<!-- 			filter <div ui-slider="$parent.sliderOptions[$index]" ng-if="($parent.filterType[$index] == 'continuous') && $parent.show[$index] && $parent.enabled[$index]" ng-model="$parent.filterValues[$index]"></div> -->
<!-- 			<select ui-select2 multiple ng-if="($parent.filterType[$index] == 'categorical') && $parent.show[$index] && $parent.enabled[$index]" ng-model="$parent.filterValues[$index]" data-placeholder="Choose Filter(s)"> -->
<!-- 				<option value="{{cat}}" ng-repeat="cat in $parent.categoricalOptions[$index]"> {{cat.label}}</option> -->
<!-- 			</select> -->
<!-- 		</div> -->

		<input style="width: 100%" ng-if="input.type == 'value'" ng-model="$parent.selection[index]">
		<select style="width: 100%" ng-if="input.type == 'table'" ui-select2 multiple ng-model="$parent.selection[$index]">
			<option></option>
			<option value="{{ col }}" ng-repeat="col in $parent.columns[input.columnType]"> {{col.title}}</option>
		</select>
		<br>
		
	</div>
	<button class="btn btn-primary" ng-click="$hide()">OK</button>
</div>
