<div style="padding-left: 25px">
	<table>
  <colgroup width="100%">
    <col width="50%" valign="top">
    <col width="50%">
  </colgroup>
  <tr>
    <td valign="top">
      <br>
		<b> Data Tables </b>
	  <br>
      <div id="tree"style="width: 100%; height: 600px; overflow: scroll"></div>
      <br>
      <input type="button" value="Refresh" ng-click="refresh()">
 	  <input type="button" value="Upload From CSV" ng-click="uploadFromCSV()">
    </td>
    <td valign="top">
    	<br>
		<b> Id : {{selectedColumnId}} </b>
  		<progressbar value="progressValue" max="maxTasks">{{progressValue}}% completed</progressbar>
       <div class="gridStyle" ng-grid="gridOptions"></div>
       <br>
       <input type="button" value="Add" ng-click="addNewRow()">
       <input type="button" value="Delete" ng-click="delete()">
    </td>
  </tr>
  </table>	
</div>