Application
{
   background-gradient-colors:	#ffffff, #ffffff;
   color: 						#000000;
   background-image: 			Embed(source="/assets/application_background.png",
								scaleGridTop="94", scaleGridBottom="791", scaleGridLeft="350", scaleGridRight="690");
}

DataTip
{
  background-color: #FFFFFF;
  color: #000000;
}

.maximizeRestoreButton
{
	up-skin:        	Embed("/assets/maximize_up.png");
	over-skin:      	Embed("/assets/maximize_over.png");
	down-skin:      	Embed("/assets/maximize_up.png");
	selected-up-skin:   Embed("/assets/restore_up.png");
	selected-over-skin: Embed("/assets/restore_over.png");
	selected-down-skin: Embed("/assets/restore_up.png");
}

.minimizeButton
{
	up-skin:        Embed("/assets/minimize_up.png");
	over-skin:      Embed("/assets/minimize_over.png");
	down-skin:      Embed("/assets/minimize_up.png");
}

TabBar
{
	selected-tab-text-style-name: 	tabBarButtonSelected;
	tab-style-name: 				tabBarButton;
}

.tabBarButton
{
	up-skin:        		Embed("/assets/tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
	over-skin:        		Embed("/assets/tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
	down-skin:        		Embed("/assets/tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
	selected-up-skin:		Embed("/assets/tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
	selected-over-skin:		Embed("/assets/tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
	selected-down-skin:		Embed("/assets/tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
	color: 					#333333;
	text-roll-over-color:	#858585;
	font-size:				12px;
	font-family:			arial;
	text-align:				left;
	padding-left:			10px;
	padding-right:			20px;
	padding-top:			-4px;
}

.tabBarButtonSelected
{
	text-roll-over-color:	#003399;
	color:					#003399;
}

Pod
{
	padding-top: 31px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	rounded-bottom-corners: false;
	border-thickness: 1px;
	border-style: solid;
	border-color: #999999;
	header-colors: #cccccc, #999999;
	highlight-alphas: .9, 0;
	background-color: #ffffff;
	corner-radius: 6px;
	header-height: 22px;
	shadow-direction: right;
	drop-shadow-color: #999999;
}

.podTitle
{
	font-size: 11px;
	font-family: arial;
	font-weight: bold;
}

DragHighlight
{
	border-color: #CCCCCC;
	border-thickness: 3px;
	border-style: solid;
	background-color: #F3F3F3;
}

.leftArrowButton
{
	up-skin:		Embed("/assets/left_arrow_up.gif");
	over-skin:		Embed("/assets/left_arrow_over.gif");
	down-skin:		Embed("/assets/left_arrow_up.gif");
	disabled-skin:	Embed("/assets/left_arrow_disabled.gif");
}

.rightArrowButton
{
	up-skin:		Embed("/assets/right_arrow_up.gif");
	over-skin:		Embed("/assets/right_arrow_over.gif");
	down-skin:		Embed("/assets/right_arrow_up.gif");
	disabled-skin:	Embed("/assets/right_arrow_disabled.gif");
}