<div style="width: 100%; padding-bottom" class="master-select2-container">
				Key Column: <select ng-if = "analyst.mode == 'computation'"
									style = "width : 100%" 
									ui-select2="{allowClear : true}" 
									ng-model="tool.keyColumn" 
									ng-change = "WeaveService.keyColumn(tool.keyColumn);"
									data-placeholder="Choose Column">
								<optgroup ng-repeat="(dataset, columns) in queryService.queryObject.resultSet" label="{{dataset}}">
		   							 <option ng-repeat="column in columns" value="{{column}}">{{column.id}}</option>
		  						</optgroup>
							</select>
							
							<input ng-if= "analyst.mode == 'visualize'" 
								type="hidden" popover="Select key column" ui-select2-sortable popover-trigger="mouseenter"
								style="width: 100%;"
								ng-model="tool.keyColumn"
								simple-query="getAllColumns"
								data-placeholder="Choose Column"
								allow-clear="true"
								to-id="getItemId" to-text="getItemText">
							</input>
				<input type="button" value="set" ng-click="WeaveService.keyColumn(tool.keyColumn)"/>
</div>