<div ng-controller="GeographyControl">
	<div class="portlet-header">
		<span>Geography</span>
	</div>
	<div class="portlet-content">
		<div>
			State Column in {{dataTableTitle}}
			<select ui-select2 ng-model="stateDBSelection" data-placeholder="Choose State Column">
				<option></option>
				<option value="{{col}}" ng-repeat="col in stateDBOptions">{{col.title}}</option>
			</select>
			State Filter(s)<br>
			<select ui-select2 ng-model="stateSelection" data-placeholder="Choose State Filter(s)">
				<option></option>
				<option value="{{st}}" ng-repeat="st in stateOptions">{{st.label}}</option>
			</select>
		</div>
			County Column in {{dataTableTitle}}
			<select ui-select2 ng-model="countyDBSelection" data-placeholder="Choose County Column">
				<option></option>
				<option value="{{col}}" ng-repeat="col in countyDBOptions">{{col.title}}</option>
			</select>
			<br>County Filter(s)<br>
			<select ui-select2 multiple ng-model="countySelection" data-placeholder="Choose County Filter(s)">
				<option value="{{ct}}" ng-repeat="ct in countyOptions">{{ct.label}}</option>
			</select>
		</div>
	</div>
</div>