<!doctype html>
<html lang="en" ng-app="aws">
<head>
<meta charset="utf-8">
<title>Analyst Work Station</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/bootstrap-duallistbox.css" />
<link rel="stylesheet"
	href="css/ui-lightness/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" href="css/app.css" />

<script src='lib/jquery/jquery.js'></script>
<script src='lib/jquery/jquery-ui.js'></script>
<script src='lib/jquery/jquery.FileReader.js'></script>
<script src='lib/jquery/jquery.bootstrap-duallistbox.js'></script>
<script src='lib/select2.js'></script>
<script src='lib/angular/angular.js'></script>
<script src='lib/angular/angular-ui-select2.js'></script>
<script src='lib/angular/ui-bootstrap-0.5.0.js'></script>
<script src='lib/angular/angular-resource.js'></script>
<script src='lib/angular/ng-grid-2.0.7.debug.js'></script>
<script src='lib/angular/slider.js'></script>
<script src='lib/FileSaver.min.js'></script>
<script src='lib/swfobject.js'></script>
<script src='aws/app.js'></script>
<script src='aws/app/router.js'></script>
<script src='aws/app/dual-list-box-directive.js'></script>
<script src='aws/app/file-upload-directive.js'></script>
<script src='aws/app/panel-directive.js'></script>
<script src='aws/analysis/AnalysisCtrl.js'></script>
<script src='aws/analysis/geography/GeographyCtrl.js'></script>
<script src='aws/configure/metadata/MetadataManagerCtrl.js'></script>
<script src='aws/configure/metadata/metadataManagerService.js'></script>
<script src='aws/configure/script/ScriptManagerCtrl.js'></script> 
<script src='aws/configure/script/scriptManagerService.js'></script>
<script src='aws/queryObject/QueryImportExportCtrl.js'></script>
<script src='aws/queryObject/QueryObjectCtrl.js'></script>
<script src='aws/queryObject/queryObjectService.js'></script>
<script src='aws/queryObject/RunQueryCtrl.js'></script>
<script src='aws/visualization/weave/weaveCtrl.js'></script>
<script src='aws/visualization/tools/tools.js'></script>
<script src='aws/visualization/tools/barChart/BarChartCtrl.js'></script>
<script src='aws/visualization/tools/colorColumn/ColorColumnCtrl.js'></script>
<script src='aws/visualization/tools/dataTable/DataTableCtrl.js'></script>
<script src='aws/visualization/tools/map/MapCtrl.js'></script>
<script src='aws/visualization/tools/scatterPlot/ScatterPlotCtrl.js'></script>
<script src='../aws/aws.js'></script>

</head>

<body>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Analysis Builder</a></li>
    <li><a href="#tab2" data-toggle="tab">Projects</a></li>
  </ul>
  
  <!-- TAB CONTENT -->
  <div class="tab-content">
  
  <!-- -----ANALYSIS TAB -->
    <div class="tab-pane active" id="tab1"ng-controller="LayoutCtrl">
		<div id="container">
			<div id="header">
				<div ng-controller="DataTableCtrl" style="display: inline-block; margin-left : 30px"">
					Data Table: <select ui-select2 ng-model="dataTable" style=width:200px;>
						<option></option>
						<option ng-repeat="dt in dataTableList" value="{{dt}}">{{dt.title}}</option>
					</select>
				</div>
				                         v0.5b0211
				<div ng-controller="QueryImportExportCtrl" style="display: inline-block; float: right;">
					<button ng-click="exportQueryObject()" class="btn btn-primary">Export Query</button>
						<div class="file-upload">
							<label for="queryImport">Import Query</label> 
							<input type="file" id="queryImport" name="queryImport"	ng-submit="importQueryObject()" file-upload />
						</div>
					<br>
				</div>
			</div>
			<div ng-include src="leftPanelUrl">
			</div>


			<div id="center">
				<div id="analysis" ng-include src="analysisUrl"></div>
				<div ng-controller="RunQueryCtrl" style="display: inline-block; float: right;">
					<button ng-click="runQuery()" class="btn btn-primary">Run</button>
					<button ng-click="updateVisualizations()" class="btn btn-primary">Update</button>
					<button ng-click="clearWeave()" class="btn btn-primary">Clear</button>
				</div>
				<div ng-include src="geographyPanel"></div>
				<!--div id="weavePanel" ng-include src="weaveInstancePanel"></div-->
			</div>

		</div>

		<div id="Log">
			<h4>Log:</h4>
			<div id="LogBox"></div>
		</div>

	</div>
 <!-- ---------END OF ANALSYSIS BUILDER TAB -->
    
    <!-- PROJECTS TAB -->
    <div class="tab-pane" id="tab2" ng-controller="LayoutCtrl">
      <div ng-include src = "projectManagementUrl"></div>
    </div>
    
  </div>
  <!-- END OF TAB CONTENT -->
</div>
	

	<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
</body>
</html>
