<!doctype html>
<html lang="en" ng-app="aws">
<head>
<meta charset="utf-8">
<title>Analyst Work Station</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/ng-grid.css" />
<link rel="stylesheet"
	href="css/ui-lightness/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" href="css/app.css" />
</head>

<body>
	<div ng-controller="LayoutCtrl">
		<div id="container">
			<div id="header">
				<div ng-controller="DataTableCtrl" style="display: inline-block; margin-left : 30px"">
					Data Table: <select ui-select2 ng-model="dataTable" style=width:200px;>
						<option></option>
						<option ng-repeat="dt in dataTableList" value="{{dt}}">{{dt.title}}</option>
					</select>
				</div>
				<div ng-controller="QueryImportExportCtrl" style="display: inline-block; float: right;">
					<button ng-click="exportQueryObject()" class="btn btn-primary">Export Query</button>
						<div class="file-upload">
							<label for="queryImport">Import Query</label> 
							<input type="file" id="queryImport" name="queryImport"	ng-submit="importQueryObject()" file-upload />
						</div>
					<br>
				</div>
			</div>
			<div ng-include src="leftPanelUrl">
			</div>


			<div id="center">
				<div id="analysis" ng-include src="analysisUrl"></div>
				<div ng-controller="RunQueryCtrl" style="display: inline-block; float: right;">
					<button ng-click="runQuery()" class="btn btn-primary">Run</button>
					<button ng-click="clearWeave()" class="btn btn-primary">Clear</button>
				</div>
				<div id="weavePanel" ng-include src="weaveInstancePanel"></div>
				<div id="Log">
					<h4>Log Box for errors and timing</h4>
					<div id="LogBox"></div>
				</div>
			</div>

		</div>


	</div>


	<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
	<script src='lib/jquery/jquery.js'></script>
	<script src='lib/jquery/jquery-ui.js'></script>
	<script src='lib/jquery/jquery.FileReader.js'></script>
	<script src='lib/select2.js'></script>
	<script src='lib/angular/angular.js'></script>
	<script src='lib/angular/angular-ui-select2.js'></script>
	<script src='lib/angular/ui-bootstrap-0.5.0.js'></script>
	<script src='lib/angular/angular-resource.js'></script>
	<script src='lib/angular/ng-grid-2.0.7.debug.js'></script>
	<script src='lib/angular/slider.js'></script>
	<script src='lib/FileSaver.min.js'></script>
	<script src='lib/swfobject.js'></script>
	<script src='js/app.js'></script>
	<script src='js/services/services.js'></script>
	<script src='js/controllers/controllers.js'></script>
	<script src='js/controllers/DataTableCtrl.js'></script>
	<script src='js/controllers/leftPanelCtrl.js'></script>
	<script src='js/controllers/projectCtrl.js'></script>
	<script src='js/filters/filters.js'></script>
	<script src='js/directives/directives.js'></script>
	<script src='js/controllers/viewControllers.js'></script>
	<script src='js/controllers/panelControllers.js'></script>
	<script src='js/controllers/QueryImportExportCtrl.js'></script>
	<script src='js/controllers/RunQueryCtrl.js'></script>
	<script src='../aws/aws.js'></script>
	
</body>
</html>
