<div class='container-fluid'>

  <div id="content" ng-controller='MainController' class='row-fluid'>
    <div class='span5'><input type='text' ng-model='searchText'/></div>
    <div class='span4'><ul>
      <li ng-repeat='person in people' ng-show='person.live == true'>#{{person.id}} : {{person.name}}</li>
    </ul></div>
    <input type='text' ng-model='newPerson' />
    <button ng-click='addNew()'>Add Person</button>
  </div>

  <a href="#/aws">AWS</a>
  <div ng-controller='PhoneListCtrl' class='row-fluid'>
    <div class='span2'>
      search <input ng-model='query'/>
      Sort <select ng-model='orderProp'>
            <option value='name'>Alphabetical</option>
            <option value='age'>Newest</option>
            <option value='-age'>Oldest</option>
          </select>
    </div>
    <div class='span10'><br/>
      {{orderProp}}
      {{query}}
  <div >
    <ul class='phones'>
      <li ng-repeat='phone in phones | filter:query | orderBy:orderProp' class='thumbnail'>
        <a href='#/phones/{{phone.id}}' class='thumb'><img ng-src="{{phone.imageUrl}}"/></a>
        <a href='#/phones/{{phone.id}}'>{{phone.name}} <p>{{phone.snippet}}</p></a>
      </li>
    </ul>
  </div>
</div>
{{phones | json}}
</div>
</div>