<div ng-if="!queryService.authenticated" style="padding-top: 20px; 
	 position:absolute;
     width:300px;
     height:200px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px;"
     ng-enter="queryService.authenticate(queryService.user, queryService.password)">	
	 <table>
	 	<tr style="margin-bottom: 1em;">
	 		<td>
				 User Name: 
			</td>
	 		<td>
	 			<input ng-model="queryService.user" type="text" ui-keypress="{'enter':'queryService.authenticate(queryService.user, queryService.password)'}"/>
	 		</td>
	 	</tr>
	 	<tr>
	 		<td>
	 			Password:
	 		</td>
	 		<td>
		 		<input ng-model="queryService.password" type="password" ui-keypress="{'enter':'queryService.authenticate(queryService.user, queryService.password)'}"/>
	 		</td>
	 	</tr>
	 	<tr>
		 	<td>
	 		</td>
	 		<td>
		 		<div align="right" style="padding-top: 5px">
				 <input type="button" value="Login" ng-click="queryService.authenticate(queryService.user, queryService.password)"/>
		 		</div>
	 		</td>
	 	</tr>
	 </table>
</div> 