<div class='script-manager-container' ng-controller="ScriptManagerCtrl" style="padding-top:20px" >

	<div class="container" contenteditable="false">
		<div class="row">

		</div>
		<div class="row" contenteditable="false">
			<div class="col-md-3" contenteditable="false">
				<div class="gridStyle" ng-grid="gridOptions"></div>
				<div>
					<!-- <button class="file-nput-btn" ng-click="deleteSelectedScript()">
					Delete Selected
					</button> -->
					<file-upload label="Upload"></file-upload>
					<a class="btn" ng-hide="!savingMetadata"><i class="glyphicon glyphicon-refresh"></i>Saving</a>
				</div>

			</div>
			<div class="col-md-9" contenteditable="false">
				<div class="well">
					<div style="display:block">
						<div>
							<div>
								<span>Script Name:</span>
								<editablespan class= "editab-span-script" model='selectedScript[0].name'>
									{{selectedScript[0].name}}
								</editablespan>
							</div>

							<p class="text-right">
								Edit Mode
							</p>
							<div class="btn-group btn-toggle pull-right" ng-click="editMode = !editMode">
								<button ng-class="{'active btn-danger': editMode == true}" class="btn btn-default">
									On
								</button>
								<button ng-class="{'active': editMode == false}" class="btn btn-default">
									Off
								</button>
							</div>

						</div>
						<div>
							<span>General description</span>
							<editablespan model="selectedMetadata.description">
								{{selectedMetadata.description}}
							</editablespan>
						</div>

					</div>
				</div>
				<div class="well">
					<h3 class="">Inputs</h3>
					<div style="border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin: 10px 0px; height: 35px; font-size: 15px; font-weight: 400; padding:5px;">
						<div style="width: 20%" class="col-md-2">
							Name
						</div>
						<div style="width: 30%" class="col-md-2">
							Description
						</div>
						<div style="width: 15%" class="col-md-2">
							Type
						</div>
						<div style="width: 15%" class="col-md-2">
							ColumnType
						</div>
					</div>
					<div style="width: 100%; height: 40px; display: inline-block" ng-repeat="inpt in selectedMetadata.inputs">
						<div style="width: 20%" class="col-md-2">
							<editablespan model="inpt.param">
								{{inpt.param}}
							</editablespan>
						</div>
						<div style="width: 30%" class="col-md-2">
							<editablespan model="inpt.description">
								{{inpt.description}}
							</editablespan>
						</div>
						<div style="width: 15%" class="col-md-2">
							<editablespan model="inpt.type">
								{{inpt.type}}
							</editablespan>
						</div>
						<div style="width: 15%" class="col-md-2">
							<editablespan model="inpt.columnType">
								{{inpt.columnType}}
							</editablespan>
						</div>
						<div style="width: 10%" class="col-md-2">
							<a class="btn" ng-click="deleteInput($index)" ng-show="editMode"><i class="glyphicon glyphicon-remove"></i></a>
						</div>
					</div>
					<div style="border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin: 10px 0px; height: 35px; font-size: 15px; font-weight: 400; padding:5px;">
						<a class="btn pull-right" ng-click="addInput()" ng-show="editMode"><i class="glyphicon glyphicon-plus"></i>Add</a>
					</div>

				</div>

				<div class="well">
					<h3 class="">Outputs</h3>

					<div style="border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin: 10px 0px; height: 35px; font-size: 15px; font-weight: 400; padding:5px;">
						<div style="width: 30%; " class="col-md-2">
							Name
						</div>
						<div style="width: 60%" class="col-md-2">
							Description
						</div>

					</div>

					<div style="width: 100%; height: 40px; display: inline-block" ng-repeat="out in selectedMetadata.outputs">
						<div style="width: 30%" class="col-md-2 script-table-value">
							<editablespan model="out.param">
								{{out.param}}
							</editablespan>
						</div>
						<div style="width: 60%" class="col-md-2 script-table-value">
							<editablespan model="out.description">
								{{out.description}}
							</editablespan>
						</div>
						<div style="width: 10%" class="col-md-2 script-table-value">
							<a class="btn" ng-click="deleteOutput($index)" ng-show="editMode"><i class="glyphicon glyphicon-remove"></i></a>
						</div>
					</div>
					<div style="border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin: 10px 0px; height: 35px; font-size: 15px; font-weight: 400; padding:5px;">
						<a class="btn pull-right" ng-click="addOutput()" ng-show="editMode"><i class="glyphicon glyphicon-plus"></i>Add</a>
					</div>

				</div>
				<div class ="well">
					<h3> Script Contents </h3>
					<pre>{{scriptContent}}</pre>
				</div>
			</div>
		</div>
	</div>
</div>