<div class= "modal-dialog" ng-controller="ScriptManagerCtrl">
	<div class="modal-content" style="width:580px; height:600px">
			<div class="modal-header">
            	<h4>New Script Wizard</h4>
			</div>
			
			<div class="modal-body" style="width:578; height:438px">
				<div ng-if="step==1">
					Load local script:
					<br>
					<file-upload label="Choose..." style="width:75px"></file-upload> 
					<br><input type="text" ng-model="fileName" style="width:200px">
					<br>
					<b>OR</b> 
					<br>
					Paste your script below:
					<br>
					<textarea style="width: 100%; height: 300px; resize:none" ng-model="scriptContent">
					</textarea>
				</div>
				
				<div ng-if="step==2">
					Load local Metadata json(Optional):
					<br>
					<file-upload label="Choose..."></file-upload> 
					<br>
					<b>OR</b> 
					<br>
					Paste your json below:
					<br>
					<textarea style="width: 100%; height: 300px; resize:none" ng-model="metadata">
					</textarea>
				</div>
				
				<div ng-if="step==3">
					All done!
					<b>{{fileName}}</b>
					{{metadataobj.description}}
					<div class="gridStyle" ng-grid="scriptMetadataOptions" style="height:30%"></div>
					<pre>{{scriptContent}}</pre>				
				</div>
			</div>
			
			<div class="modal-footer">
  				<button ng-click="step = step-1" ng-disabled="step == 1" class="btn btn-primary">Back</button>
  				<button ng-click="step = step+1; loadMetadata()" ng-disabled="step == 3" class="btn btn-primary">Next</button>
  				<button ng-click="close()" class="btn btn-primary">Close</button>
			</div>
	</div>
</div>