/**
 * Some things to remember:
 * -Unless specifically declared, an item's font will be the same as its parent's.
 */

.application
{
	fontFamily: Verdana;
	backgroundColor: #C5D9CB;
}

.weave-panel-title-style {
	color: white;
    fontSize: 11;
    fontWeight:normal;
}       
.weave-panel-style {
	borderAlpha: 1.0;
	alpha: 1.0;
	backgroundAlpha: 1.0;
	borderColor: #366B3A;
	
	headerHeight: 20;
	
	borderThicknessTop: 2;
    borderThicknessBottom: 2;
    borderThicknessLeft: 2;
    borderThicknessRight: 2; 
    
    roundedBottomCorners: true;
	cornerRadius: 5;
}

.weave-menu-style {
	color: #000000;
	selectionColor: #366B3A;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #000000;
	openDuration: 0;
}
.weave-menu-bar-style {
	
	rollOverColor: #366B3A;
	selectionColor: #F8A4FB;
	cornerRadius: 7;
	fillAlphas: 1.0, 1.0;
	fillColors: #94B69C, #72A47F/*#95DD9C*/;
	highlightAlphas: 1.0, 0.2;
	fontFamily: Arial;
	fontWeight: bold;
	
	borderColor: #366B3A;
	borderThicknessTop: 5;
	borderThicknessBottom: 5;
	borderThicknessLeft: 5;
	borderThicknessRight: 5; 
}

.probingtooltip
{
	color: #dd0088;
}
