/**
 * Some things to remember:
 * -Unless specifically declared, an item's font will be the same as its parent's.
 */

.application
{
	fontFamily: Arial;
	backgroundColor: #050510;
}

.weave-panel-title-style {
	textColor: #505050;
	fontFamily: Arial;
    fontSize: 11;
    fontWeight: bold;
}       
.weave-panel-style {
	backgroundColor: #505050;
	borderAlpha: 1.0;
	alpha: 1.0;
	backgroundAlpha: 1.0;
	borderColor: #8C8C8C;
	headerHeight: 20;
	borderThicknessTop: 5;
    borderThicknessBottom: 0;
    borderThicknessLeft: 0;
    borderThicknessRight: 0; 
    
    roundedBottomCorners: true;
	cornerRadius: 5;
}

.weave-menu-style {
	color: #000000;
	/*selectionColor: #606060;*/
	rollOverColor: #606060;
	selectionColor: #F8A4FB;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	openDuration: 0;
}
.weave-menu-bar-style {
	
	color: #EEEEEE;
	rollOverColor: #444444;
	selectionColor: #050505;
	cornerRadius: 7;
	fillAlphas: 1.0, 1.0;
	fillColors: #464852, #050505;
	highlightAlphas: 0.7,0.2;
	fontFamily: Arial;
	fontWeight: bold;
	
	borderColor: #585959;
	borderThicknessTop: 10;
	borderThicknessBottom: 10;
	borderThicknessLeft: 5;
	borderThicknessRight: 5; 
}

.probingtooltip
{
	color: #dd0088;
}
