/**
 * Some things to remember:
 * -Unless specifically declared, an item's font will be the same as its parent's.
 */

.application
{
	fontFamily: Verdana;
	backgroundColor: #ADB2D2;
}

.weave-panel-title-style {
	fontFamily: Arial;
	color: #B6BFD8;
    fontSize: 11;
    fontWeight:200;
}       
.weave-panel-style {
	borderAlpha: 0.9;
	alpha: 1.0;
	backgroundAlpha: 1.0;
	borderColor: #001C7C;
	
	headerHeight: 20;
	
	borderThicknessTop: 2;
    borderThicknessBottom: 2;
    borderThicknessLeft: 2;
    borderThicknessRight: 2; 
    
    roundedBottomCorners: true;
	cornerRadius: 5;
}

.weave-menu-style {
	color: #FFFFFF;
	selectionColor: #88A4DB;
	textRollOverColor: #3A4F9D;
	textSelectedColor: #FFFFFF;
	openDuration: 0;
}
.weave-menu-bar-style {
	cornerRadius: 7;
	fillAlphas:1.0, 1.0;
	fillColors: #8B98C5, #687AB5;
	highlightAlphas: 1.0, 0.2;
	color: #0C1250;
	fontFamily: Arial;
	fontWeight: bold;
	rollOverColor: #88A4DB;
	selectionColor: #F8A4FB;
	borderColor: #001C7C;
	borderThicknessTop: 5;
	borderThicknessBottom: 5;
	borderThicknessLeft: 5;
	borderThicknessRight: 5; 
}

.probingtooltip
{
	color: #dd0088;
}

