/* app css stylesheet */





#weave {
	display:inline-block;
}

#weavePanel{
	display:inline-block;
	margin-left: 10px;
}


/*
#sortable {
	width: 100%;
	border: 1px solid #ccc;
	height: 600px;
	padding: 3px;
	display: inline-block;
}


.ui-sortable-placeholder {
	border: 1px black;
	visibility: visible !important;
	height: 100px !important;
	clear: both;
	background: black;
}*/

/*.ui-sortable-placeholder * {
	visibility: hidden;
}

.panel {
	vertical-align: top;
	margin-bottom: 20px;
}

.panel-title-margins {
	margin-left: 7px;
}

.centered-button {
	margin-left: 108px;
	margin-top: 20px;
	margin-bottom: 20px;
}*/
/*
select {
	margin: 5px 3px 3px 0px;
	width: 100%;
}

ol {
	margin: 0px 0px 0px 0px;
}
input[type="checkbox"] {
	margin: -2px 0 0;
}
#feedback {
	font-size: .5em;
}*/
/*
.ui-selecting {
	background: #FECA40;
}

.ui-selected {
	background: #F39814;
	color: white;
}

#selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#selectable li {
	margin: 0px;
	padding: 0em;
	font-size: .7em;
	height: 10px;
}*/

/*#busyIndicator {
	height: 20px;
	width: 20px;
}*/

.animate-enter {
 -webkit-transition: height 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -o-transition: 1s linear all; /* Opera */
 transition: height 1s linear all; /* IE10+ and Future Browsers */
 
 /* The animation preparation code */
 opacity: 0;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter.animate-enter-active {
 /* The animation code itself */
 opacity: 1;
}
/*
.select2-container {
	width: 100%;
}*/
/* ui-slider not used in script_settings.tpl.html and by_variable.tpl.html */
.ui-slider{
	margin-top: 10px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 5px;
}

/* These .file-upload classes have been altered to match the bootstrap .btn classes 
.file-upload {
	overflow: hidden;
	display: inline-block;
	position: relative;	
	vertical-align: middle;
	text-align: center;
	cursor: pointer;

	 Cosmetics 
	color: #fff;
	border-top-color: rgba(0, 0, 0, 0.1);
	border-right-color: rgba(0, 0, 0, 0.1);
	border-bottom-color: rgba(0, 0, 0, 0.25);
	border-left-color: rgba(0, 0, 0, 0.1);
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	background: rgb(0, 109, 204);
	background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204));
	background-repeat: repeat-x;
	padding: 4px 14px 4px 14px;
	height: 20px;

	 Nice if your browser can do it 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    }
	
.file-upload:hover { 
	background: #ffffff;
	background-color: rgb(0, 68, 204);
	}

.file-upload.focus { 
	outline-width: thin;
	outline-style: dotted;
	outline-color: #333;
	}

.file-upload input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 40px;

	 Loses tab index in webkit if width is set to 0 
	opacity: 0;
	filter: alpha(opacity=0);
	}
.tile {
	width: 500px;
	padding: 2em;
	background-color: #f5f5f5;
	border: 1px solid #f0f0f0;
	margin: 2em;
}*/
/* .file-upload strong { 
	font: normal 1.75em arial,sans-serif; 
	}	
	
.file-upload span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;

	Adjust button text vertical alignment
	padding-top: .45em;
	} */
/* 
/* Adjust the button size */	
/*.file-upload {  } */
