/* app css stylesheet */
/*body {
	padding-top: 20px;
}

h1 {
	border-bottom: 1px solid gray;
}

pre {
	font-size: 11px;
	line-height: 13px;
}
/*
#Log {
	/* display:inline-block; *
}

#container {
	width: 98%;
	height: 98%;
	position: relative;
	margin-left: 20px;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	/* border:solid;*
	display: inline-block;
}*/

/* #header {
	width: 100%;
	height: 8%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 5px;
	float: left;
	border:solid;
} */

/*#leftPanel {
	width: 15%;
	height: 90%;
	position: relative;
	float: left;
}*/

#weave {
	display:inline-block;
}

#weavePanel{
	display:inline-block;
	margin-left: 10px;
}

#weaveThumb {
	width: 100%;
	height: 15%;
	position: relative;
	float: left;
	margin-top: 3px;
}

#center {
/*  border: solid; */
  width: 70%;
  height: 80%;
  position: relative;
  float: left;
  display: inline-block;
}

#sortable {
	width: 100%;
	/*border: 1px solid #ccc;*/
	height: 600px;
	padding: 3px;
	display: inline-block;
}

#dataButton {
	margin-left: 21px;
	margin-bottom: 10px;
}

#refreshButton {
	margin-left: 20px;
}

/*div.portlet {
	margin: 3px;
	padding: 1px;
	float: left;
	height: 100px;
	width: 100%;
}*/

/*.portlet { margin: 0 1em 1em 0; }*/

/*
.portlet-minimized {
	height: auto !important;
}
*/
/*.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }*/

/*
.portlet-header .ui-icon {
	float: right;
}

.portlet-content { 
	padding-right: 10px;
	padding-left: 7px;
	padding-bottom: 5px;
	padding-top: 3px; 
}

.portlet-minimized .portlet-content {
	display: none !important;
}
*/
.ui-sortable-placeholder {
	border: 1px black;
	visibility: visible !important;
	height: 100px !important;
	clear: both;
	background: black;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}
/*
.panel {
	vertical-align: top;
	margin-bottom: 20px;
}

.panel-title-margins {
	margin-left: 7px;
}

.centered-button {
	margin-left: 108px;
	margin-top: 20px;
	margin-bottom: 20px;
}

select {
	margin: 5px 3px 3px 0px;
	width: 100%;
}

ol {
	margin: 0px 0px 0px 0px;
}
input[type="checkbox"] {
	margin: -2px 0 0;
}
#feedback {
	font-size: .5em;
}

.ui-selecting {
	background: #FECA40;
}

.ui-selected {
	background: #F39814;
	color: white;
}

#selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#selectable li {
	margin: 0px;
	padding: 0em;
	font-size: .7em;
	height: 10px;
}

#busyIndicator {
	height: 20px;
	width: 20px;
}
*/
.animate-enter {
 -webkit-transition: height 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -o-transition: 1s linear all; /* Opera */
 transition: height 1s linear all; /* IE10+ and Future Browsers */
 
 /* The animation preparation code */
 opacity: 0;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter.animate-enter-active {
 /* The animation code itself */
 opacity: 1;
}

/*
.select2-container {
	width: 100%;
}*/

.ui-slider{
	margin-top: 10px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 5px;
}

/* These .file-upload classes have been altered to match the bootstrap .btn classes */

 /*
/* Adjust the button size */	
/*.file-upload {  } */
