#loading {
	width: 77px;
	height: 20px;
	top: 110px;
	left: 520px;
	position: fixed;
	display: block;
	opacity: 0.7;
	/*background-color: #ccc;*/
	height: 10%;
	top: 110px;
	left: 530px;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 10px;
	left: 30px;
	z-index: 100;
}

.search-script .search-script-div {
	display: block;
padding: 0px;
border-radius: 0px !important;
height: 100%

}

.search-script .search-script-div .select2-choice {
display: block;
height: 26px;
padding: 0 0 0 8px;
overflow: hidden;
position: relative;
/* border: 1px solid #aaa; */
white-space: nowrap;
line-height: 26px;
color: #444;
text-decoration: none;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important; 
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: #fff;
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);
}

.search-script .search-script-div .select2-arrow {
display: inline-block;
width: 18px;
height: 100%;
position: absolute;
right: 0;
top: 0;
border-right: 1px solid #aaa;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important; 
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
background: #ccc;
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
/*
.select2-container.select2-container-disabled .select2-choice{
	
	display: block;
padding: 0px;
border-radius: 0px;
height: 100%
}*/
}

.master-select2-container {
	display: inline-block;
	vertical-align: middle;
	min-width: 220px !important;
}

.link-inactive {
	pointer-events: none;
	cursor: default;
}

.link-active {
	pointer-events: visible !important;
	cursor: pointer !important;
}

.step {

	background: #B2B5B9;
	color: #fff;
	display: inline;
	font-size: 11px;
	font-weight: 700;
	padding: 5px 10px;
	border: 3px solid transparent;
	border-radius: 50%;
	line-height: normal;
	position: relative;
	text-align: center;
	z-index: 2;
	-webkit-transition: all .1s linear 0s;
	transition: all .1s linear 0s;
}

.wizard-vertical .wizard-steps .wstep {
	width: 220px;
	margin-bottom: 40px;
	height: 10px;
}
.wizard-steps .wstep.current {
	color: #6f7a8a;
}
.wizard-steps .wstep {
	display: inline-block;
	width: 150px;
	position: relative;
	color: #c9c9c9;
	font-size: 13px;
	margin-right: 0px;
	width: 150px;
	margin-bottom: 30px;
}

.wizard-vertical .wizard-steps .wstep:after {
	top: 48px;
	left: 24px;
	border-top: none;
	border-left: 2px solid #c9c9c9;
	height: 25px;
	width: 2px;
	margin-left: -8px;
	margin-top: -25px;
}
.wizard-steps .wstep:after {
	content: "";
	position: absolute;
	top: 24px;
	left: 110px;
	border-top: 2px solid #c9c9c9;
	height: 2px;
	width: 100px;
}

.wizard-steps.show {
	text-align: center;
}

.wizard-vertical .wizard-steps.show {
	width: 250px;
	border-bottom: none;
	border-right: 1px dashed #c9c9c9;
	float: left;
	margin-bottom: 0px;
	margin-top: 20px;
	text-align: left;
	padding-left: 25px;
}

.donut .active {
	background: #0091d9;
	border: 3px solid #55606E;
}

.wizard-vertical .wizard-steps .wstep.last-child {
	margin-bottom: 20px
}

.wizard-vertical .wizard-steps .wstep.last-child:after {

	border-left: 0px;
}

.wstep .txt {
	width: 170px;
	margin-left: 10px;
	/* text-align: center; */
	display: inline-block;
	font-size: 11px;
}

.donut {
	margin-left: 0;
	position: relative;
	margin-bottom: 5px;
	float: left;
}

/*
 *
 * The Script Search Bar
 *
 *
 */

.strap-dropdown-input {

	vertical-align: middle;
	padding: 5px;
}

.strap-caret {

	float: right;
	margin-top: 8px;
}

/*
 *
 * The left form
 *
 */

.wrap {
	padding-left: 210px;
}

.search-bar-content {
	float: left;
	padding: 19px 20px 0px;
	width: 95%;
}

.search-bar-content .search-script {

	margin-top: 17px;
	width: 40%;
}

.search-bar-content .page-header {
	padding-bottom: 0px;
	margin: 20px 0 0px 1px;
	border-top: 2px solid #ccc;
	border-bottom: 0px;
}

.search-bar-content h1 {
	font-size: 18px;
	margin-top: 9px;
	margin-bottom: 5px;
	color: #626262
}

.analysis-tpl .analysis-wizard {

	height: 159px;
	margin-right: 0px;
}

.dashboard-content {

	margin-top: 5px;
	background-color: yellow;
	width: 100%;
	border-top: 1px solid #8A8A8A;
	height: 100%;
	background: url(img/debut_light.png);
	margin-right: 0px;
	margin-left: 0px;
	display: table;
	overflow-y: scroll;
}

.dashboard-content .sidebar-content {

	width: 235px;
	background: url(img/furley_bg.png);
	height: 100%;
	border-right: 1px solid #CCCCCC;
	padding-right: 0px;
	padding-left: 0px;
	clear: both;
	display: table-cell;
}

.sidebar-content .tool-bar {

	width: 100%;
	height: 100%;
}

.sidebar-content .tool-bar .tool-list {
	padding-left: 0px;
}

.sidebar-content .tool-bar .tool-list > li {

	margin-bottom: 0;
	border-bottom: 1px solid #c9c9c9;
	position: relative;
	margin-right: 1px;
	display: block;
}

.sidebar-content .tool-bar .tool-list > li > a {

	text-decoration: none;
	display: inline-block;
	width: 60%;
	color: #777777;
}

.sidebar-content .tool-bar .tool-list > li {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
	color: #777777;
	padding: 0;
	text-shadow: none;
	margin-left: 0;
	margin-right: 0;
	line-height: 39px;
	font-size: 13px;
	position: relative;
	display: block;
	transition: 0.25s all ease-in;
	text-decoration: none;
}

.sidebar-content .tool-bar .tool-list > li:hover {

	background: url(img/furley_bg.png);
}

.tool-list .checkbox {
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
	height: 39px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 8px;
	color: #777777;
	float: left;
	/*border-left: 1px solid #c9c9c9;*/
	border-right: 1px solid #c9c9c9;
	margin-right: 10px;
}

.dashboard-content .widget-container {

	display: table-cell;
	width: 79.5%;
	height: 100%;
	padding-top: 0px;
	padding-left: 25px;
}

.tool-list .add-widget {

	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	border: 0px;
}

.tool-list .tool-category {

	height: 35px;
	background-color: #292929;
	color: white;
	padding-left: 10px;
	padding-top: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget-container .color-widget {

	width: 80px;
	height: 40px;
	border: 1px solid black;
}

.widget-container .widget-row {

	padding-left: 50px;
	padding-right: 30px;
	padding-top: 50px;
}

.widget-container .widget-row .tool-inc-widgets {

	border: 1px solid black;
	height: 700px;
	width: 50%;
}
.widget-container .widget-row .standard-widget {

	border: 1px solid black;
	height: 70px;
	width: 10%;
}

/*
 *
 * Scripts settings panel
 *
 */

.search-script .popover {

	height: 50px;
	top: -40px !important;
	min-width: 400px;
	height: auto;
	padding-top: 5%;
	padding-left: 5%;
}

.search-script .popover .select-2-drop {

	width: 50% !important;
}

.search-script .popover .portlet-content {
	width: 100%;
}

.search-script .popover .label-p {

	width: 20%;
	padding: 5px;
}

.search-script .popover .input-controls .input-p {

	/* margin: 0 0 10px; */
	display: table-cell;
	padding-left: 10px;
	width: 70%;
}

.search-script .popover .input-controls {
	padding-left: 15px;
}

.search-script .popover .input-controls > li {
	display: table-row;
	border-right: 1px solid #FFE1EB;
	width: 100%;
	vertical-align: middle;
	padding-bottom: 10px;
}

.search-script .popover .input-controls .label-p {

	width: 30%;
	display: table-cell;
}

.search-script .arrow {

	top: 20% !important;
}

/*
 *
 * Panel for widgets
 *
 *
 */

.panel {
	padding: 0px;
	/*border: 1px solid #c9c9c9;*/
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(222, 2222, 222, 0.1), 1px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: inset 1px 1px 0px 0px rgba(222, 222, 222, 0.1), 1px 1px 0px 0px rgba(255, 255, 255, 1);
	/*margin-bottom: 1px;*/
	background: #fefefe;
}

.panel .panel-heading {
	width: 100%;
	background: #4C4F53;
	color: #FFF;
	border-color: #4C4F53 !important;
	border-radius: 0;
	line-height: normal;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
	border: 1px solid #C2C2C2;
	height: 30px;
	padding: 0px;
	display: inline-block;
}

.panel .panel-heading  .close-button {

	min-width: 30px;
	height: 28px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	border-left: 1px solid rgba(0,0,0,.09);
	float: right;
	display: block;
	color: white;
}

.panel .panel-heading > h2 {
	padding: 8px 0px 2px 15px;
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	display: inline-block;
}

.panel .panel-heading  .close-button:hover {

	color: #C0C0C0;
}

.panel .panel-body {
	min-height: 172px;
	border-bottom: 1px solid #ccc;
	background: #fafafa;
}

.panel .panel-body .input-controls {
	margin: 0;
	padding: 0;
	min-height: 5px;
	list-style: none;
}

.panel .panel-body .input-controls .input-p {

	margin: 0 0 10px;
	display: table-cell;
	padding-left: 30px;
	width: 70%;
}

.panel .panel-body .input-controls .label-p {

	width: 30%;
	display: table-cell;
}

.masonry-brick {
	margin: 35px 5px 0px 0px;
	float: left;
	width: 45%;
}

.panel .widget-description {

	margin: 0;
	line-height: 31px;
	padding: 0 0 0 10px;
	background: #fafafa;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #f4f4f4;
	color: #999;
	font-size: 17px;
	font-weight: 300;
}

.panel .panel-body .input-controls > li {
	display: inline;
	width: 100%;
	vertical-align: middle;
	line-height: 3em;
	padding-bottom: 2px;
	margin-bottom: 1em;
}

.masonry-brick .panel-body .widget-ui-control {

	line-height: 1em !important;
	width: 65% !important;
	display: table-cell;
}

.masonry-brick .panel-body .tool-list-control-element {

	line-height: 2em;
	padding-bottom: 2px;
	margin-bottom: 1em;
	right: -20px;
	vertical-align: middle;
}

.masonry-brick .panel-body .tool-label {

	display: inline-block;
	width: 30%;
}

.masonry-brick .panel-body .byvariable-contents {

	width: 100%;
	display: inline;
}

.masonry-brick .byvariable-contents .select2-container {
	display: inline-block !important;
	width: 70%;
}

.masonry-brick .geography-panel-contents .select2-container {

	width: 100% !important;
}

/*
 *
 * CSS for the run bar -> report generation bar
 *
 */

.run-bar {

	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	z-index: 3000;
	background-color: #4D555C;
	color: rgb(252, 245, 245);
	display: inline;
	vertical-align: middle;
}

.run-bar .run-btn {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 15px !important;
	line-height: 1.5 !important;
	border-radius: 3px !important;
	padding: 0px 7px !important;
	padding-bottom: 3px !important;
	height: 84%;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
	color: #fff;
	background-color: #3276b1;
	border-color: #2c699d;
	/*float: right;*/
	width: 25%;
	font-weight: 500;
	margin-right: 30px;
	margin-left: 90px;
	vertical-align: middle;
	text-align: center;
	padding-top: 5px;
	display: inline-block;
}

.run-bar .export-btn {
	height: 20px;
	padding: 3px 4px;
	background-color: #A30000;
	border-color: #A30000;
	font-size: 11px;
}

.run-bar .btn:hover {
	background-color: #285E8E;
}

.play-button {
	vertical-align: middle;
	font-size: 24px;
	margin-left: 30px;
	font-weight: 600;
}

.run-bar .txt {

	padding: 2px 10px;
	font-size: 11px;
	line-height: 1;
	/*border-color: #BDBDBD;*/
	transition: border-color .3s;
	-webkit-transition: border-color .3s;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 10%;
	height: 20px;
	padding: 8px 10px;
	outline: 0;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	margin-left: 5px;
}

.dropdown-menu {

	height: 160px;
	overflow-y: scroll;
}

.indicator-float {

	position: fixed;
	top: 165px;
	right: 0;
	height: 37px;
	z-index: 99;
	color: white;
	border-radius: 8px;
	padding-bottom: 7px;
	padding-top: 8px;
	float: left;
	display: inline-block;
	width: 140px !important;
	text-align: center;
	border-radius: 6px 0 0 6px !important;
	opacity: .70;
	filter: alpha(opacity=55.00000000000001);
	vertical-align: top;
	margin: 0;
	font-weight: normal;
	background: #131212 !important;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(##0A0A0A),to(#131212)) !important;
	background-image: -webkit-linear-gradient(top,#0A0A0A,0%,#131212,100%) !important;
	background-image: -moz-linear-gradient(top,#0A0A0A 0,#131212 100%) !important;
	background-image: linear-gradient(to bottom,#0A0A0A 0,#131212 100%) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffbf66',endColorstr='#ffffa830',GradientType=0) !important;
}
