/* Sample CSS file to load fonts

To configure your project to compile this CSS into a SWF, right click on this file from Flash Builder 
and make sure the "Compile CSS to SWF" option is checked.
*/

@font-face { src: url("fonts/SophiaNubian/SNR.ttf"); embedAsCFF: false; fontFamily: "Sophia Nubian"; fontWeight: normal; }
@font-face { src: url("fonts/SophiaNubian/SNB.ttf"); embedAsCFF: false; fontFamily: "Sophia Nubian"; fontWeight: bold; }
@font-face { src: url("fonts/NotoSansCJK-TC/NotoSansCJKtc-Regular.otf"); embedAsCFF: false; fontFamily: "Noto Sans CJK"; fontWeight: normal; }

/*

@font-face { src: url("fonts/arial.ttf"); fontFamily: "Arial"; fontWeight: normal; }
@font-face { src: url("fonts/verdana.ttf"); fontFamily: "Verdana"; fontWeight: normal; }


@font-face { src: url("fonts/ariblk.ttf"); fontFamily: "Arial"; fontWeight: normal; }
@font-face { src: url("fonts/arialbd.ttf"); fontFamily: "Arial"; fontWeight: bold; }
@font-face { src: url("fonts/ariali.ttf"); fontFamily: "Arial"; fontWeight: normal; }

@font-face { src: url("fonts/verdanab.ttf"); fontFamily: "Verdana"; fontWeight: bold; }
@font-face { src: url("fonts/verdanaz.ttf"); fontFamily: "Verdana"; fontWeight: bold; }
@font-face { src: url("fonts/verdanai.ttf"); fontFamily: "Verdana"; fontWeight: bold; }

@font-face { src: url("fonts/BRLNSB.TTF"); fontFamily: "Berlin Sans FB"; fontWeight: bold; }
@font-face { src: url("fonts/GIL_____.TTF"); fontFamily: "Gill Sans MT"; fontWeight: normal; }
@font-face { src: url("fonts/GILC____.TTF"); fontFamily: "Gill Sans MT Condensed"; fontWeight: normal; }
@font-face { src: url("fonts/georgia.ttf"); fontFamily: "Georgia"; fontWeight: normal; }
@font-face { src: url("fonts/georgiab.ttf"); fontFamily: "Georgia"; fontWeight: bold; }
@font-face { src: url("fonts/Candara.ttf"); fontFamily: "Candara"; fontWeight: normal; }
@font-face { src: url("fonts/Candarab.ttf"); fontFamily: "Candara"; fontWeight: bold; }
@font-face { src: url("fonts/calibrib.ttf"); fontFamily: "Calibri"; fontWeight: bold; }
@font-face { src: url("fonts/calibriz.ttf"); fontFamily: "Calibri"; fontWeight: bold; }
@font-face { src: url("fonts/calibrii.ttf"); fontFamily: "Calibri"; fontWeight: bold; }
@font-face { src: url("fonts/calibri.ttf"); fontFamily: "Calibri"; fontWeight: normal; }
@font-face { src: url("fonts/tahoma.ttf"); fontFamily: "Tahoma"; fontWeight: normal; }

@font-face { src:url("MyriadPro-Bold.otf"); fontFamily: MyriadPro; fontWeight:bold; advancedAntiAliasing: true; }
@font-face { src:url("MyriadPro-BoldCond.otf"); fontFamily: MyriadPro-Cond; fontWeight:bold; advancedAntiAliasing: true; }
@font-face { src:url("MyriadPro-Cond.otf"); fontFamily: MyriadPro-Cond; advancedAntiAliasing: true; }
@font-face { src:url("MyriadPro-Regular.otf"); fontFamily: MyriadPro; advancedAntiAliasing: true; }
@font-face { src:url("MyriadPro-Semibold.otf"); fontFamily: MyriadPro-Semibold; fontWeight:bold; advancedAntiAliasing: true; }
*/
