/* Sample CSS file to load fonts

To compile CSS file to a SWF File, right click on this file from Flash Builder 
and select Compile CSS to SWF
*/
@font-face {
	src: url("fonts/SophiaNubian/SNR.ttf");
	fontWeight: normal;
	fontName: "Sophia Nubian";
	fontFamily: "Sophia Nubian";
}
@font-face {
	src: url("fonts/SophiaNubian/SNB.ttf");
	fontWeight: bold;
	fontName: "Sophia Nubian";
	fontFamily: "Sophia Nubian";
}


/*
@font-face {
	src:url("MyriadPro-Bold.otf");
	fontFamily: MyriadPro;
	fontWeight:bold;
	advancedAntiAliasing: true;
}
@font-face {
	src:url("MyriadPro-BoldCond.otf");
	fontFamily: MyriadPro-Cond;
	fontWeight:bold;
	advancedAntiAliasing: true;
}
@font-face {
	src:url("MyriadPro-Cond.otf");
	fontFamily: MyriadPro-Cond;
	advancedAntiAliasing: true;
}
@font-face {
	src:url("MyriadPro-Regular.otf");
	fontFamily: MyriadPro;
	advancedAntiAliasing: true;
}
@font-face {
	src:url("MyriadPro-Semibold.otf");
	fontFamily: MyriadPro-Semibold;
	fontWeight:bold;
	advancedAntiAliasing: true;
}
*/
