<div class="panel-body" ng-controller="ScatterPlotCtrl">
	<ul class="input-controls">
		<input type="checkbox" ng-model="enableTitle"/> Title:
	<input type="text" placeholder="Default" ng-model='title'>
	<br>X Column<br>
	<select ui-select2 ng-model="XSelection" data-placeholder="Choose X Column">
		<option></option>
		<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
	</select>
	<br>Y Column<br>
	<select ui-select2 ng-model="YSelection" data-placeholder="Choose Y Column">
		<option></option>
		<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
	</select>	
	</ul>

</div>