<div class='script-manager-container' style="padding-left: 30px">
	
	<div ng-include src="'src/configure/auth/login.html'"></div>

	<div contenteditable="false" style = "padding-top : 20px" ng-if="authenticationService.authenticated">
		<div class="row" style="float:right; padding : 20px">
			<button class= "btn btn-sm btn-primary"  style="float:right;" ng-click="authenticationService.logout()">Logout</button>
		</div>
		<b> Scripts </b>
		<div class="row" contenteditable="false">
			<div class="col-md-4" contenteditable="false">
			    <div id="tree" dynatree style="width: 100%; height: 600px; overflow: hidden"></div><!-- The actual hierarchy of tables and their columns -->
<!-- 				<tabset> -->
<!-- 				    <tab heading="R Scripts"> -->
<!-- 						<div class="gridStyle" ng-grid="rScriptListOptions"></div> -->
<!-- 				    </tab> -->
<!-- 				    <tab heading="Stata Scripts"> -->
<!-- 						<div class="gridStyle" ng-grid="stataScriptListOptions"></div> -->
<!-- 				    </tab> -->
<!-- 				 </tabset> -->
				<div>
					<button class="btn btn-primary" style="float:left; width:33%" ng-click="refreshScripts()">Refresh</button>
					<button class="btn btn-primary" style="float:left; width:33%; margin-left:5px" ng-click="deteleScript()">Delete Script</button>
					<button class="btn btn-primary" style="float:left; width:30%; margin-left:5px" ng-click="saveNewScript()">New...</button>
				</div>
			</div>
			
			<div class="col-md-8" contenteditable="false" ng-if="selectedScript">
				<div class="well">
					<table style="display:block">
						<font color="{{statusColor}}">{{status}}</font>
						<tr>
							<td>
								<b>Script:</b>
							</td>
							<td width="100%">
								<input type="text" ng-model='selectedScript' disabled style="width:100%"/>
							</td>
						</tr>
						<tr>
							<td>
								<b>Description:</b>
							</td>
							<br><br>
							<td width="100%">
								<div class="well">
									 <input type="button" value="{{EditDoneDesc}}" ng-click="toggleEditDesc()" style="float:right;"><!-- TODO replace EditDoneDesc with ng-class -->
									<pre ng-show="!editDesc" style="width: 100%; height:100px; resize:none; overflow: scroll">{{scriptMetadata.description}}</pre>
									<textarea ng-show="editDesc" ng-model="scriptMetadata.description"
																		style="width: 100%; 
																		height:100px;
																	   resize:none; 
																	   overflow: scroll; 
																	   font-family:Monaco,Menlo,Consolas,'Courier New',monospace; 
																	   font-size: 10pt;
																	   padding:9.5px;
																	   margin:0 0 10px;
																	   border:1px;
																	   line-height: 1.428571429;
																	   border-radius: 4px;
																	   border: 1px solid #ccc;">
											{{scriptMetadata.description}}
									</textarea>
								</div>
							</td>
						</tr>
					</table>
				</div>
				
				<div style="width:100%">
					<div class="gridStyle" style="width:100%; height: 200px" ng-show="!viewasjson" ng-grid="scriptMetadataGridOptions"></div>
<!-- 					<textarea style="width:100%; height:300px; resize:none" ng-change="scriptMetadataGridOptions.inputs = angular.fromJson(inputsAsString)" ng-show="viewasjson" ng-model='inputsAsString'> -->
<!-- 					 	{{inputsAsString}} -->
<!-- 					 </textarea> -->
				</div>
				<br>
				<input type="button" value="Add Row" ng-click="addNewRow()">
    		    <input type="button" value="Delete Row" ng-click="removeRow()">
<!--     		    <input type="checkbox" ng-click="toggleJsonView()"> View as Json </input> -->
				<br><br>

				<div class="well">
					<h4 style="display:inline-block"> Script Content </h4>
					 <input type="button" value="{{EditDone}}" ng-click="toggleEdit()" style="float:right;">
					<div style="display:block;">
						<pre ng-show="!editScript" style="width: 100%; height: 600px; resize:none; overflow: scroll">{{script.content}}</pre>
						<textarea ng-show="editScript" ng-model="script.content"
														spellcheck="false"
														style="width: 100%; 
															   height: 600px; 
															   resize:none; 
															   overflow: scroll; 
															   font-family:Monaco,Menlo,Consolas,'Courier New',monospace; 
															   font-size: 10pt;
															   padding:9.5px;
															   margin:0 0 10px;
															   border:1px;
															   line-height: 1.428571429;
															   border-radius: 4px;
															   border: 1px solid #ccc;">
								{{script.content}}
						</textarea>
					</div>
				</div>
		</div>
	</div>
</div>
</div>