<div class="panel-body" ng-controller="IndicatorCtrl">
	<ul class="input-controls">
		<li>
			<div>
				<select ui-select2 ng-model="indicSelection" data-placeholder="Choose Indicator">
					<option></option>
					<option value="{{indic}}" ng-repeat="indic in indicOptions">{{indic.label}}</option>
				</select>
			</div>
		</li>	
		<div ng-show="isIndicSelected">
			Description: {{indicatorDescription}}
			<br><br>
			Values:
			<table border="border: 1px solid #0000FF">
				<tr ng-repeat="varValue in varValues">
					<td style="padding-left: 5px; padding-right: 5px"> {{varValue.value}} </td> 
					<td  style="padding-left: 5px"> {{varValue.label}} </td>
				</tr>
			</table>
		</div>
	</ul>
</div>
