<div class="panel-body" ng-controller="MapCtrl">
	<ul class="input-controls">
	<div>
		<p><b> MapTool Title</b></p>
		<input style = "width : 100%" type="text" placeholder="Default" ng-model='service.queryObject.MapTool.title'>
	</div>
	<br>
	<div>
	<select style = "width : 100%" ui-select2 ng-model="service.queryObject.MapTool.geometryLayer" data-placeholder="Choose Geometry Layer">
			<option></option>
			<option value="{{gt}}"  ng-repeat="gt in service.dataObject.geometryColumns">{{gt.title}}</option>
		</select>
	</div>
	<br>
	<div>
	<select style = "width : 100%" ui-select2 ng-model="service.queryObject.MapTool.labelLayer" data-placeholder="Choose Label Layer">
			<option></option>
			<option value="{{output.param}}" ng-repeat="output in service.dataObject.scriptMetadata.outputs"> {{output.param}} </option>
		</select>
	</div>		
	</ul>
</div>