<div class="panel-body" ng-controller="MapCtrl">
	<ul class="input-controls">
	<div>
		<p><b> MapTool Title</b></p>
		<input style = "width : 100%" type="text" placeholder="Default" ng-model='service.queryObject.MapTool.title'>
	</div>
	<br>
	<div>
	Select Geomtery
	<select style = "width : 100%" ui-select2-"{allowClear : true}" ng-model="service.queryObject.MapTool.geometryLayer" data-placeholder="Choose Layer">
			<option></option>
			<option value="{{gt}}"  ng-repeat="gt in service.dataObject.geometryColumns">{{gt.title}}</option>
		</select>
	</div>
	<br>
	
	<div>
		<input   type="checkbox"
							 ng-model="service.queryObject.MapTool.useKeyTypeForCSV" 
							 data-placeholder="Choose Label Column"
							 ng-init="service.queryObject.MapTool.useKeyTypeForCSV = true"/>
		Use KeyType for CSV Data Source
	</div>
	
	
	<br>
	<div>
	Select Label
	<select style = "width : 100%" ui-select2-"{allowClear : true}" ng-model="service.queryObject.MapTool.labelLayer" data-placeholder="Choose Layer">
			<option></option>
			<option value="{{output}}" ng-repeat="output in WeaveService.columnNames"> {{output}} </option>
		</select>
	</div>
	
	
	</ul>
</div>