#
# The URL of the server to which you want to connect
#
# Replace SERVER-NAME with the name of your server (also in the SERVERNAME
# property)
#
# Replace DB-NAME with the name of the database to use (also in the
# DATABASENAME property)
#
driver=net.sourceforge.jtds.jdbc.Driver
url=jdbc:jtds:sqlserver://SERVER-NAME/DB-NAME
USER=sa
PASSWORD=
SERVERNAME=SERVER-NAME
PORTNUMBER=1433
DATABASENAME=DB-NAME
SERVERTYPE=1
XAEMULATION=true

#
# TDS Version
#

#
# Use this for MS SQL Server 6.5+
#
#TDS=4.2

#
# Use this for Sybase 10+
#
#TDS=5.0

#
# Use this for MS SQL Server 7.0+
#
#TDS=7.0

#
# Use this for MS SQL Server 2000 (default)
#
TDS=8.0
