<div class="panel-body">
	<ul class="input-controls">
		Height Column(s)<br>
	<select ui-select2 multiple ng-model="heights" data-placeholder="Choose Height Column(s)">
		<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
	</select>
	<br>Sort Column<br>
	<select ui-select2 ng-model="sort" data-placeholder="Choose Sort Column">
		<option></option>
		<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
	</select>
	<br>Label Column<br>
	<select ui-select2 ng-model="label" data-placeholder="Choose Label Column">
		<option></option>
		<option value="{{opt}}" ng-repeat="opt in options">{{opt}}</option>
	</select>	
	</ul>

</div>

