<!--Controlled by AnalysisCtrl  -->
<div style="height: 100%">
<!-- BUTTON CONTAINER -->
	<div class = "topAnalysisControl">
		<div class= "queryRunStatus">
			<div style = "display :table" ng-model = "service.isValidated">
<!-- 							 <div style = "display : table-cell; border-radius:5px;"  -->
<!-- 							 ng-class="{'queryDone' : queryService.queryObject.properties.queryDone, 'queryUndone' : !queryService.queryObject.properties.queryDone}" -->
<!-- 							 title= "A green signal indiactes the query has been executed successfully"> -->
<!-- 							 </div> -->
<!-- 							 <div style= "display : table-cell; padding-left : 5px"><font color= "white">{{queryService.queryObject.properties.queryStatus}}</font></div> -->
			</div> 
							   
			<div ng-class="{'unvalidatedUI' : !queryService.queryObject.dataTable, 'validatedUI' : queryService.queryObject.dataTable}"
							 title = "Red flags indicate required selections for query validation">
						
							<ui-select ng-model="queryService.queryObject.dataTable" theme="select2" style="width: 97%;">
							    <ui-select-match allow-clear="true" placeholder="Select a data table...">{{$select.selected.title}}</ui-select-match>
								<ui-select-choices repeat="dataTable in queryService.cache.dataTableList | filter : { title : $select.search }">
 							       		 <div ng-bind-html="dataTable.title | highlight: $select.search"></div>
 							        </ui-select-choices>
							</ui-select>
								 
			</div>
						
		</div>
		<div class= "buttonBarContainer">
			<div class = "btn-group" role = "group" style = "margin-left: 45%; width: 100%; height: 100%"  
			 ng-controller= "buttonBarController">
							
							<button class='btn btn-default wa_buttonBar' title = "Download Query Object"><span class = "fa fa-download" ng-click = "exportQuery()"></span></button>
							
							<label class='btn btn-default wa_buttonBar' title = "Upload Query Object"><span class = "fa fa-upload" ></span><input fileread="queryObjectUploaded.file" class='file-upload' type='file'/></label>
							
							<!-- SHOW?HIDE QUERY OBJECT EDITOR button -->
							<button class="btn btn-default wa_buttonBar" title = "Show/Hide Query Object Editor"
															ng-click = "queryService.queryObject.properties.hideQueryObjectPanel = !queryService.queryObject.properties.hideQueryObjectPanel"
															ng-init="queryService.queryObject.properties.hideQueryObjectPanel = true">
									 <span class = "fa fa-pencil-square-o"></span>
							</button>
							
							<!-- CLEAR button --> 
<!-- 							<button class="btn btn-default wa_buttonBar" title = "Clear Query Object" ng-click = "cleanQueryObject()"> <span class = "fa fa-refresh"></span></button> -->
							
							<!-- SAVE output visuals button -->	 
							<button  class="btn btn-default wa_buttonBar"  title = "Save visualizations" ng-click="saveVisualizations()"> 
							<span  class = "fa fa-floppy-o"></span> 
							</button>
					
							<!-- RUN button -->		
							<button  class="btn btn-primary wa_buttonBar" title = "Run query"
								ng-click="QueryHandlerService.run(queryService.queryObject)" 
								popover="{{queryService.queryObject.properties.validationStatus}}" popover-trigger="mouseenter"  popover-placement="bottom"
								ng-Disabled = "!queryService.queryObject.properties.isQueryValid">
								 <span class = "fa fa-play-circle fa-lg"></span>
							 </button>

							 
							<br>
							<div style = "float:left; margin-left : 8px; width: 50%"  
								 ng-class="{'queryDone' : queryService.queryObject.properties.queryDone, 'queryUndone' : !queryService.queryObject.properties.queryDone}" >
								<i ng-if = "queryService.queryObject.properties.queryDone" class="fa fa-check-circle fa-lg"  
								   title= "A green signal indiactes the query has been executed successfully"></i>
								<i ng-if = "!queryService.queryObject.properties.queryDone" class="fa fa-exclamation-triangle fa-lg"></i>
							<font size = "2" color= "white">{{queryService.queryObject.properties.queryStatus}}</font>
							</div>
		</div>
			</div>
			
		<!-- > -->	
	</div>
<!-- BUTTON CONTAINER END -->
		
		
		<div style = "padding : 30px"></div>
		
		
	<div style="height: 100%" class="container-fluid" style="padding: 5px;">
		<div style="width:100%;">
			<div class="row" style="height: 30%; clear: both">
			
<!--SPINNER  -->			
			<span us-spinner spinner-key="roundtrip-spinner"></span>
			<!-- indicator -->
<!-- 				<div class="databox" style="width: 20%"> -->
<!-- 					<div id="indicator" class=" header panel-heading"> -->
<!-- 						<h2>Indicator</h2> -->
<!-- 					</div> -->
<!-- 					<div class="body" style="width: 100%"> -->
						
<!-- 						<br/> -->
<!-- 						<input type="checkbox" -->
<!-- 							ng-model="queryService.queryObject.properties.displayAsQuestions"> -->
<!-- 						Display As Questions</input> -->

<!-- 						<div style="width: 100%;" title = "Red flags indicate required selections for query validation" -->
<!-- 											 ng-class="{'unvalidatedUI' : !queryService.queryObject.Indicator, 'validatedUI' : queryService.queryObject.Indicator}"> -->
				
<!-- 											<ui-select ng-model="queryService.queryObject.Indicator" theme="select2" style="width: 97%;"> -->
<!-- 										    	<ui-select-match allow-clear="true" placeholder="Select Indicator...">{{$select.selected.title}}</ui-select-match> -->
<!-- 												<ui-select-choices repeat="indicator in queryService.cache.columns | filter : { columnType : 'indicator', title : $select.search }"> -->
<!-- 										       		 <b ng-bind-html="indicator.title | highlight: $select.search"></b> -->
<!-- 										       		 <small> -->
<!-- 										       		 	{{indicator.description}} -->
<!-- 										       		 </small> -->
<!-- 										        </ui-select-choices> -->
<!-- 											</ui-select> -->
<!-- 						</div> -->
										
<!-- 						<br> {{IndicDescription}}  -->
 
<!-- 					</div> -->
<!-- 				</div> -->
				
				
				
				
<!--Calculations -->
				<div class="databox" style="width: 50%">
	
					<div class="header panel-heading">
						<h2>Calculations</h2>
					</div>
				<div class="body" ng-controller="ScriptsSettingsCtrl">
					<div style = "width:55%; height: 100%; float:left;">
						<div class="btn-group">
        					<label class="btn btn-primary btn-sm" ng-model="queryService.queryObject.ComputationEngine" btn-radio="'R'" uncheckable>R</label>
        					<label class="btn btn-primary btn-sm" ng-model="queryService.queryObject.ComputationEngine" btn-radio="'STATA'" uncheckable>Stata</label>
       					    <label class="btn btn-primary btn-sm" ng-model="queryService.queryObject.ComputationEngine" btn-radio="'PYTHON'" uncheckable>Python</label>
    					</div>
    					<br/>
    					
<!-- Script Select-->	<div style = "width: 100%; margin-top: 5px">
							<div style = "width: 90%; float: left" ng-class="{'unvalidatedUI' : !queryService.queryObject.scriptSelected, 'validatedUI' : queryService.queryObject.scriptSelected}"
								title = "Red flags indicate required selections for query validation">
								
									<ui-select ng-model="queryService.queryObject.scriptSelected" theme="select2" style="width: 97%;">
							    		<ui-select-match allow-clear="true" placeholder="Select Script...">{{($select.selected).substr(0, ($select.selected).lastIndexOf('.'))}}</ui-select-match>
										<ui-select-choices repeat="script in queryService.cache.scriptList | filter : $select.search">
<!-- 							       			 <div ng-bind-html="script | highlight: $select.search"></div> -->
							       			 {{script.substr(0, script.lastIndexOf('.'))}}
							        	</ui-select-choices>
									</ui-select>
								</div>
							<div style = "float:left; margin-left: 10px" ><i class="fa fa-info-circle fa-lg" 
							title = "1.This selects a script (computation) to be executed on the data. 2.This must be followed by selection of script input parameters." ></i></div>
						</div>
					
						<br><br>
						
<!-- Script options -->	<div style = "width: 100%; height:200px; overflow:visible" class= "tool-bar">
							<table style="width:100%">
								<tr ng-repeat="input in queryService.cache.scriptMetadata.inputs">
									<td align="right" width=10%>
										<div class="label-p">{{input.param}}:</div>
									</td>
		
									<td>
											<ui-select ng-if="input.type == 'column' && input.columnType && input.columnType != 'all' && input.columnType != ' '" ng-model="queryService.queryObject.scriptOptions[input.param]" theme="select2" style="width: 80%;">
									    		<ui-select-match allow-clear="true" placeholder="Select column...">{{$select.selected.title}}</ui-select-match>
												<ui-select-choices repeat="column in queryService.cache.columns | filter : { title : $select.search, columnType : input.columnType }">
									       			 <div ng-bind-html="column.title | highlight: $select.search"></div>
									        	</ui-select-choices>
											</ui-select>
											
											<!--  handle the case where the column doesn't have a column type in which case we don't filter by columnType -->
											<ui-select ng-if="input.type == 'column' && (!input.columnType || input.columnType == 'all' || input.columnType == ' ')" ng-model="queryService.queryObject.scriptOptions[input.param]" theme="select2" style="width: 80%;">
									    		<ui-select-match allow-clear="true" placeholder="Select column...">{{$select.selected.title}}</ui-select-match>
												<ui-select-choices repeat="column in queryService.cache.columns | filter : { title : $select.search }">
									       			 <div ng-bind-html="column.title | highlight: $select.search"></div>
									        	</ui-select-choices>
											</ui-select>
											
											<a href="javascript: void(0)" 
												ng-click="showColumnInfo(queryService.queryObject.scriptOptions[input.param], input.param)"
											> 
												<i  ng-if="input.type == 'column'" 
													style = "padding-left: 3px; padding-top:5px;" 
													class="fa fa-pencil-square-o fa-lg"
												></i>
											</a>
											<!-- Remapping -->
											
											<!-- handling toggle input types -->
											<div class="btn-group btn-toggle"
												ng-if="input.type == 'options' && input.options.length == 2"
												ng-init="queryService.queryObject.scriptOptions[input.param] = input.options[0]"
												ng-click="toggleButton(input)">
												<button
													ng-class="{'active btn-primary': queryService.queryObject.scriptOptions[input.param] == input.options[0]}"
													class="btn btn-default">{{input.options[0]}}</button>
												<button
													ng-class="{'active btn-primary': queryService.queryObject.scriptOptions[input.param] == input.options[1]}"
													class="btn btn-default">{{input.options[1]}}</button>
											</div>
											
											<ui-select ng-if="input.type == 'options' && input.options.length != 2" ng-model="queryService.queryObject.scriptOptions[input.param]" theme="select2" style="width: 80%;">
											    <ui-select-match placeholder="Select Columns...">{{$select.selected}}</ui-select-match>
											    <ui-select-choices repeat="option in input.options | filter: $select.search">
										      	      <div ng-bind-html="option | highlight: $select.search"></div>
											    </ui-select-choices>
										    </ui-select>
										    
											<!-- Handling boolean options -->
											<div class="btn-group btn-toggle" style="width:100%; height:100%"
												ng-if="input.type == 'boolean'"
												ng-init="queryService.queryObject.scriptOptions[input.param] = true"
												ng-click="queryService.queryObject.scriptOptions[input.param] = !queryService.queryObject.scriptOptions[input.param]">
												<button
													ng-class="{'active btn-primary': queryService.queryObject.scriptOptions[input.param] == true}"
													class="btn btn-default">True</button>
												<button
													ng-class="{'active btn-danger': queryService.queryObject.scriptOptions[input.param] == false}"
													class="btn btn-default">False</button>
											</div> 
											
											<!-- handling value types -->
											<input style="width: 80%" ng-if="input.type == 'value'"
											ng-model="queryService.queryObject.scriptOptions[input.param]">
											
	<!-- 										Handling multiple column types -->
											<ui-select ng-if="input.type == 'multiColumns' && input.columnType && input.columnType != 'all' && input.columnType != ' '" multiple ng-model="queryService.queryObject.scriptOptions[input.param]" theme="select2" style="width: 80%;">
											    <ui-select-match placeholder="Select Columns...">{{$item.title}}</ui-select-match>
											    <ui-select-choices repeat="column in queryService.cache.columns | filter: { title : $select.search, columnType : input.columnType }">
										      	      <div ng-bind-html="column.title | highlight: $select.search"></div>
											    </ui-select-choices>
										    </ui-select>
										    
											<!--  handle the case where the column doesn't have a column type in which case we don't filter by columnType -->
											<ui-select ng-if="input.type == 'multiColumns' && (!input.columnType || input.columnType == 'all' || input.columnType == ' ')" multiple ng-model="queryService.queryObject.scriptOptions[input.param]" theme="select2" style="width: 80%;">
											    <ui-select-match placeholder="Select Columns...">{{$item.title}}</ui-select-match>
											    <ui-select-choices repeat="column in queryService.cache.columns | filter: { title : $select.search }">
										      	      <div ng-bind-html="column.title | highlight: $select.search"></div>
											    </ui-select-choices>
										    </ui-select>
											<br>
									</td>
								</tr>
							</table>
						</div>
					</div>
				
					<div style = "width:45%;height: 100%; float:left;">
						<!-- REMAPPING -->
						
						<div style="height : 30px; margin-top:30px">
							{{ description }}
						</div>
						
					  	<div  style="overflow-y: scroll; height:200px;margin-top:15px">
					  			
					      <table border="border: 1px solid #0000FF"  ng-show="varValues.length">
								<tr> 
									<td  align="center">
										Value
									</td>
									<td  align="center">
										Label
									</td>
									<td   align="center">
										New Value
									</td>
								 </tr>
								<tr ng-repeat="varValue in varValues">
									<td width= "10%" style="padding-left: 5px; padding-right: 5px"> {{varValue.value}} </td> 
									<td width= "40%" style="padding-left: 5px" > {{varValue.label}} </td>
									<td width= "50%"> <input style ="width : 100%"
														ng-model="values[$index]"
														ng-change="setValue(varValue.value, values[$index])"> 
														</input> </td>
								</tr>
							</table>
					  	</div>
					
					</div>	
<!-- reidentification prevention -->
<!-- 						Masking Reidentification -->
<!-- 						<div class="input-group"> -->
<!-- 						      <span class="input-group-addon"> -->
<!-- 						        <input type="checkbox" ng-model="service.queryObject.Reidentification.idPrevention" > -->
<!-- 						      </span> -->
<!-- 						      <input type="text" style="z-index: 0" form-control"  ng-model = "service.queryObject.Reidentification.threshold"  -->
<!-- 						      		 ng-Disabled="!service.queryObject.Reidentification.idPrevention"> -->
<!-- 					    </div> -->
						
						
					</div><!-- end of scripts control -->
				</div> <!-- end of calculations control -->
				
				
				
	
<!-- FILTERS -->	
				
				<div ng-controller="dataFilterCtrl">
					<div ng-include src="'src/analysis/data_filters/data_filters.html'"></div>
					<!--Geography filter -->
					<geo-Filter  ng-if="queryService.queryObject.properties.showGeographyFilter" ng-model= "queryService.queryObject.GeographyFilter"></geo-Filter>
				
					<!--  regular column filter -->	
					<filter  ng-repeat="filter in queryService.queryObject.filterArray" columns="queryService.cache.columns" ng-model='queryService.queryObject.filters[$index]'></filter>
		
					<!-- two columns filter -->
					<tree-filter ng-repeat="filter in queryService.queryObject.treeFilterArray" columns="queryService.cache.columns" ng-model="queryService.queryObject.treeFilters[$index]"></tree-filter>
				</div>
				
				
			</div>
		</div>
		<div style = "padding : 20px"></div>
		<input type="checkbox" ng-model="queryService.queryObject.properties.openInNewWindow"> Show Weave in separate window</input>
		
<!-- VIZ TOOL WIDGETS -->	
		<div ng-controller= "toolsCtrl">
				<div class="row " style="height: 50%; clear:both" ng-if="!queryService.queryObject.properties.openInNewWindow">
					<div class="databox" style="width: 25%;" ng-if="!showToolMenu">
						
					</div>
					<div class="databox" style="width: 25%;" ng-if="showToolMenu">
						<div>
							<div>
								<ui-select ng-model="selectedToolToAdd.value" theme="select2" style="width: 59%;">
									<ui-select-match allow-clear="true" placeholder="Add Tool...">{{$select.selected}}</ui-select-match>
									<ui-select-choices repeat="tool in tool_options | filter :  $select.search">
							       		 <div ng-bind-html="tool | highlight: $select.search"></div>
							        </ui-select-choices>
								</ui-select>
								<div style = "height: 40px" class = "btn-group" role = "group">
									<button  class="btn btn-default" ng-click="addTool(selectedToolToAdd.value)"><i class="fa fa-plus-circle fa-lg" ></i> </button>
									<!-- CLEAR button --> 
<!-- 									<button class="btn btn-default" title = "Clear visualizations"> <span class = "fa fa-trash-o fa-lg" ng-click = "clearSessionState()"></span></button> -->
									<button  class="btn btn-default" ng-click="WeaveService.tileWindows()">Tile</button>
								</div>
							</div>
							
							
							<accordion close-others="true" class="tool-list"> 
							
								<accordion-group ng-repeat="(toolId, tool) in queryService.queryObject.visualizations" style="font-family: 'Open Sans', Arial, sans-serif; font-size: 14px;">
									<accordion-heading>
											{{tool.title || toolId}}
											<!--hack to disable the close button on the first tools -->
 											<a ng-show="fixed_ids.indexOf(toolId) < 0" href="javascript: void(0)"  
												class="close-button" data-trigger="hover" placement="right" title="Remove"  
												ng-click="removeTool(toolId)"> 
												<i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> 
											</a>
									</accordion-heading>
									<div ng-include="tool.template_url"></div>
								</accordion-group>
							</accordion>
						</div>
					</div>
					<div id="flashContent" style="width: 70%; height: 800px; float:left"></div>
				</div>
				
				<!-- individual tool widgets when Weave is opened in a new window -->
				<div class="row " style="height: 50%; clear:both" ng-show="queryService.queryObject.properties.openInNewWindow">
					<div style="height:100%; width: 100%;">
							<div style="width: 20%; float : left; margin-right : 20px" ng-repeat="tool in queryService.queryObject.visualizations" class="panel panel-default">
									<div class="panel-heading">
										<h2>{{tool.title}}</h2>
											<a ng-show="$index > 5" href="javascript: void(0)"  
												class="close-button" data-trigger="hover" placement="right" title="Remove"  
												ng-click="removeTool($index)"> 
												<i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> 
											</a>			
									</div>
									<h5 class="widget-description "><i style="font-size: 14px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i> {{widget_brick.description}}</h5>
									<h6 style = "font-size: 13px" class="widget-description" ng-show = "tool.note"> {{widget_brick.note}} </h6>
									<div class="" ng-include="tool.template_url"></div>
							</div>
					</div>
				</div>
</div>

<!-- QUERY OBJECT PANEL -->						
	<div id="queryObjectPanel" class="databox" style="width: 50%; height: 400px; position: relative; top: -1059px; left: 496px;" 
			ng-show="!queryService.queryObject.properties.hideQueryObjectPanel">
			<!-- <div class="databox" style="width: 200px;"> -->
			<div class=" header panel-heading" style="margin-bottom: 0px">
				<h2>Query Object Editor</h2>
				<a href="javascript: void(0)" 
					class="close-button" data-trigger="hover" placement="right" title="Remove"  
					ng-click="queryService.queryObject.properties.hideQueryObjectPanel = true"> 
					<i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> 
				</a>
			</div>
			
			<div id="qobjPanelContent" 
				 class="body" style="width: 100%; height:100%; border: solid 4px; border-color: #4C4F53">
				<br>
				<div style="width: 100%; height: 100%;">
					<div id="queryObjTree" style="width: 50%; height: 80%; overflow:hidden; float:left"></div>
  					
  					<div ng-if="!isValue" style="width: 50%; height: 80%; float:right">
 						<div class="gridStyle" ng-grid="qobjGridOptions"></div>
  					</div>
  					<textarea ng-show="isValue" ng-model = "selectedValue.value"  style="width: 50%; height: 80%; float:right"/>
				</div>
			</div>
	</div>