<div style="height: 100%" ng-controller="AnalysisCtrl">
<!-- BUTTON CONTAINER -->
	<div style = "width:100%; background-color : #4C4F53; height: 50px; position: fixed;display: table"  ng-controller = DialogController>
				<!-- CLEAR button --> 
							<a href="javascript:void(0);" class="btn btn-default" style="float : right; font-size: 15px; padding: 2px 5px; width : 15%; margin-top: 10px; margin-right : 5px"> <span style="vertical-align: middle" ng-click = "clearSessionState()">Clear output visuals</span></a>
				<!-- SAVE output visuals button -->	 

						<a href="javascript:void(0);" class="btn btn-default" style="float : right; font-size: 15px; padding: 2px 5px; width: 15%; margin-top: 10px; margin-right : 5px" ng-click="saveVisualizations()"> 
						<span style="vertical-align: middle">Save output visuals</span> 
						</a>
				
				<!-- RUN button -->		
						<button class="btn" 
							style="width: 10%; float:right; margin-top: 10px; margin-right : 5px"
							ng-click="QueryHandlerService.run()" 
							popover="{{queryService.dataObject.validationStatus}}" popover-trigger="mouseenter"  popover-placement="bottom"
							ng-controller="QueryHandlerCtrl"
							ng-class="{'validateB' : queryService.dataObject.isQueryValid, 'invalidateB' : !queryService.dataObject.isQueryValid}">
							 <span style="vertical-align: right">Run</span>
						 </button>
		</div>
		
		<div style = "padding : 30px"></div>
		
	<div style="height: 100%" class="container-fluid" style="padding: 5px;">
		<div style="width:100%;">
			<div class="row" style="height: 30%; clear: both">
<!--Indicator and datatable-->
				<div class="databox" style="width: 20%">
					<!-- <div class="databox" style="width: 200px;"> -->
					<div id="indicator" class=" header panel-heading">
						<h2>Indicator</h2>
					</div>
					<div class="body" style="width: 100%">
						<input type="hidden" popover="Select Data Table" ui-select2-sortable popover-trigger="mouseenter"
							style="width: 100%" ng-model="queryService.queryObject.dataTable"
							simple-query="getDataTable"
							data-placeholder="Select Datatable"
							allow-clear="true"
							to-id="getItemId" to-text="getItemText"
							ng-change="queryService.getDataColumnsEntitiesFromId(queryService.queryObject.dataTable.id, true)">
						</input> 
						
						<input type="checkbox"
							ng-model="queryService.dataObject.displayAsQuestions">
						Display As Questions</input>
	
<!-- INDICATOR -->		<div style="width: 100%; margin-top: 10px;">
							<input type="hidden" popover="Select Indicator" ui-select2-sortable popover-trigger="mouseenter"
								style="width: 100%" ng-model="queryService.queryObject.Indicator"
								simple-query="getIndicators"
								data-placeholder="Select Indicator"
								allow-clear="true"
								to-id="getItemId" to-text="getItemText">
							</input> 
						</div>
						
						<br> {{IndicDescription}} 
<!-- 						<button popover-with-tpl template-url="src/analysis/indicator-remap.tpl.html" popover-placement="bottom" class="btn btn-default">Remap Indicator -->
					  
 <!-- REMAPPING -->
					  	<div  style="overflow-y: scroll; height:60%">
					      <table border="border: 1px solid #0000FF"  ng-show="queryService.queryObject.Indicator">
								<tr> 
									<td  align="center">
										Value
									</td>
									<td  align="center">
										Description
									</td>
									<td   align="center">
										New Value
									</td>
								 </tr>
								<tr ng-repeat="varValue in varValues">
									<td width= "10%" style="padding-left: 5px; padding-right: 5px"> {{varValue.value}} </td> 
									<td width= "40%" style="padding-left: 5px" > {{varValue.label}} </td>
									<td width= "50%"> <input style ="width : 100%" 
														ng-model="newValue"
														ng-change="setRemapValue(varValue.value,newValue)"> 
														</input> </td>
								</tr>
							</table>
					  	</div>
					</div>
				</div>
				
				
				
				
<!--Calculations -->
				<div class="databox" style="width: 20%">
	
					<div class="header panel-heading">
						<h2>Calculations</h2>
					</div>
<!-- Script Select--><div class="body" ng-controller="ScriptsSettingsCtrl">
							<input type="hidden" popover="Select Script" ui-select2-sortable popover-trigger="mouseenter"
								style="width: 100%" ng-model="queryService.queryObject.scriptSelected"
								simple-query="getScriptList"
								data-placeholder="Select Script"
								allow-clear="true"
								ng-change="getScriptMetadata(service.queryObject.scriptSelected, true)">
							</input> 
						
						<h6 class='tool-category'>Script parameters</h6>
<!-- Script options -->	<div class= "tool-bar">
							<table width=100%>
								<tr ng-repeat="input in service.dataObject.scriptMetadata.inputs">
									<td align="right" width=30%>
										<div class="label-p">{{input.param}}:</div>
									</td>
		
									<td style="padding-left: 10px;">
									
										<!-- Handling column types -->
										<input ng-if="input.type == 'column' && input.columnType == 'time'" 
											type="hidden" popover="Select parameter" ui-select2-sortable popover-trigger="mouseenter"
											style="width: 100%" 
											ng-model="service.queryObject.scriptOptions[input.param]"
											simple-query="getTimeInputOptions"
											data-placeholder="Select parameter"
											allow-clear="true"
											to-id = "getItemDefault" to-text= "getItemText"
											>
										</input> 
										
										<input ng-if="input.type == 'column' && input.columnType == 'analytic'" 
											type="hidden" popover="Select parameter" ui-select2-sortable popover-trigger="mouseenter"
											style="width: 100%" 
											ng-model="service.queryObject.scriptOptions[input.param]"
											simple-query="getAnalyticInputOptions"
											data-placeholder="Select parameter"
											allow-clear="true"
											to-id = "getItemDefault" to-text= "getItemText"
											>
										</input> 
										
										<input ng-if="input.type == 'column' && input.columnType == 'geography'" 
											type="hidden" popover="Select parameter" ui-select2-sortable popover-trigger="mouseenter"
											style="width: 100%" 
											ng-model="service.queryObject.scriptOptions[input.param]"
											simple-query="getGeographyInputOptions"
											data-placeholder="Select parameter"
											allow-clear="true"
											to-id = "getItemDefault" to-text= "getItemText">
										</input> 
										
										<input ng-if="input.type == 'column' && input.columnType == 'indicator'" 
											type="hidden" popover="Select parameter" ui-select2-sortable popover-trigger="mouseenter"
											style="width: 100%" 
											ng-model="service.queryObject.scriptOptions[input.param]"
											simple-query="getIndicators2"
											data-placeholder="Select parameter"
											allow-clear="true"
											to-id = "getItemDefault" to-text= "getItemText"
											>
										</input> 
										
										<!-- handling toggle input types -->
										<div class="btn-group btn-toggle"
											ng-if="input.type == 'options' && input.options.length == 2"
											ng-click="toggleButton(input)"">
											<button
												ng-class="{'active btn-primary': service.queryObject.scriptOptions[input.param] == input.options[0]}"
												class="btn btn-default">{{input.options[0]}}</button>
											<button
												ng-class="{'active btn-primary': service.queryObject.scriptOptions[input.param] == input.options[1]}"
												class="btn btn-default">{{input.options[1]}}</button>
										</div>
										
										<div class="btn-group btn-toggle"
											ng-if="input.type == 'boolean'"
											ng-click="service.queryObject.scriptOptions[input.param] = !service.queryObject.scriptOptions[input.param]">
											<button
												ng-class="{'active btn-danger': service.queryObject.scriptOptions[input.param] == true}"
												class="btn btn-default">True</button>
											<button
												ng-class="{'active btn-danger': service.queryObject.scriptOptions[input.param] == false}"
												class="btn btn-default">False</button>
										</div> 
										
										<!-- handling value types -->
										<input style="width: 100%" ng-if="input.type == 'value'"
										ng-model="service.queryObject.scriptOptions[input.param]">
										
										<!-- Handling multiple column types -->
										<input type="hidden" popover="Select parameter" ui-select2-sortable popover-trigger="mouseenter"
											ng-if="input.type == 'multiColumns'"
											style="width: 100%" 
											ng-model="service.queryObject.scriptOptions[input.param]"
											simple-query="getInputOptions"
											data-placeholder="Select parameter"
											allow-clear="true"
											to-id="getItemParam" 
											ng-change="">
										</input> 
										
										
									<br></td>
								</tr>
							</table>
						</div>
						
						
						
<!-- Validation -->	
						<!-- Tell us the validation status of a query object -->
						<div style = "display :table" ng-model = "runService.isValidated" ng-controller="QueryHandlerCtrl">
							 <div style = "display : table-cell" 
							 ng-class="{'validate' : service.dataObject.queryDone, 'invalidate' : !service.dataObject.queryDone}">
							 </div>
							 <div style= "display : table-cell; padding-left : 5px">{{service.dataObject.queryStatus}}</div>
						 </div> 
						 
					</div>
				</div>
				
				
				
	
<!-- FILTERS -->	
				<div ng-include src="'src/analysis/data_filters/data_filters.html'"></div>
	
				<!--Geography filter -->
				<div class="databox" style="width: 15%;"
					ng-if="AnalysisService.showGeographyFilter">
		
					<div class="header panel-heading">
						<h2>Geography filter</h2>
						<a href="javascript: void(0)" class="close-button" data-trigger="hover" placement="right" title="Remove"  ng-click="AnalysisService.showGeographyFilter = false"> <i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> </a>
					</div>
					<div class="body">
						<div style="height: 100%"
							ng-include="AnalysisService.geoFilter_tool.template_url">
							</div>
		
					</div>
				</div>
				
				<!--Timeperiod filter -->
				<div class="databox" style="width: 15%"
					ng-if="AnalysisService.showTimePeriodFilter">
					<!-- <div class="databox" style="width: 130px;"> -->
	
					<div class="header panel-heading">
						<h2>Time Period</h2>
						<a href="javascript: void(0)" class="close-button" data-trigger="hover" placement="right" title="Remove"  ng-click="AnalysisService.showTimePeriodFilter = false"> <i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> </a>
					</div>
	
					<div class="body">
						<div style="height: 100%"
							ng-include="AnalysisService.timeFilter_tool.template_url"></div>
					</div>
	
				</div>
	
				<!--Byvariable filter -->
<!-- 				<div class="databox" style="width: 15%"> -->
<!-- 					<div class="databox" style="width: 160px;"> -->
	
<!-- 					<div class="header panel-heading"> -->
<!-- 						<h2>By-variable</h2> -->
<!-- 					</div> -->
	
<!-- 					<div class="body"> -->
<!-- 						<div style="height: 100%" -->
<!-- 							ng-include="AnalysisService.content_tools[3].template_url"></div> -->
<!-- 					</div> -->
	
<!-- 				</div> -->
				<div ng-controller="dataFilterCtrl" ng-repeat="filter in queryService.dataObject.filters">
					<div class="databox" style="width: 15%;">
						<!-- <div class="databox" style="width: 160px;"> -->
						<div class="panel-heading">
							<h2>{{filter.title}}</h2>
							<a href="javascript: void(0)" class="close-button" data-trigger="hover" placement="right" title="Remove"  ng-click="removeFilter($index)"> <i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> </a>
						</div>
						<div class="body">
							<div style="height: 100%"
								ng-include="filter.template_url"></div>
						</div>
					</div>
					<div class="databox" style="width: 2%;">
						<div style="position: relative; top: 50%;transform: translateY(-50%);">
							OR
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>
		
		<input type="checkbox" ng-model="queryService.dataObject.openInNewWindow"> Show Weave in separate window</input>
		
		
		
		
		
<!-- VIZ TOOLS -->	
		<div ng-controller= "toolsCtrl">
				<div class="row " style="height: 50%; clear:both" ng-if="!queryService.dataObject.openInNewWindow">
					<div class="databox" style="width: 20%;">
						<div>
							<accordion close-others="true" class="tool-list"> 
							
								<accordion-group ng-repeat="tool in AnalysisService.weaveTools" heading="{{tool.title}}" style="font-family: 'Open Sans', Arial, sans-serif; font-size: 14px;">
								<div ng-include="tool.template_url"></div>
								</accordion-group>
								
							</accordion>
						</div>
					</div>
						<div id="flashContent" style="width: 60%; height: 800px; float:left"></div>
				</div>
				
				
				<div class="row " style="height: 50%; clear:both" ng-if="queryService.dataObject.openInNewWindow">
					<div style="height:100%; width: 100%;">
							<div style="width: 20%; float : left; margin-right : 20px" ng-repeat="tool in AnalysisService.weaveTools" class="panel panel-default">
									<div class="panel-heading">
										<h2>{{tool.title}}</h2>
										<a href="javascript: void(0)" class="close-button" data-trogger="hover" placement="right" title="Close widget"  ng-click="disable_widget(tool)"> <i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> </a>
			
									</div>
									<h5 class="widget-description "><i style="font-size: 14px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i> {{widget_brick.description}}</h5>
									<h6 style = "font-size: 13px" class="widget-description" ng-show = "tool.note"> {{widget_brick.note}} </h6>
									<div class="" ng-include="tool.template_url"></div>
							</div>
							

					</div>

				</div>
</div>

<!-- QUERY OBJECT PANEL -->						
	<div id="queryObjectPanel" class="databox" style="width: 50%; height:400px">
			<!-- <div class="databox" style="width: 200px;"> -->
			<div class=" header panel-heading" style="margin-bottom: 0px">
				<h2>Query Object Editor</h2>
				<a href="javascript: void(0)" 
					class="close-button" data-trigger="hover" placement="right" title="Remove"  
					ng-click="queryService.dataObject.hideQueryObjectPanel = false"> 
					<i style="margin:8px 0px 2px 10px; font-size: 10px" class="glyphicon glyphicon-remove"></i> 
				</a>
			</div>
			
			<div id="qobjPanelContent" class="body" style="width: 100%; height:100%; border: solid 4px; border-color: #4C4F53">
				<br>
				<div style="width: 100%; height: 100%;">
					<div id="queryObjTree" style="width: 50%; height: 80%; overflow:hidden; float:left"></div>
  					
  					<div ng-if="!isValue" style="width: 50%; height: 80%; float:right">
 						<div class="gridStyle" ng-grid="qobjGridOptions"></div>
  					</div>
  					<textarea ng-show="isValue" ng-model = "selectedValue.value"  style="width: 50%; height: 80%; float:right"/>
				</div>
			</div>
	</div>
