<div class="panel-body" ng-controller="DataTableCtrl">
	<ul class="input-controls">
		<div class="portlet-content">
			<!--<select style="width: 100%" id="duallistboxid" dual-list-box multiple ng-model="selected" data-placeholder="Choose Columns"
			ng-options="opt for opt in options"></select>-->

			<!--<select
			ng-options="opt for opt in options"
			multiple
			ng-model="selected"
			bs-duallistbox>
			</select>-->
			<select id="duallistboxid" dual-list-box multiple ng-model="service.queryObject.DataTableTool.columns" data-placeholder="Choose Columns"
			ng-options="output as output for output in WeaveService.columnNames">
			</select>

			<!--<span>Data Table</span>
			<select ui-select2-"{allowClear : true}" ng-model="dataTable" style=width:200px;>
			<option></option>
			<option ng-repeat="dt in dataTableList" value="{{dt}}">{{dt.title}}</option>
			</select>-->

			<!--
			<select
			ng-model="dataTable"
			multiple
			ng-options="dt.title for dt in dataTableList"
			bs-duallistbox>
			</select>
			-->

		</div>
	</ul>
</div>