<div class="project-management">
	<div >
		<div class="prj-contents" style="width: 100%; padding-left: 40px;">

<!-- 			<div class="project-username"> -->
<!-- 				<span class="user-label">Username: </span> -->
<!-- 				<input class="user-input" ng-model = "projectService.cache.userName" type = "text" placeholder = "Enter a username for the project" /> -->

<!-- 			</div> -->

			<div style="width: 90%;  height: 100%;" class="panel panel-default">

				<div class="panel-heading">
					<h2>Manage Query Object and Projects</h2>
				</div>
				<div class="widget-selectors">
<!-- Project List -->				
						<input type="hidden" popover="Select Project" ui-select2-sortable popover-trigger="mouseenter"
							style="width: 100%" ng-model="projectService.cache.dataTable"
							simple-query="getProjectsList"
							data-placeholder="Select Project"
							to-id="getItemId" to-text="getItemText">
						</input> 


						<div style="display: inline-block; margin-left: 90px;">
	<!-- 						<button id = "newQueryObjectButton" type="button" class="btn btn-sm new-project-button" data-template="src/queryObjectEditor/queryObjectEditPanel.html" -->
	<!-- 						data-placement="right" data-animation="am-slide-right" bs-aside="aside" data-container="body" ng-click = "load('newQueryObjectButton')"> -->
	<!-- 							New Query Object -->
	<!-- 						</button> -->
	
							<button ng-controller = 'projectAdditionController' id = "newProjectButton"  type="button" class="btn btn-sm new-project-button" ng-click = "openAdditionPanel()">
								Create a project
							</button>
							<button  ng-click = "deleteEntireProject()"  class="btn btn-sm new-project-button" data-trigger="hover" data-title="Delete this project">
								Delete selected project
							</button>
	<!-- 						<button type = "button" class="btn btn-sm new-project-button" data-template="src/queryObjectEditor/queryObjectEditPanel.html" -->
	<!--  						data-placement="right" data-animation="am-slide-right" bs-modal="modal" data-container="body"  ng-click = "loadConstructedQueryObject()"> -->
	<!--  							Current Query Object -->
	<!--  						</button> -->
						</div>

				</div>
				<div style="width: 100%; height: 40px;">
					<h5 class="widget-description "><i style="font-size: 14px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i> {{projectService.cache.projectDescription}}</h5>

				</div>

				<div class="dd" id="nestable3">
					<ol ui-sortable class="dd-list" ng-model="projectService.cache.returnedQueryObjects" id="queryObjectChoicesUI">
							<li class="dd-item dd3-item" data-id = "15"  ng-repeat="item in projectService.cache.returnedQueryObjects">
							<div class="dd-handle dd3-handle">
								<!--Drag-->
							</div>
							<div class= "dd3-content d-list-content">
								<div style='display : table'; inline-block; >
								
<!---Contains the list of query Objects in a project	-->	
									<div style="width : 85%; display : table-cell">
										<ul style="list-style:initial">
											<li>
												<span class="prj-txt-lbl">Title: </span> 
												<span class="prj-txt-val"> {{item.queryObject.title}} </span>
											</li>
											<li>
												<span class="prj-txt-lbl">Date: </span>
												<span class="prj-txt-val">{{item.queryObject.date}}</span>
											</li>
											<li>
												<span class="prj-txt-lbl">Datatable: </span>
												<span class="prj-txt-val">{{item.queryObject.dataTable.title}}</span>
											</li>
											<li>
												<span class="prj-txt-lbl">Script: </span>
												<span class="prj-txt-val">{{item.queryObject.scriptSelected}}</span>
											</li>
											<li>
												<span class="prj-txt-lbl">Columns: </span>
												<span class="prj-txt-val">{{item.columnstring}}</span>
											</li>
										</ul>
									</div>
 <!-- Contains the picture -->		<!-- div style="display : table-cell" ng-repeat = "pic in thumbnailsToDisplay"-->
										<div style="display : table-cell">
											<img width = "150" height = "100" 
												 ng-src= "{{item.thumbnail || 'css/img/ImageUnavailable.png'}}" 
												 style="border: 1px solid #000000;"
												 ng-click = "returnSessionState(item.queryObject)">
											 </img>
										</div>
								</div>
								<div class="query-btn-holder">
								
										
								
<!-- 										<div class= "btn-group" dropdown is-open= "status.isopen"> -->
<!-- 											<button  id = "openQueryObjectButton" type="button" class="btn btn-sm dropdown-toggle"> -->
<!-- 												Open <span class="caret"></span> -->
<!-- 											</button> -->
											
<!-- 											<ul class="dropdown-menu" role="menu"> -->
<!-- 										        <li style= "padding-left : 5px"> <button ng-click="openInAnalysis(item.queryObject)" style="width:100%">in analysis builder</button>  </li> -->
<!-- 										        <li class="divider"></li> -->
<!-- 										        <li style= "padding-left : 5px"> <button>in editor</button></li> -->
<!-- 										      </ul> -->
<!-- 										</div> -->
									
										<button ng-click = "runQueryInAnalysisBuilder(item.queryObject)" class ="btn btn-sm query-button">
											Run Query
										</button>
										
										<button ng-click = "deleteSpecificQueryObject(item)" class="btn btn-sm query-button">
											Delete
										</button>
									
										<button ng-click = "openInAnalysis(item.queryObject)" class ="btn btn-sm query-button">
											Open
										</button>
									
<!-- 									<button  id = "openInAnalysis" ng-click = "loadInAnalysis(item.queryObject)" type="button" class="btn btn-sm query-button"> -->
<!-- 										Open in Analysis Builder -->
<!-- 									</button> -->
								</div>
							</div>
				</li>
				</ol>
			</div>
		</div>
	</div>
</div>
</div>
