<div class="project-management">
	<div >
		<div class="prj-contents" style="width: 100%; padding-left: 40px;">
			<div style="width: 90%;  height: 100%;" class="panel panel-default">

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

				<div class="panel-heading">
					<h2>Manage Query Object and Projects</h2>
				</div>
				<div class="widget-selectors">
<!-- Project List -->	
						<ui-select ng-model="projectService.cache.project.selected" popover-trigger="mouseenter" theme="select2" style="width : 100%">
					    	<ui-select-match allow-clear="true" placeholder="Choose Indicator...">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="project in projectService.cache.listOfProjectsFromDatabase | filter : $select.search ">
					       		 <div ng-bind-html="project | highlight: $select.search"></div>
					        </ui-select-choices>
						</ui-select>			

						<div style="display: inline-block; margin-left: 90px;">

							<button ng-controller = 'projectAdditionController' id = "newProjectButton"  type="button" class="btn btn-sm new-project-button" ng-click = "openAdditionPanel()">
								Create a project
							</button>
							<button  ng-click = "deleteEntireProject()"  class="btn btn-sm new-project-button" data-trigger="hover" data-title="Delete this project">
								Delete selected project
							</button>
						</div>

				</div>
				<div style="width: 100%; height: 40px;">
					<h5 class="widget-description "><i style="font-size: 14px; padding-right: 5px" class="glyphicon glyphicon-info-sign"></i> {{projectService.cache.projectDescription}}</h5>

				</div>

				<div class="dd" id="nestable3">
					<ol ui-sortable class="dd-list" ng-model="projectService.cache.returnedQueryObjects" id="queryObjectChoicesUI">
							<li class="dd-item dd3-item" data-id = "15"  ng-repeat="item in projectService.cache.returnedQueryObjects">
							<div class="dd-handle dd3-handle">
								<!--Drag-->
							</div>
							<div class= "dd3-content d-list-content">
								<div style='display : table'; inline-block; >
								
<!---Contains the list of query Objects in a project	-->	
									<div style="width : 85%; display : table-cell">
										<ul style="list-style:initial">
											<li>
												<span class="prj-txt-lbl">Title: </span> 
												<span class="prj-txt-val"> {{item.queryObject.title}} </span>
											</li>
											<li>
												<span class="prj-txt-lbl">Date: </span>
												<span class="prj-txt-val">{{item.queryObject.date}}</span>
											</li>
											<li>
												<span class="prj-txt-lbl">Datatable: </span>
												<span class="prj-txt-val">{{item.queryObject.dataTable.title}}</span>
											</li>
											<li>
												<span class="prj-txt-lbl">Script: </span>
												<span class="prj-txt-val">{{item.queryObject.scriptSelected}}</span>
											</li>
											<li>
												<span class="prj-txt-lbl">Columns: </span>
												<span class="prj-txt-val">{{item.columnstring}}</span>
											</li>
										</ul>
									</div>
 <!-- Contains the picture -->		<!-- div style="display : table-cell" ng-repeat = "pic in thumbnailsToDisplay"  ng-class = "{'clickMe' : status}" ng-mouseenter = "status = true" ng-mouseLeave = "status =false"-->
										<div id = "blah">
											<img width = "150" height = "100" 
												 ng-src= "{{item.thumbnail || 'css/img/ImageUnavailable.png'}}" 
												 
												 ng-click = "returnSessionState(item.queryObject)">
											 </img>
										</div>
								</div>
								<div class="query-btn-holder">
										<button ng-click = "deleteSpecificQueryObject(item)" class="btn btn-sm query-button">
											Delete
										</button>
									
										<button ng-click = "openInAnalysis(item.queryObject)" class ="btn btn-sm query-button">
											Open
										</button>
								</div>
							</div>
				</li>
				</ol>
			</div>
		</div>
	</div>
</div>
</div>
