<div class="panel-body" ng-controller="GeographyCtrl">
	<ul class="input-controls">
		<div>
			State Column in {{dataTableTitle}}
			<select ui-select2 ng-model="stateDBSelection" data-placeholder="Choose State Column">
				<option></option>
				<option value="{{col}}" ng-repeat="col in stateDBOptions">{{col.title}}</option>
			</select> <br><br>
			State Filter(s)
			<select ui-select2 ng-model="stateSelection" data-placeholder="Choose State Filter(s)">
				<option></option>
				<option value="{{st}}" ng-repeat="st in stateOptions">{{st.label}}</option>
			</select>
		</div> <br>
			County Column in {{dataTableTitle}}
			<select ui-select2 ng-model="countyDBSelection" data-placeholder="Choose County Column">
				<option></option>
				<option value="{{col}}" ng-repeat="col in countyDBOptions">{{col.title}}</option>
			</select> <br>
			<br>County Filter(s)
			<select ui-select2 multiple ng-model="countySelection" data-placeholder="Choose County Filter(s)">
				<option value="{{ct}}" ng-repeat="ct in countyOptions">{{ct.label}}</option>
			</select>
		</div>	
	</ul>

</div>
