<div id="container">
			<div id="header">
				<div ng-controller="DataTableCtrl" style="display: inline-block; margin-left: 30px">
					Data Table: <select ui-select2 ng-model="dataTable" style=width:200px;>
						<option></option>
						<option ng-repeat="dt in dataTableList" value="{{dt}}">{{dt.title}}</option>
					</select>
				</div>
				                         v0.5b0211
				<div ng-controller="QueryImportExportCtrl" style="display: inline-block; float: right;">
					<button ng-click="exportQueryObject()" class="btn btn-primary">Export Query</button>
						<div class="file-upload">
							<label for="queryImport">Import Query</label> 
							<input type="file" id="queryImport" name="queryImport"	ng-submit="importQueryObject()" file-upload />
						</div>
					<br>
				</div>
			</div>
			<div id="leftPanel" ng-include src="leftPanelUrl">
			</div>


			<div id="center" class="col-md-8">
				<div id="analysis" ng-include src="analysisUrl"></div>
				<div ng-controller="RunQueryCtrl" style="display: inline-block; float: right;">
					<button ng-click="runQuery()" class="btn btn-primary">Run</button>
					<button ng-click="updateVisualizations()" class="btn btn-primary">Update</button>
					<button ng-click="clearWeave()" class="btn btn-primary">Clear</button>
				</div>
				<!-- <div ng-include src="geographyPanel"></div> -->
				<!--div id="weavePanel" ng-include src="weaveInstancePanel"></div-->
			</div>
		</div>

		<div id="Log">
			<h4>Log:</h4>
			<div id="LogBox"></div>
		</div>
