<div class="panel-body" ng-controller="ScatterPlotCtrl">
	<ul class="input-controls">
	
	<div>
		<p><b> ScatterPlotTool  Title</b></p>
		<input  style = "width : 100%" type="text" placeholder="Default" ng-model='service.queryObject.ScatterPlotTool.title'>
	</div>
	
	<div>
		X Column
		<select style = "width : 100%" ui-select2 ng-model="service.queryObject.ScatterPlotTool.X" data-placeholder="Choose X Column">
			<option></option>
			<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
		</select>
	</div>
	
	<div>
		Y Column
		<select style = "width : 100%" ui-select2 ng-model="service.queryObject.ScatterPlotTool.Y" data-placeholder="Choose Y Column">
		<option></option>
		<option value="{{output}}" ng-repeat="output in WeaveService.columnNames">{{output}}</option>
	</select>
	</div>
	</ul>

</div>
