<div class="project-management" ng-controller="ProjectManagementCtrl">
	<div >
		<div class="prj-contents" style="width: 100%; padding-left: 40px;">

			<div class="project-username">
				<span class="user-label">Username: </span>

				<input class="user-input" ng-model = "username" type = "text" placeholder = "Enter a username for the project">
				</input>

			</div>

			<br>

			<div style="width: 90%;  min-height: 100px;" class="panel panel-default">

				<div class="panel-heading">
					<h2>Manage Query Object and Projects</h2>
				</div>
				<div class="widget-selectors">
					<select ui-select2 ng-model="projectSelectorUI" style="width:200px;" data-placeholder="Select a project">
						<option></option>
						<option ng-repeat = "pjt in listOfProjects" value = "{{pjt}}">{{pjt}}</option>
					</select>

					<div style="display: inline-block; margin-left: 90px;">
						<button id = "newQueryObjectButton" type="button" class="btn btn-sm new-project-button" data-template="aws/queryObjectEditor/queryObjectEditPanel.html"
						data-placement="right" data-animation="am-slide-right" bs-aside="aside" data-container="body" ng-click = "load('newQueryObjectButton')">
							New Query Object
						</button>

						<button id = "newProjectButton"  type="button" class="btn btn-sm new-project-button" data-template= "aws/project/projectAdditionPanel.html"
						data-placement="right" data-animation="am-slide-right" bs-aside="aside2" data-container="body"  ng-click = "open()">
							Create a project
							<!-- <span class = "glyphicon glyphicon-plus-sign" ></span> -->
						</button>
						<button  ng-click = "deleteEntireProject()"  class="btn btn-sm new-project-button" data-trigger="hover" data-title="Delete this project" bs-tooltip>
							Delete selected project
							<!-- <span class = "glyphicon glyphicon-plus-sign" ></span> -->
						</button>
					</div>

					<div class="dd" id="nestable3">
						<ol ui-sortable class="dd-list" ng-model="listItems" id="queryObjectChoicesUI">
							<li class="dd-item dd3-item" data-id = "15"  ng-repeat="item in listItems" ng-click = "choseQueryObject(item)">
								<!-- <button data-action="collapse" type="button">Collapse</button><button data-action="expand" type="button" style="display: none;">Expand</button> -->
								<div class="dd-handle dd3-handle">
									Drag
								</div>
								<div class= "dd3-content d-list-content">
									<ul>
										<li>
											<b>Title: </b> {{item.title}}
										</li>
										<li>
											<b>Date: </b>{{item.date}}
										</li>
										<!-- <li>
										<b>Datatable: </b>{{item.dataTable.title}}
										</li>
										<li>
										<b>Script: </b> {{item.scriptSelected}}
										</li>
										<li>
										<b>Columns: </b> {{columnString}}
										</li> -->
									</ul>
								</div>

							</li>
						</ol>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>