<div ng-controller="ProjectManagementCtrl" style="display: inline-block; margin-left : 30px">
    <br>
    </br>
    Select Project 
    <select ui-select2 ng-model="projectSelectorUI" style=width:200px;>
        <option>Select Project</option>
        <option ng-repeat = "pjt in listOfProjects" value = "{{pjt}}">{{pjt}}</option>
    </select>
	<button type="button" style= "margin-left : 650px" class="btn btn-sm" data-template="aws/queryObjectEditor/queryObjectEditPanel.html" 
	data-placement="right" data-animation="am-slide-right" data-bs-aside="aside" data-container="body">
		<span class = "glyphicon glyphicon-plus" ></span></button>
    <br>
    </br>
    <br>
    Query Objects: <b>{{projectSelectorUI}}</b>
    </br>
    <br>
    </br>
    <!-- DROPDOWN COMPONENTS -->
    <!-- Houses the list and the buttons on the right -->
    <div style="/*display: inline-block;*/ margin-left : 30px ;width:1250px;height:600px;">
        <!-- Rectangle -->
        <div style=" width:1000px;height:500px;border:1px solid #000; overflow-y : scroll;" class="projects-div">
            <!-- DropDownList -->
            <ul ui-sortable ng-model="listItems" id="queryObjectChoicesUI" style="" class="listItems project-list"><!--Collection of queryObjects-->
                <li ng-repeat="item in listItems" ng-click = "choseQueryObject(item)" class = 'item'><!--single queryObject-->
                    <div class = "check"   style="border:1px solid #000">
                        <ul>
                            <li  class="project-panel">
                            	<div class= "info-div"><!--Contains the queryObject details -->
                            		<ul>
										<li>Title: {{item.title}}</li>
										<li>Date: {{item.date}}</li>
										<li>Date: {{item.date}}</li>
									</ul>
								</div><!--Contains the queryObject details END -->
								
								<!--Contains the run and delete buttons-->
								<div class= "button-div">
									<button ng-click = "runQueryInAnalysisBuilder()" style = "width : 30%" class ="btn btn-success"><span class = "glyphicon glyphicon-play-circle"></span></button>
									<button ng-click = "deleteSpecificQueryObject()" style = "width : 30%" class="btn btn-danger"><span class = "glyphicon glyphicon-remove-circle"></span></button>
									<button ng-click = "openInQueryObjectEditor()" style = "width : 30%" class="btn btn-default"><span></span></button>
								</div><!--Contains the run and delete buttons END-->
                                
                            </li>
                        </ul> 
                    </div>
                    <!--<project-query-button ></project-query-button>-->
                </li><!--single queryObject END-->
            </ul><!--Collection of queryObjects END-->
        </div>
        <!-- Rectangle -->
        <!--Contains all buttons -->
        <!--button ng-click = "loadQueryInAnalysisBuilder()" style = "margin-top: 10px; margin-left : 600px ; margin- bottom : 50px";  class="btn btn-primary">Load Query</button-->
        <button ng-click = "deleteEntireProject()" style ="margin-top: 10px; margin-left : 700px ; margin-bottom : 50px"  class="btn btn-primary">
Delete Current Project
        </button>
        <!--button ng-click = "runQueryInAnalysisBuilder()"style = "margin-top: 10px; margin-left : 30px ; margin- bottom : 50px"; class="btn btn-primary">Run Query</button-->
    </div>
</div>
