<div ng-controller="ProjectManagementCtrl" style="display: inline-block; margin-left : 30px">
	Select Project <select ui-select2 ng-model="projectSelectorUI" style=width:200px;>
			 <option></option>
			 <option ng-repeat = "pjt in listOfProjects" value = "{{pjt}}">{{pjt}}</option>
			 </select>
			 <br></br>
			   <br>Query Objects: <b>{{projectSelectorUI}}</b> </br>

		<br></br>
		
		
		<!-- DROPDOWN COMPOENENTS -->
		
		<!-- Houses the list and the buttons on the right -->
		
<div style="/*display: inline-block;*/ margin-left : 30px ;width:1250px;height:600px;">
		
		<!-- Rectangle -->
		<div style=" width:1000px;height:500px;border:1px solid #000;">
		   <!-- DropDownList -->
					<ul ui-sortable ng-model="listItems" id="queryObjectChoicesUI" style="margin-left: 20px" class="listItems">
						<li  ng-repeat="item in listItems" class = 'item'> 
						<project-query-button > </project-query-button> Drag And Drop
						</li>
					</ul>
				
		</div><!-- Rectangle -->
		
		<!--Contains all buttons -->
		
		<button ng-click = "loadQueryInAnalysisBuilder()"style = "margin-top: 10px; margin-left : 600px ; margin- bottom : 50px";  class="btn btn-primary">Load Query</button>
		<button ng-click = "deleteQuery()"style = "margin-top: 10px; margin-left : 30px ; margin- bottom : 50px";  class="btn btn-primary">Delete Query</button>
		<button ng-click = "runQueryInAnalysisBuilder()"style = "margin-top: 10px; margin-left : 30px ; margin- bottom : 50px"; class="btn btn-primary">Run Query</button>
		
		
</div></div>
